<div class="grid-container">
  <span class="grid-title">{{ discoverState.currentGroup?.name ?? 'discover' }}</span>
  <div class="grid">
    <div class="grid-card" *ngIf="circles.length === 0"></div>
    <discover-card
      class="grid-card"
      *ngFor="let circle of circles"
      [circle]="circle"
      [routerLink]="'/c/' + (circle.urlName ? circle.urlName : circle.name)"
    ></discover-card>
    <div *ngIf="loading" class="loading-indicator">
      <img width="50" height="50" src="assets/icons/loading.gif" icon />
    </div>
  </div>
  <picnic-text-button label="see more" (byClick)="next()" *ngIf="hasNext"></picnic-text-button>
</div>
