.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin-top: 8px;
}

.grid-card {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
