.form-control {
  border-radius: 0px;
}
.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-label {
  font-size: 10.5pt;
  font-weight: 600;
  line-height: 12px;
}

.picnic-control {
  padding-top: 10px;
  border-radius: 15px;
  border: 1px solid var(--stroke-color);
}

.picnic-control:focus {
  outline: none;
  box-shadow: none;
}

.form-section {
  display: flex;
  width: 100%;
  gap: 10px;
}

@media only screen and (max-width: 800px) {
  .form-section {
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 15px;
  }
}
