<h3>Please fill this form to create a brand new pod</h3>
<br />

<form [formGroup]="form" novalidate content>
  <div class="form-section">
    <div class="form-group">
      <label class="form-label">pod url</label>
      <text-input
        borderRadius="15px"
        border="1px solid var(--stroke-color)"
        hint="enter url"
        formControlName="url"
        bgColor="var(--bg-color)"
      ></text-input>
    </div>

    <div class="form-group">
      <label class="form-label">name</label>
      <text-input
        borderRadius="15px"
        border="1px solid var(--stroke-color)"
        hint="enter name"
        formControlName="name"
        bgColor="var(--bg-color)"
      ></text-input>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label">image url</label>
    <text-input
      borderRadius="15px"
      border="1px solid var(--stroke-color)"
      hint="enter image url"
      formControlName="imageUrl"
      bgColor="var(--bg-color)"
    ></text-input>
  </div>

  <div class="form-section">
    <div class="form-group">
      <label class="form-label">description</label>
      <text-input
        [textArea]="true"
        [textAreaRows]="3"
        borderRadius="15px"
        border="1px solid var(--stroke-color)"
        type="text"
        hint="enter description"
        formControlName="description"
        bgColor="var(--bg-color)"
      ></text-input>
    </div>
    <div class="form-group">
      <label class="form-label">tags</label>
      <select class="form-control picnic-control" id="tagIds" formControlName="tagIds" multiple>
        <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.name }}</option>
      </select>
    </div>
  </div>

  <div class="form-section">
    <div class="form-group">
      <label class="form-label">permissions</label>
      <select class="form-control picnic-control" id="permissionIds" formControlName="permissionIds" multiple>
        <option *ngFor="let p of permissions" [value]="p.id">{{ p.uxName }} ({{ p.description }})</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-label">subscriptions</label>
      <select class="form-control picnic-control" id="subscriptionIds" formControlName="subscriptionIds" multiple>
        <option *ngFor="let s of subscriptions" [value]="s.id">{{ s.descriptor }}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <picnic-button [disabled]="!form.valid" label="create" padding="8px 25px" (byClick)="create()">
      <picnic-icon name="category" [size]="20" icon></picnic-icon>
    </picnic-button>
  </div>
</form>
