.content-container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-title {
  color: var(—text-color);
  font-size: 30px;
  font-weight: 500;
}

.section-description {
  color: var(—text-color);
  font-size: 20px;
  font-weight: 400;
}
