<div class="sidebar-container" (swipeleft)="onSwipeLeftSidebar()">
  <section class="user-section">
    <picnic-avatar
      routerLink="u"
      [size]="54"
      [showFollows]="false"
      [src]="state.profile ? state.profile.profileImage : 'assets/picnic-logo.svg'"
      bgColor="var(--bg-color)"
    ></picnic-avatar>
    <div class="user-info-container">
      <span class="fullname-label">{{
        state.profile?.fullName ? state.profile?.username : state.profile?.fullName
      }}</span>
      <span class="username-label">{{ state.profile?.username ?? '' | formattedUsername }}</span>
    </div>
  </section>

  <section *ngIf="!emptyCollections" class="content-section">
    <div class="title-container">
      <span class="content-title">collections</span>
      <picnic-text-button
        (byClick)="onTapViewAllCollections()"
        label="view all"
        color="#007bff"
        padding="2px 8px"
      ></picnic-text-button>
    </div>
    <div class="collections-container">
      <collection-card
        class="collection-card"
        *ngFor="let c of collections"
        [collection]="c"
        (click)="onTapViewAllCollections()"
      ></collection-card>
    </div>
  </section>

  <section *ngIf="!emptyRecentCircles" class="content-section">
    <div class="title-container">
      <span class="content-title">circles</span>
      <picnic-text-button
        (byClick)="onTapViewAllCircles()"
        label="view all"
        color="#007bff"
        padding="2px 8px"
      ></picnic-text-button>
    </div>
    <div class="circles-container">
      <list-item
        *ngFor="let c of recentCircles"
        [image]="c.imageFile ? c.imageFile : c.image"
        [emojiSize]="32"
        [imageSize]="32"
        [emojiMode]="!c.imageFile"
      >
        <ng-template>
          <span class="circle-name-label">{{ c.name }}</span>
        </ng-template>
      </list-item>
    </div>
  </section>

  <section class="buttons-section">
    <div (click)="$event.stopPropagation(); onTapCreateCircle()" class="button-container">
      <span class="button-label">create circle</span>
      <picnic-icon-button
        name="plus-circle"
        [rounded]="true"
        [size]="45"
        bgColor="transparent"
        iconColor="var(--text-color)"
      ></picnic-icon-button>
    </div>

    <div (click)="onTapDiscover()" class="button-container">
      <span class="button-label">discover</span>
      <picnic-icon-button
        name="discover"
        [iconSize]="26"
        [size]="45"
        [rounded]="true"
        bgColor="transparent"
        iconColor="var(--text-color)"
      ></picnic-icon-button>
    </div>
  </section>
</div>
