.sidebar-container {
  padding: 20px 28px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  gap: 6px;
  min-width: 250px;
  padding-bottom: 80px;
}

.sidebar-container::-webkit-scrollbar {
  width: 0;
  display: none;
}

.user-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--stroke-color);
  padding-bottom: 3px;
  height: 57px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  gap: 7px;
}

.fullname-label {
  text-shadow: 1px 0 0 currentColor;
  font-size: 14pt;
  letter-spacing: 0.6px;
  line-height: 15px;
  color: var(--text-color);
}

.username-label {
  font-size: 13pt;
  line-height: 15px;
  font-weight: 100;
  color: var(--text-secondary-color);
  opacity: 0.5;
}

.content-section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--stroke-color);
  height: 260px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-title {
  font-weight: 800;
  color: var(--text-color);
  text-shadow: 0.5px 0 0 currentColor;
  font-size: 14pt;
  letter-spacing: 0.6px;
}

.collections-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 22px;
}

.collections-container::-webkit-scrollbar {
  height: 0;
  display: none;
}

.collection-card {
  height: calc(100% - 14px);
  width: 135px;
  min-width: 135px;
}

.buttons-section {
  gap: 14px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
  min-width: 240px;
  max-width: 240px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  background-color: rgb(236, 236, 236);
  padding-left: 22px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-top: 0;
}

.button-label {
  font-weight: 800;
  color: var(--text-color);
  text-shadow: 0.3px 0 0 currentColor;
  font-size: 12.5pt;
  letter-spacing: 0.6px;
}

.circles-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  min-height: 200px;
  overflow: auto;
  margin-bottom: 18px;
  padding-top: 10px;
  gap: 10px;
}

.circles-container::-webkit-scrollbar {
  height: 0;
  display: none;
}

.circle-name-label {
  font-size: 14pt;
}
