.page-container {
  height: 100%;
  width: 100%;
  padding: 0 0 0x 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 26px;
  margin-top: 16px;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-bottom: 130px;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 18px 32px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 10px 32px 0 26px;
  }

  .list-container {
    padding-bottom: 30px;
  }
}
