<picnic-onboarding-dialog
  emoji="📱"
  [emojiSize]="45"
  title="make an account"
  [subtitle]="'enter your phone number or sign up\nusing one of the options below'"
  progress="40%"
>
  <form class="d-flex flex-column gap-1" [formGroup]="loginWithPhoneForm" novalidate content>
    <text-input-dropdown
      formControlName="phone"
      [maxHeight]="160"
      inputHeight="52px"
      [items]="items"
      [initialValue]="initialValue"
      hint="your phone number"
      (bySelect)="onSelectPhoneCode($event)"
      [searchable]="true"
      searchHint="🔍 search for your country"
      (bySearch)="onSearchCountry($event)"
    >
    </text-input-dropdown>

    <div class="d-flex justify-content-start align-items-center terms-label">
      <picnic-icon name="info-circle" color="#B3B3B3" [size]="18"></picnic-icon>
      <span>&nbsp; by continuing you agree to</span>
      <picnic-text-button label="terms" color="#0065D1" padding="4px"></picnic-text-button>
      <span>and</span>
      <picnic-text-button label="policies" color="#0065D1" padding="4px"></picnic-text-button>
    </div>

    <picnic-button class="mt-2" btnId="continue-btn" color="#007BFF" label="continue" width="100%" height="48px">
    </picnic-button>

    <span class="separator-label">or</span>

    <div class="d-md-flex align-items-center w-100 gap-3">
      <button class="social-button mb-2 mb-md-0" (click)="loginWithService('google')">
        <span>Sign up</span>
        <picnic-icon name="google" [size]="20"></picnic-icon>
      </button>

      <button class="social-button" (click)="loginWithService('apple')">
        <span>Sign up</span>
        <picnic-icon class="pb-1" name="apple" [size]="20"></picnic-icon>
      </button>

      <button class="social-button" (click)="discordAuth()">
        <span>Sign up</span>
        <picnic-icon name="discord" [size]="20"></picnic-icon>
      </button>
    </div>
  </form>
</picnic-onboarding-dialog>
