<div class="container">
  <div class="row justify-content-center">
    <collection-card *ngFor="let collection of collections" [collection]="collection" class="collection-container mt-3">
    </collection-card>
  </div>
</div>
