.circle-tag {
  //font-size: 12pt;
  line-height: 1rem;
  // background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  // background-color: var(--link-bg-color);
  transition: 0.2s background-position;
  border-radius: 16px;
}

.circle-tag:hover {
  background-position: bottom;
}

.follow-button {
  transform: translateY(-1px);
}

// .circle-emoji {
//   padding-top: 2px;
//   padding-right: 2px;
// }

.circle-name {
  //font-size: 12pt;
  color: var(--subtitle-color);
}
