<div
  (click)="handleClick()"
  role="button"
  class="circle-tag d-inline-flex flex-row align-content-center align-items-center gap-1"
>
  <span class="circle-emoji">
    <picnic-avatar
      [src]="circle?.imageFile || circle?.image || ''"
      [emojiMode]="!circle?.imageFile"
      [showFollows]="false"
      emojiSize="24"
      [size]="24"
      bgColor="#f9f9f9"
    >
    </picnic-avatar>
  </span>
  <span class="circle-name">{{ circle?.name }}</span>
  <picnic-icon
    (click)="$event.stopPropagation(); circleFollow()"
    class="follow-button"
    color="#fff"
    [padding]="2"
    borderRadius="50%"
    bgColor="#0065D1"
    *ngIf="!follows"
    name="plus"
    [size]="20"
  ></picnic-icon>
</div>
