<button
  (click)="handleClick()"
  [id]="btnId"
  [disabled]="disabled"
  [ngStyle]="getStyle"
  class="picnic-button"
  type="button"
>
  <ng-content select="[icon]"></ng-content>
  <span [ngStyle]="{ 'font-size': textSize, 'font-weight': textWeight }">{{ label }}</span>
</button>
