.picnic-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  font-weight: 500;
  gap: 6px;
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  color: #fff;
  border-radius: 1000px;
  border: none;
  transition-property: opacity, background-position, background-color, color;
  transition-duration: 0.2s;
  white-space: nowrap;
}

.picnic-button:hover {
  background-position: bottom;
}

.picnic-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled-container {
  position: absolute;
  background: var(--bg-color);
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  border-radius: 1000px;
}

.disabled {
  opacity: 0.55;
}
