.page-container {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.content-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  transition: padding 0.2s ease-in;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.sidebar {
  width: 250px;
  min-width: 250px;
  box-shadow: 1px 0 0 var(--stroke-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  height: 100%;
  transition: 0.2s linear;
  background-color: var(--bg-color);
  margin: 1px;
  overflow-y: auto;
  padding-bottom: 180px;
}

.sidebar::-webkit-scrollbar {
  display: none;
  width: 0;
}

.hide-sidebar {
  transform: translateX(-245px);
}

.content-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  transition: padding 0.2s ease-in;
}

.content-sidebar-active {
  padding-left: 0px;
}

.content-container::-webkit-scrollbar {
  display: none;
}

.title-label {
  font-weight: bold;
  font-size: 16pt;
  margin-top: 2px;
}

.subtitle-label {
  color: rgb(130, 130, 130);
  font-weight: 400;
  //font-size: 12pt;
}

.back-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px;
  user-select: none;
  gap: 4px;
  background-color: var(--bg-color);
  color: #2b3f6c;
  font-size: 16pt;
}

.sidebar-button {
  margin-top: 26px;
  margin-left: 26px;
}

.sidebar-button-inside {
  margin-left: 38px;
}

.exit-button {
  font-weight: 400;
  //font-size: 14pt;
  color: var(--text-color);
}

.child-container {
  background-color: var(--bg-color);
  border-top: 1px solid var(--stroke-color);
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .content-sidebar-active {
    padding-left: 252px;
  }

  .sidebar-button {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  .sidebar-button-inside {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    padding-bottom: 70px;
  }
}
