<div class="page-container">
  <moderation-breadcrumb [circle]="circle" [activePath]="selectedSetting"></moderation-breadcrumb>
  <div class="content-container">
    <div [ngClass]="{ 'hide-sidebar': !showSidebar }" clic class="sidebar">
      <div class="back-button-container">
        <picnic-icon-button
          (byClick)="goBack()"
          name="arrow-left"
          padding="2px 2px 4px 2px"
          bgColor="transparent"
          [iconSize]="20"
          iconColor="var(--text-color)"
          [rounded]="true"
          suffix
        ></picnic-icon-button>
        <span role="button" (click)="goBack()" class="exit-button">exit mod tools</span>
        <picnic-icon-button
          class="sidebar-button-inside"
          name="menu"
          bgColor="var(--text-color)"
          iconColor="white"
          [rounded]="true"
          [size]="30"
          padding="0 0 2px 0"
          (byClick)="toggleSidebar()"
        ></picnic-icon-button>
      </div>
      <settings-list
        (byItemSelected)="handleItemSelected($event)"
        [settings]="moderationSettings"
        [otherItems]="otherSettings"
        firstTitle="moderation"
        secondTitle="settings"
      ></settings-list>
    </div>

    <div [ngClass]="{ 'content-sidebar-active': showSidebar }" class="content-container">
      <picnic-icon-button
        class="sidebar-button"
        name="menu"
        bgColor="var(--bg-color)"
        iconColor="white"
        [rounded]="true"
        padding="0 0 2px 0"
        [size]="30"
        (byClick)="toggleSidebar()"
      ></picnic-icon-button>
      <div class="child-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
