.collection-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 6px;
}

.collection-container:hover > .round-container {
  filter: brightness(0.85);
}

.round-container {
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: filter 0.2s ease-in-out;
}

.title-label {
  font-style: normal;
  font-weight: bold;
  //font-size: 12pt;
  color: var(--text-color);
}

.posts-count-label {
  font-weight: 400;
  //font-size: 12pt;
  line-height: 2px;
  color: #808080;
}

.content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.media-content {
  height: 100%;
  width: 100%;
}

.text-content {
  height: 100%;
  width: 100%;
  padding: 10px;
  color: var(--text-color);
  //font-size: 12pt;
  font-weight: 400;
  background: linear-gradient(259.77deg, #86c8f5 -3.62%, #6aaaf5 43.19%, #97a9f5 103.12%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.big-text {
  font-size: 16pt;
}

.primary-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2.5px;
}

.secondary-container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2.5px;
  flex-direction: column;
}
