<div (click)="handleClick()" role="button" class="collection-container">
  <div class="round-container">
    <div class="primary-container">
      <ng-container *ngIf="itemExist(0)">
        <ng-container
          [ngTemplateOutlet]="content"
          [ngTemplateOutletContext]="{ item: collection.previewPosts![0], index: 0 }"
        >
        </ng-container>
      </ng-container>

      <div *ngIf="itemExist(1)" class="secondary-container">
        <ng-container>
          <ng-container
            [ngTemplateOutlet]="content"
            [ngTemplateOutletContext]="{ item: collection.previewPosts![1], index: 1 }"
          >
          </ng-container>
        </ng-container>

        <ng-container *ngIf="itemExist(2)">
          <ng-container
            [ngTemplateOutlet]="content"
            [ngTemplateOutletContext]="{ item: collection.previewPosts![2], index: 2 }"
          >
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <span class="title-label">{{ collection.title }}</span>
  <span class="posts-count-label">{{ collection.counters.posts }} posts</span>
</div>

<ng-template let-item="item" let-index="index" #content>
  <div class="content">
    <div class="media-content">
      <img [src]="itemValue(item)" *ngIf="itemValue(item); else nonValue" width="100%" height="100%" />
      <ng-template #nonValue>
        <picnic-icon name="folder-duotone" [size]="20"></picnic-icon>
      </ng-template>
    </div>
    <!--    <div *ngSwitchCase="contentTypeEnum.Text" class="text-content" [ngClass]="{ 'big-text': index === 0 }">-->
    <!--      {{ item?.value }}-->
    <!--    </div>-->
  </div>
</ng-template>
