<div (click)="showModalForGuest()" class="comment-container">
  <!-- <div class="actions-container">
    <picnic-icon-button
      [disabled]="isGuestUser"
      name="paperclip"
      bgColor="transparent"
      iconColor="#808080"
      padding="2px"
      [iconSize]="20"
    ></picnic-icon-button>
    <picnic-icon-button
      [disabled]="isGuestUser"
      name="thunderbolt"
      bgColor="transparent"
      iconColor="#808080"
      padding="2px"
      [iconSize]="20"
    ></picnic-icon-button>
  </div> -->
  <div class="input-container">
    <text-input
      [disabled]="isGuestUser"
      [(ngModel)]="replyText"
      width="100%"
      hint="what's on your mind? 🤔"
    ></text-input>
  </div>
  <!-- <picnic-icon-button
    (byClick)="handleCommentCreated()"
    [loading]="loadingComment"
    [disabled]="disableCommentCreation"
    name="send"
    bgColor="#007BFF"
    iconColor="white"
    padding="0 1px 2px 0"
    loadingPadding="2px 0 0 1px"
    [iconSize]="20"
    [rounded]="true"
    [size]="42"
  ></picnic-icon-button> -->
  <picnic-button
    (byClick)="handleCommentCreated()"
    [disabled]="disableCommentCreation"
    [label]="replyMode ? 'send comment' : 'post'"
    bgColor="#007BFF"
    [width]="replyMode ? '170px' : '100px'"
    height="40px"
  >
    <picnic-icon name="send-outline" [size]="22" color="#fff" icon> </picnic-icon>
  </picnic-button>
</div>
