.comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.input-container {
  width: 100%;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
