<picnic-onboarding-dialog
  emoji="💬"
  [emojiSize]="48"
  title="select language"
  subtitle="what language do you speak?"
  progress="20%"
  [loading]="loading"
>
  <div class="d-flex flex-column gap-3" content>
    <language-item-selector [items]="languages" (bySelect)="selectLanguage($event)"></language-item-selector>

    <picnic-button (byClick)="onContinue()" color="#FF5D7B" label="continue" width="100%" height="48px"></picnic-button>
  </div>
</picnic-onboarding-dialog>
