<div class="row">
  <div class="col-12">
    <text-input [(ngModel)]="text" hint="what's on your mind? 🤔" [textArea]="true" [textAreaRows]="3"></text-input>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-6 col-xs-10">
    <picnic-button [label]="'first image'" (byClick)="choiceFile('first')"></picnic-button>
  </div>
  <div class="col-md-6 col-xs-2">
    <picnic-button [label]="'second image'" (byClick)="choiceFile('second')"></picnic-button>
  </div>
</div>

<div class="row">
  <div class="content-container col-12">
    <picnic-button [disabled]="!enablePost" label="post" padding="8px 25px" (byClick)="createPost()">
      <picnic-icon name="plane-outline" [size]="20" icon></picnic-icon>
    </picnic-button>
  </div>
</div>
<br />

<div class="row">
  <div class="col-6">
    <img class="img-thumbnail" width="260" height="260" *ngIf="previewUrl" [src]="previewUrl" alt="first image" />
  </div>
  <div class="col-6">
    <img class="img-thumbnail" width="260" height="260" *ngIf="previewUrl2" [src]="previewUrl2" alt="second image" />
  </div>
</div>
