<div class="modal-chat">
  <div class="chat-header">
    <div
      class="circle-info-section"
      [ngStyle]="{ cursor: 'pointer' }"
      (click)="this.chat?.chatType === 'SINGLE' ? onTapProfile(chat?.name) : onTapCircle()"
    >
      <picnic-avatar
        *ngIf="avatar"
        [src]="avatar"
        [size]="34"
        [emojiMode]="emojiMode"
        [showFollows]="false"
      ></picnic-avatar>
      <div class="data-header-section">
        <span class="circle-name">{{ chat?.name }}</span>
      </div>
    </div>

    <div class="chat-header-actions">
      <picnic-icon-button
        (byClick)="onTapCloseModal(chat?.id ?? '')"
        name="close"
        padding="2px"
        bgColor="transparent"
        [iconSize]="23"
        iconColor="var(--text-secondary-color)"
        [rounded]="true"
        suffix
      ></picnic-icon-button>
    </div>
  </div>

  <div class="message-list">
    <chat-message-list [chat]="chat!" (byReplyTo)="onTapReply($event)"></chat-message-list>
  </div>

  <div class="chat-footer">
    <chat-bottom-bar
      [replyTo]="replyTo"
      [files]="files"
      (byCancelReply)="onTapCancelReply()"
      (byDeleteAttachment)="onTapDeleteAttachment($event)"
      (byUploadAttachment)="onTapUploadAttachment()"
      (bySendMessage)="onTapSendMessage($event)"
    ></chat-bottom-bar>
  </div>
</div>
