.modal-chat {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 400px;
  background-color: var(--bg-color);
  border: 1px solid var(--stroke-color);
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.03);
}

.chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 8px;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid var(--stroke-color);
  border-radius: 12px 12px 0px 0px;
}

.circle-info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.data-header-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.circle-name {
  font-weight: 500;
  font-size: 11pt;
  color: #0065d1;
  line-height: 18px;
  text-decoration-line: underline;
}

.active-count {
  font-weight: 300;
  font-size: 9pt;
  display: flex;
  color: var(--text-color);
  line-height: 18px;
}

.active-icon {
  //font-size: 12pt;
  color: #41da01;
  line-height: 18px;
}

.chat-header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.message-list {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 0 8px;
}

.chat-footer {
  width: 100%;
  padding: 8px;
  padding-top: 0px;
}
