.icon-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  background-color: #f1f7fc;
  transition: background-position 0.2s, opacity 0.2s;
  gap: 5px;
  position: relative;
}

.icon-button:hover {
  background-position: bottom;
}

.icon-button:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.icon-label {
  //font-size: 12pt;
}

.selected {
  font-weight: 600;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fa3e3e;
  border-radius: 50%;
  color: white;
}
