<button [disabled]="disabled" type="button" [ngStyle]="getStyle" (click)="handleClick($event)" class="icon-button">
  <ng-container *ngIf="!loading; else loadingIcon">
    <svg-icon [name]="name" [svgStyle]="getIconStyle" *ifIsBrowser></svg-icon>
    <span class="badge" *ngIf="badgeCounter">{{ badgeCounter }}</span>
    <span
      [ngStyle]="{ color: iconColor, 'font-size': labelSize }"
      [class.selected]="selected"
      class="icon-label"
      *ngIf="verticalLayout && label"
      >{{ label }}</span
    >
  </ng-container>
</button>

<ng-template #loadingIcon>
  <img [ngStyle]="getLoadingStyle" [width]="iconSize" [height]="iconSize" src="assets/icons/loading.gif" />
</ng-template>
