<div class="content-container">
  <h1>Feed</h1>

  <div class="section">
    <h2>Overview</h2>
    <p>
      This documentation section describes the GraphQL queries related to feed operations in the web application. The
      following operations are covered:
    </p>
    <ul>
      <li>FeedConnection</li>
      <li>FeedPostsConnection</li>
      <li>PopularFeed</li>
    </ul>
  </div>

  <div class="section">
    <h2>Data Types</h2>
    <h3>Feed</h3>
    <ul>
      <li><code>id</code>: string</li>
      <li><code>type</code>: string</li>
      <li><code>name</code>: string</li>
      <li><code>circle</code>?: Circle</li>
      <li><code>circleId</code>?: string</li>
    </ul>

    <h3>FeedEdge</h3>
    <ul>
      <li><code>cursorId</code>: string</li>
      <li><code>node</code>: Feed</li>
    </ul>

    <h3>FeedConnectionResponse</h3>
    <ul>
      <li>
        <code>feedsConnection</code>:
        <ul>
          <li><code>pageInfo</code>: PageInfo</li>
          <li><code>edges</code>: FeedEdge[]</li>
        </ul>
        }
      </li>
    </ul>

    <h3>FeedPostsConnectionResponse</h3>
    <ul>
      <li>
        <code>feedPostsConnection</code>:
        <ul>
          <li><code>pageInfo</code>: PageInfo</li>
          <li><code>edges</code>: PostEdge[]</li>
        </ul>
        }
      </li>
    </ul>

    <h3>PopularFeedResponse</h3>
    <ul>
      <li><code>popularFeed</code>: Feed</li>
    </ul>
  </div>

  <div class="section">
    <h2>Queries</h2>
    <h3>FeedConnection</h3>
    <ul>
      <li>Input: <code>cursor: CursorInput!</code></li>
      <li>Output: FeedConnectionResponse</li>
      <li>Description: Retrieves a connection of feeds based on the given cursor input.</li>
    </ul>

    <h3>FeedPostsConnection</h3>
    <ul>
      <li>Input: <code>feedId: String!</code>, <code>cursor: CursorInput!</code></li>
      <li>Output: FeedPostsConnectionResponse</li>
      <li>Description: Retrieves a connection of posts in a feed based on the given feed ID and cursor input.</li>
    </ul>

    <h3>PopularFeed</h3>
    <ul>
      <li>Output: PopularFeedResponse</li>
      <li>Description: Retrieves the popular feed data.</li>
    </ul>
  </div>
</div>
