<div class="page-container">
  <page-header backRoute="/u/settings" title="community guidelines"></page-header>

  <div class="content-container">
    <h1>Picnic Community Guidelines</h1>
    <p>
      Picnic is a community-based social media platform priding itself on creating healthy and engaging communities for
      all interests. At Picnic, we prioritize an environment that is safe, inclusive, diverse, and open. Our Community
      Guidelines ensure every user has a safe experience to authentically create and share.
    </p>

    <p>
      We created the Community Guidelines so you can help us foster and protect this awesome community. We're committed
      to these guidelines and following the law. We hope you are too. Not following these guidelines may result in
      deleted content, being banned or other restrictions.
    </p>

    <p>
      Our Safety team proactively enforces these guidelines with a mix of technology and moderation reports from users
      and moderators. We will remove any content or ban accounts that violate our Community Guidelines. If you come
      across a user, message, or server that appears to break our Community Guidelines, please report it
      <span (click)="onTapReportLink()" class="link">HERE</span>.
    </p>

    <h1>Respect members of the Picnic community</h1>
    <p class="vignete-item">
      <span class="vignete">•</span> Do not harass others or organize, promote, or participate in harassment.
    </p>
    <p class="vignete-item">
      <span class="vignete">•</span> Do not organize, promote, or participate in hate speech. It's unacceptable to
      attack a person or a community based on attributes such as their race, ethnicity, national origin, sex, gender
      identity, sexual orientation, religious affiliation, age, serious illness, or disabilities.
    </p>
    <p class="vignete-item">
      <span class="vignete">•</span> Do not make threats of violence or threaten to harm others.
    </p>
    <p class="vignete-item">
      <span class="vignete">•</span> Do not use Picnic to organize, promote, or support violent extremism.
    </p>
    <p class="vignete-item">
      <span class="vignete">•</span> Do not sexualize children in any way. You cannot share content or links which
      depict children in a pornographic, sexually suggestive, or violent way.
    </p>
    <p class="vignete-item"><span class="vignete">•</span> Do not share sexually explicit content.</p>
    <p class="vignete-item">
      <span class="vignete">•</span> Do not share content that glorifies or promotes suicide or self-harm.
    </p>
    <p class="vignete-item">
      <span class="vignete">•</span> Do not share real media depicting gore, excessive violence, or animal harm.
    </p>
    <p class="vignete-item"><span class="vignete">•</span> Follow the law.</p>
    <p class="vignete-item"><span class="vignete">•</span> Do not share false or misleading information.</p>
    <p class="vignete-item">
      <span class="vignete">•</span> Do not coordinate or participate in malicious impersonation of an individual or an
      organization.
    </p>
    <p class="vignete-item">
      <span class="vignete">•</span> Do not engage in activities intended to cause damage or gain unauthorized access to
      another user's account, network, or system.
    </p>
    <p class="vignete-item">
      <span class="vignete">•</span> Share only your content or that you have the right to share.
    </p>

    <h1>Respect Picnic</h1>
    <p class="vignete-item">
      <span class="vignete">•</span> Do not use Picnic to spam, manipulate engagement, or disrupt other people's
      experience.
    </p>
    <p class="vignete-item">
      <span class="vignete">•</span> Do not organize, promote, or engage in any illegal or dangerous behavior, such as
      sexual solicitation, human trafficking, and selling or facilitating the sale of prohibited or potentially
      dangerous goods (firearms, ammunition, drugs, and controlled substances). You'll be reported to law enforcement.
    </p>
    <p class="vignete-item"><span class="vignete">•</span> Do not use self-bots or user-bots.</p>
    <p class="vignete-item"><span class="vignete">•</span> Do not mislead Picnic's support teams.</p>

    <p>
      Help keep the community safe and vibrant. If you see any activity that violates these guidelines, please report it
      to us
      <span (click)="onTapReportLink()" class="link">HERE</span>. Thanks for doing your part to help us keep Picnic a
      safe and healthy place.
    </p>

    <p>- The Picnic Team</p>
  </div>
</div>
