.page-container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  padding: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

.page-container::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.list-label {
  font-size: 18pt;
  font-weight: 500;
  transform: translate(0, -5px);
}

.content-container {
  margin-top: 30px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-bottom: 80px;
}

.link {
  color: #56cfe8;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.vignete {
  font-size: 9pt;
  margin-top: 4px;
}

.vignete-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-left: 15px;
}

p {
  font-weight: 300;
}

h1 {
  font-weight: 400;
  font-size: 16pt;
}

@media only screen and (max-width: 768px) {
  .content-container {
    padding-bottom: 10px;
  }
}
