.post-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.post-container {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  border-left: 1px solid var(--stroke-color);
  border-right: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
}

.divider {
  border-top: 1px solid var(--stroke-color);
  margin: 25px 0 12px 0;
}

.border-b {
  border-bottom: 1px solid var(--stroke-color);
}

.media-width {
  width: 100%;
  margin-top: 4px;
}

.info-width {
  width: 100%;
}

.post-caption {
  //font-size: 14pt;
  color: var(--caption-color);
}

@media only screen and (max-width: 1024px) {
  .is-desktop {
    display: none;
  }

  .media-width {
    width: 100%;
    margin-top: 8px;
  }
}
