<div
  (click.single)="goToPreview()"
  class="d-none d-sm-block m-0 d-flex flex-column justify-center align-content-center gap-2 post-container"
>
  <!--d-none  d-sm-block hides from mobile  -->
  <div class="d-flex fle-row justify-content-between align-content-center post-padding pb-2">
    <post-creator-info (click)="$event.stopPropagation()" [post]="post"></post-creator-info>
  </div>

  <div
    [style.marginTop.px]="postCaption ? '5' : ''"
    class="d-flex justify-content-start align-items-center text-left post-padding"
  >
    <span class="post-caption" (click.single)="goToPreview()" (click.double)="like()"
      >{{ postCaption }}
      <span *ngIf="post?.textContent?.more?.trim()" [style.color]="post?.textContent?.color" class="post-caption">{{
        postCaptionExtra
      }}</span></span
    >
  </div>

  <div class="media-width post-padding">
    <ng-container *ngIf="contentRef && post?.type !== 'TEXT'">
      <div (click)="$event.stopPropagation()" [style.marginTop.px]="postCaption ? '8' : '15'" class="media-width">
        <ng-container *ngIf="contentRef">
          <ng-container *ngTemplateOutlet="contentRef"></ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="info-width d-flex flex-column">
    <div class="mt-3 d-flex flex-column justify-content-between align-content-center">
      <post-actions
        (click)="$event.stopPropagation()"
        class="align-self-center w-100 post-padding"
        [post]="post"
      ></post-actions>
      <message-list
        *ngIf="showComments"
        (click)="$event.stopPropagation()"
        class="mt-1 message-list"
        [postId]="post!.id"
        [mode]="messageListMode"
      ></message-list>
    </div>
  </div>
</div>
<!-- only for mobile -->
<div class="d-block d-sm-none d-flex flex-column justify-content-center align-content-center pt-3 border-b">
  <div class="d-flex fle-row justify-content-between align-content-center px-3 pb-1">
    <post-creator-info (click)="$event.stopPropagation()" [post]="post"></post-creator-info>
  </div>

  <div
    [style.marginTop.px]="post?.type === 'TEXT' ? '5' : ''"
    class="d-flex justify-content-start align-items-center text-left post-padding"
  >
    <span class="post-caption" (click.single)="goToPreview()" (click.double)="like()"
      >{{ postCaption }}
      <span *ngIf="post?.textContent?.more?.trim()" [style.color]="post?.textContent?.color" class="post-caption">{{
        postCaptionExtra
      }}</span></span
    >
  </div>
  <div (click)="$event.stopPropagation()" class="media-width">
    <ng-container *ngIf="contentRef">
      <ng-container *ngTemplateOutlet="contentRef"></ng-container>
    </ng-container>
  </div>

  <post-actions
    (click)="$event.stopPropagation()"
    class="px-3 py-3"
    [post]="post"
    [mobileLayout]="isMobileLayout"
  ></post-actions>
  <message-list
    *ngIf="showComments"
    (click)="$event.stopPropagation()"
    class="mt-1 message-list"
    [postId]="post!.id"
    [mode]="messageListMode"
  ></message-list>
</div>
