<modal-wrapper [isOpen]="isOpen" (click)="onCloseOutside($event)">
  <div click.stop content [class]="circleCreatedSucceded ? 'created-modal-container' : 'modal-container'">
    <ng-container *ngIf="!circleCreatedSucceded">
      <div *ngIf="!circleCreatedSucceded" class="scrollable-container" #scrollContainer>
        <div class="top-section">
          <span class="modal-title">create circle</span>
          <picnic-icon-button
            (byClick)="close()"
            name="close"
            padding="2px"
            bgColor="transparent"
            [rounded]="true"
            iconColor="var(--text-secondary-color)"
            [iconSize]="22"
          ></picnic-icon-button>
        </div>
        <div class="image-section">
          <div [ngStyle]="{ 'background-image': 'url(' + coverFileUrl + ')' }" class="hero-image">
            <picnic-icon *ngIf="!coverExists" class="image-placeholder" name="image-duotone" [size]="60"></picnic-icon>
            <picnic-icon-button
              (byClick)="openCoverFileSelector()"
              class="edit-button"
              name="repeat"
              [iconSize]="14"
              [size]="28"
              padding="0 0 2px 1px"
              bgColor="#007BFF"
              iconColor="white"
              [rounded]="true"
              rightIcon
            ></picnic-icon-button>

            <picnic-icon-button
              *ngIf="coverExists"
              (byClick)="onTapDiscardCover()"
              class="discard-button"
              name="close-bold"
              [iconSize]="17"
              [size]="28"
              padding="0 0 2px 1px"
              bgColor="#FF5D7B"
              iconColor="white"
              [rounded]="true"
              rightIcon
            ></picnic-icon-button>
          </div>
          <div class="image-placeholder-avatar">
            <img
              *ngIf="!avatarExists"
              src="assets/icons/image-duotone.svg"
              width="32"
              height="32"
              class="image-placeholder"
            />
            <picnic-avatar
              *ngIf="isEmojiAvatar"
              [src]="form?.value.image"
              [showFollows]="false"
              [emojiMode]="true"
              emojiSize="40"
              bgColor="transparent"
            >
            </picnic-avatar>

            <picnic-avatar
              *ngIf="isFileAvatar"
              [src]="avatarFileUrl ?? ''"
              [showFollows]="false"
              [emojiMode]="false"
              [size]="78"
              bgColor="transparent"
            >
            </picnic-avatar>

            <simple-dropdown
              (bySelect)="onTapSelectAvatar($event)"
              class="edit-button"
              [items]="avatarImageOptions"
              [emitRepeatedValues]="true"
              [showOpen]="false"
              [maxWidth]="100"
              [maxHeight]="90"
              [customPosition]="{ left: -70, top: 35 }"
            >
              <ng-template #customButton>
                <picnic-icon-button
                  name="repeat"
                  [iconSize]="14"
                  [size]="28"
                  padding="0 0 2px 1px"
                  bgColor="#007BFF"
                  iconColor="white"
                  [rounded]="true"
                  rightIcon
                ></picnic-icon-button>
              </ng-template>
            </simple-dropdown>

            <picnic-icon-button
              *ngIf="emojiPickerVisible"
              (byClick)="emojiPickerVisible = false"
              class="edit-button"
              name="close-bold"
              [iconSize]="17"
              [size]="28"
              padding="0 0 2px 1px"
              bgColor="#FF5D7B"
              iconColor="white"
              [rounded]="true"
              rightIcon
            ></picnic-icon-button>
          </div>
        </div>
        <div class="emoji-picker-container">
          <div [@inOutAnimation] class="emoji-picker" *ngIf="emojiPickerVisible">
            <emoji-mart
              [sheetSize]="20"
              [isNative]="true"
              [style]="{
                width: '100%',
                border: 'none',
                background: 'var(--bg-color)'
              }"
              [totalFrequentLines]="0"
              color="#007BFF"
              [enableSearch]="false"
              [showPreview]="false"
              [useButton]="true"
              [emojiTooltip]="false"
              (emojiSelect)="onEmojiSelect($event)"
            ></emoji-mart>
          </div>
        </div>
        <form class="form-section" [formGroup]="form" *ngIf="form" autocomplete="off">
          <text-input
            formControlName="name"
            hint="name"
            height="52px"
            type="text"
            [errorText]="formValidation.errorMessage('name')"
          ></text-input>
          <text-input
            formControlName="description"
            [errorText]="formValidation.errorMessage('description')"
            [textArea]="true"
            hint="description"
            [textAreaRows]="5"
            border="none"
          ></text-input>
          <simple-dropdown
            [items]="circleGroups"
            [initialValue]="groupSelected"
            hint="pick a group"
            textSize="14px"
            inputHeight="52px"
            [maxHeight]="180"
            [showOpen]="true"
            [lightHintColor]="true"
            inputBorder="none"
            (bySelect)="onTapSelectGroup($event)"
            #groupDropdownRef
          ></simple-dropdown>
          <div class="dropdown-section">
            <span class="language-label">primary language</span>
            <simple-dropdown
              [items]="languages"
              [initialValue]="languageSelected"
              hint="language"
              textSize="14px"
              inputHeight="52px"
              [maxHeight]="180"
              [showOpen]="true"
              [lightHintColor]="true"
              inputBorder="none"
              (bySelect)="onTapSelectLanguage($event)"
              #languageDropdownRef
            ></simple-dropdown>
          </div>
          <div class="privacy-section">
            <span class="privacy-label">circle privacy</span>
            <div
              *ngFor="let privacyOption of privacyOptions"
              (click)="onTapSelectPrivacy(privacyOption)"
              class="privacy-item"
              role="button"
              [ngClass]="{
                'selected-privacy': privacySelected === privacyOption
              }"
            >
              <span class="privacy-item-label">{{ privacyOption.title }}</span>
              <p class="privacy-item-description">
                {{ privacyOption.description }}
              </p>
            </div>
            <span class="privacy-footer"
              >Inviting a user to the circle automatically bypasses the approval process</span
            >
          </div>
        </form>
      </div>
      <div class="bottom-section">
        <picnic-button
          (byClick)="close()"
          label="cancel"
          textSize="14px"
          border="1px solid rgba(43, 63, 108, 0.2)"
          color="transparent"
          textColor="var(--text-color)"
          width="90px"
          height="38px"
        ></picnic-button>
        <picnic-button
          *ngIf="!loading"
          (byClick)="onTapCreateCircle()"
          label="create"
          textSize="14px"
          width="90px"
          height="38px"
        ></picnic-button>
        <img *ngIf="loading" width="30px" height="30px" src="assets/icons/loading.gif" />
      </div>
    </ng-container>

    <ng-container *ngIf="circleCreatedSucceded">
      <div class="top-section">
        <span class="modal-title">create your first post</span>
        <picnic-icon-button
          (byClick)="close()"
          name="close"
          padding="2px"
          bgColor="transparent"
          [rounded]="true"
          iconColor="var(--text-secondary-color)"
          [iconSize]="22"
        ></picnic-icon-button>
      </div>
      <div class="content-section">
        <span class="success-creation-message"
          >congratulations on creating your new community, roblox! why not start things off by posting a warm welcome
          message to set the atmosphere and greet any new members that join your community?</span
        >
      </div>

      <div class="bottom-section">
        <picnic-button
          (byClick)="close()"
          label="not now"
          textSize="14px"
          border="1px solid rgba(43, 63, 108, 0.2)"
          color="transparent"
          textColor="var(--text-color)"
          width="100px"
          height="38px"
        ></picnic-button>
        <picnic-button
          (byClick)="onTapCreatePost()"
          label="create a post"
          textSize="14px"
          width="125px"
          height="38px"
        ></picnic-button>
      </div>
    </ng-container>

    <input hidden type="file" accept="image/*" #avatarFileInput (change)="onAvatarFileSelected($event)" />
    <input hidden type="file" accept="image/*" #coverFileInput (change)="onCoverFileSelected($event)" />
  </div>
</modal-wrapper>
