.modal-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  max-width: 500px;
  max-height: 600px;
  margin: 0 auto;
  background-color: var(--bg-color);
  border-radius: 12px;
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 24px;
  padding-bottom: 0px;
}

.scrollable-container::-webkit-scrollbar {
  width: 0;
  display: none;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 18pt;
  color: var(--text-color);
}

.image-section {
  width: 100%;
  margin-top: 24px;
  position: relative;
}

.hero-image {
  max-width: 100%;
  height: 130px;
  background: var(--input-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-placeholder {
  opacity: 0.3;
}

.image-placeholder-avatar {
  width: 78px;
  height: 78px;
  border-radius: 100px;
  border: 3px solid var(--bg-secondary-color);
  background: var(--input-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -35px;
  left: 24px;
}

.image-placeholder-avatar > .edit-button {
  position: absolute;
  right: -2px;
  bottom: -2px;
}

.hero-image > .edit-button {
  position: absolute;
  bottom: -14px;
  right: 25px;
}

.hero-image > .discard-button {
  position: absolute;
  bottom: -14px;
  right: 65px;
}

.form-section {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.dropdown-section {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.language-label {
  font-size: 10pt;
  color: var(--text-color);
}

.privacy-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.privacy-label {
  font-size: 16pt;
  color: var(--text-color);
  margin-bottom: 5px;
  margin-top: 14px;
}

.privacy-item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 16px;
}

.selected-privacy {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 2px solid #007bff;
  border-radius: 16px;
  background: rgba(0, 123, 255, 0.1);
}

.privacy-item-label {
  font-weight: 500;
  //font-size: 14pt;
  line-height: 24px;
  color: var(--text-color);
}

.privacy-item-description {
  font-weight: 400;
  font-size: 10pt;
  color: var(--subtitle-color);
  padding: 0;
  margin: 0;
}

.privacy-footer {
  margin-top: 4px;
  font-weight: 400;
  font-size: 10pt;
  color: var(--subtitle-color);
}

.bottom-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 24px;
}

.created-modal-container {
  display: flex;
  flex-direction: column;
  height: 235px;
  width: 90%;
  max-width: 500px;
  background-color: var(--bg-color);
  border-radius: 12px;
  overflow: auto;
  margin: 0 auto;
  padding: 24px;
}

.content-section {
  margin-top: 20px;
  margin-bottom: 10px;
}

.success-creation-message {
  font-size: 15px;
  font-weight: 400;
  color: var(--subtitle-color);
}

.emoji-picker {
  background: #f9f9f9;
  border-radius: 16px;
  overflow: hidden;
  position: absolute;
  top: 48px;
  z-index: 999999;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
}

.emoji-picker-container {
  position: relative;
}
