.page-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 22px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
}

.no-rules-title {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
}

.no-rules-subtitle {
  color: #808080;
  font-size: 16pt;
  font-weight: 400;
}

.empty-rules-container {
  margin-bottom: 80px;
}

.rules-text {
  font-size: 22px;
  color: var(--text-color);
  margin-top: 20px;
}
