<div class="page-container">
  <br />
  <page-header title="seeds"></page-header>

  <div class="list-container" infinite-scroll (scrolled)="loadMoreItems()">
    <list-item
      *ngFor="let item of seeds"
      class="item"
      [title]="item.node.circle!.name"
      [subtitle]="item.node.circle!.membersCount + ' members'"
      [image]="item.node.circle!.imageFile === '' ? item.node.circle!.image : item.node.circle!.imageFile"
      [emojiMode]="!item.node.circle!.imageFile"
      [imageSize]="42"
      (click)="goToCircle(item.node.circle!)"
    >
      <span class="seeds-count-label" suffix>🌰 {{ item.node.amountTotal }}</span>
    </list-item>
  </div>
</div>
