<modal-wrapper [isOpen]="isOpen" (click)="onCloseOutside($event)">
  <div click.stop class="modal-container" content>
    <ng-container *ngTemplateOutlet="creatingChat ? createHeader : editHeader"></ng-container>

    <ng-container *ngTemplateOutlet="creatingChat ? createAction : editAction"></ng-container>

    <ng-container *ngTemplateOutlet="creatingChat ? createUsersList : editUsersList"></ng-container>
  </div>
</modal-wrapper>

<ng-template #createHeader>
  <div class="top-section">
    <picnic-icon-button
      (byClick)="close()"
      name="close"
      padding="0"
      bgColor="transparent"
      [rounded]="true"
      iconColor="var(--text-secondary-color)"
      [iconSize]="24"
    ></picnic-icon-button>

    <div class="title-container">
      <span class="title-label">new conversation</span>
      <span class="limit-label">{{ usersSelectedCount }}/500</span>
    </div>

    <picnic-text-button
      (byClick)="onTapNext()"
      [disabled]="usersSelectedCount === 0"
      [class.disabled-next]="usersSelectedCount === 0"
      label="next"
      color="#007BFF"
      [labelSize]="18"
      padding="0"
      class="next-button"
    ></picnic-text-button>
  </div>
</ng-template>

<ng-template #editHeader>
  <div class="top-section">
    <picnic-icon-button
      (byClick)="onTapBack()"
      name="arrow-left"
      padding="0"
      bgColor="transparent"
      [rounded]="true"
      iconColor="var(--text-secondary-color)"
      [iconSize]="24"
    ></picnic-icon-button>

    <div class="title-container">
      <span class="title-label">{{ usersSelectedCount > 1 ? 'new group' : 'new dms' }}</span>
    </div>

    <picnic-text-button
      *ngIf="!loading"
      (byClick)="onTapCreateChat()"
      label="done"
      color="#007BFF"
      [labelSize]="18"
      padding="0"
    ></picnic-text-button>

    <div *ngIf="loading" class="loading-container">
      <loading-spinner [loading]="loading" [size]="27"></loading-spinner>
    </div>
  </div>
</ng-template>

<ng-template #createAction>
  <div class="search-container">
    <div [@fadeAnimation] *ngFor="let userSelected of usersSelected" class="chip-container">
      <picnic-avatar [size]="24" emojiSize="18" [showFollows]="false" [src]="userSelected.profileImage"></picnic-avatar>
      <div class="chip-label">{{ userSelected.username }}</div>
      <div (click)="onTapRemoveUser(userSelected)" class="chip-close-button">
        <picnic-icon color="white" name="close" [size]="15"></picnic-icon>
      </div>
    </div>
    <input
      (input)="onSearchUsers($event)"
      class="search-input"
      type="text"
      autocomplete="off"
      placeholder="who would you like to add?"
    />
  </div>
</ng-template>

<ng-template #editAction>
  <div class="edit-chat-container">
    <!--    <div class="group-image-container">-->
    <!--      <picnic-avatar [size]="100" [showFollows]="false" [src]="'https://i.pravatar.cc/300'"></picnic-avatar>-->
    <!--      <picnic-icon-button-->
    <!--        class="edit-button"-->
    <!--        name="repeat"-->
    <!--        [iconSize]="18"-->
    <!--        [size]="32"-->
    <!--        padding="0 0 4px 1px"-->
    <!--        bgColor="#007BFF"-->
    <!--        iconColor="white"-->
    <!--        [rounded]="true"-->
    <!--      ></picnic-icon-button>-->
    <!--    </div>-->
    <div class="search-container" *ngIf="usersSelected.length > 1">
      <input
        class="groupname-input"
        type="text"
        autocomplete="off"
        [(ngModel)]="groupName"
        placeholder="what do you call this group?"
      />
    </div>
  </div>
</ng-template>

<ng-template #createUsersList>
  <div class="scrollable-container">
    <div *ngFor="let user of userResults" (click)="onTapUserItem(user)" class="list-item">
      <div class="checkbox-container">
        <input type="checkbox" class="checkbox" [id]="user.id" [checked]="userIsSelected(user)" />
        <label class="checkbox-label"></label>
      </div>

      <picnic-avatar
        [size]="44"
        emojiSize="40"
        [showFollows]="false"
        [src]="user.profileImage"
        bgColor="var(--bg-color)"
      ></picnic-avatar>

      <div class="user-info-container">
        <span class="username-list-label">{{ user.username }}</span>
        <!--        <span class="followers-list-label">{{ user.followers | shortNumber }} followers</span>-->
      </div>
    </div>

    <div *ngIf="userResults.length === 0" class="empty-template-container">
      <span class="empty-icon">🔎</span>
      <span class="empty-label">no users found</span>
    </div>
  </div>
</ng-template>

<ng-template #editUsersList>
  <div class="members-list-container">
    <span class="members-label">members</span>
    <div class="scrollable-container">
      <div *ngFor="let userSelected of usersSelected" class="list-item">
        <picnic-avatar
          [size]="44"
          emojiSize="40"
          [showFollows]="false"
          [src]="userSelected.profileImage"
          bgColor="var(--bg-color)"
        ></picnic-avatar>
        <div class="user-info-container">
          <span class="username-list-label">{{ userSelected.username }}</span>
          <!--          <span class="followers-list-label">{{ userSelected.followers | shortNumber }}</span>-->
        </div>
      </div>
    </div>
  </div>
</ng-template>
