.modal-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 90%;
  max-width: 400px;
  max-height: 600px;
  background-color: var(--bg-color);
  border-radius: 30px;
  padding: 24px;
  padding-bottom: 0;
  gap: 18px;
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-bottom: 22px;
  gap: 12px;
}

.scrollable-container::-webkit-scrollbar {
  width: 0;
  display: none;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-left: 10px;
}

.title-label {
  color: var(--text-color);
  text-align: center;
  font-size: 14pt;
  text-shadow: 0.5px 0 0 currentColor;
  line-height: normal;
}

.limit-label {
  color: var(--subtitle-color);
  text-align: center;
  font-size: 11pt;
  line-height: normal;
}

.search-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  background-color: var(--bg-secondary-color);
  padding: 10px;
}

.search-input {
  width: 100%;
  background-color: transparent;
  padding: 2px;
  outline: 0;
  border: 0;
  font-size: 11pt;
  font-weight: 300;
}

.groupname-input {
  height: 32px;
  width: 100%;
  background-color: transparent;
  padding: 2px 8px;
  outline: 0;
  border: 0;
  font-size: 11pt;
  font-weight: 300;
}

.search-input::placeholder,
.groupname-input::placeholder {
  font-size: 11pt;
  font-weight: 300;
  color: #6e7e91;
  width: 100%;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.checkbox-container {
  width: 22px;
  position: relative;
  height: 22px;
}

.checkbox-label {
  background-color: transparent;
  border: 1.5px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 22px;
  width: 22px;
  left: 0;
  position: absolute;
  top: 0;
}

.checkbox-label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 5.3px;
  opacity: 0;
  position: absolute;
  top: 7px;
  transform: rotate(-45deg);
  width: 9px;
}

.checkbox-container input[type="checkbox"] {
  visibility: hidden;
}

.checkbox-container input[type="checkbox"]:checked + label {
  background-color: #007bff;
  border-color: #007bff;
}

.checkbox-container input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.username-list-label {
  color: var(--text-color);
  font-size: 14pt;
  line-height: normal;
}

.followers-list-label {
  color: var(--subtitle-color);
  font-size: 11pt;
  font-weight: 200;
  line-height: normal;
}

.chip-container {
  display: flex;
  align-items: center;
  padding: 1px 5px 2px 2px;
  justify-content: flex-start;
  gap: 4px;
  border-radius: 100px;
  border: 1.5px solid var(--stroke-color);
}

.chip-label {
  color: var(--text-color);
  font-size: 11pt;
  font-weight: 500;
}

.chip-close-button {
  width: 20px;
  height: 20px;
  background: #3d3d3d;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

.edit-chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.group-image-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-image-container:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 100px;
  background-color: var(--bg-secondary-color);
  background-image: url("../../../assets/icons/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}

.edit-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.members-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.members-label {
  text-shadow: 0.5px 0 0 currentColor;
  color: var(--text-color);
  font-size: 15pt;
  line-height: normal;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.87px;
  height: 27px;
}

.empty-template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4px;
  margin-bottom: 50px;
}

.empty-icon {
  width: 80px;
  height: 80px;
  font-size: 35px;
  background-color: var(--bg-secondary-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-label {
  margin-top: 5px;
  font-size: 14pt;
  color: var(--text-color);
}

.next-button {
  transition: opacity 0.2s ease-in-out;
}

.disabled-next {
  opacity: 0.4;
}
