.item-selector {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -12px 0 0 -12px;
  width: calc(100% + 12px);
}

.item-selector > * {
  margin: 12px 0 0 12px;
}

.item {
  padding: 12px;
  width: 47.3%;
  height: 48px;
  outline: 1px solid #cccccc;
  border-radius: 12px;
  transition: 0.25s;
  margin: 10px;
}

@media (max-width: 600px) {
  .item {
    width: 45.3%;
  }
}

.selected {
  background: rgba(0, 123, 255, 0.2);
  outline: 3px solid #007bff;
}
