.follow-button {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.emoji-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid var(--bg-stroke-color);
  background-color: transparent;
}

.profile-border {
  box-sizing: border-box;
  // border: 6px solid var(--bg-color);
  border-radius: 50%;
}
