<div class="position-relative d-inline-block">
  <ng-container [ngSwitch]="emojiMode">
    <div
      *ngSwitchCase="true"
      role="button"
      (click)="handleAvatarClick()"
      [ngStyle]="{ 'width.px': size, 'height.px': size, background: bgColor ?? 'white' }"
      class="emoji-container profile-border"
    >
      <span [style.fontSize.px]="emojiSize">{{ src }}</span>
    </div>

    <img-with-fallback *ngSwitchCase="false">
      <img
        imgWithFallback
        role="button"
        (click)="handleAvatarClick()"
        [ngStyle]="{ 'width.px': size, 'height.px': size }"
        class="rounded-pill align-middle"
        style="background: var(--bg-secondary-color)"
        [src]="src"
      />
      <div
        role="button"
        (click)="handleAvatarClick()"
        [ngStyle]="{ 'width.px': size, 'height.px': size }"
        class="rounded-pill align-middle error"
        style="background: #7878ff"
      ></div>
    </img-with-fallback>
  </ng-container>

  <picnic-icon-button
    *ngIf="!follows && showFollows"
    (byClick)="handleFollowClick()"
    class="follow-button"
    name="plus"
    [iconSize]="14"
    [size]="20"
    padding="1px 0 4px 0"
    bgColor="#007BFF"
    iconColor="var(--text-color)"
    [rounded]="true"
  ></picnic-icon-button>

  <ng-content select="[rightIcon]"></ng-content>
</div>
