.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 22, 34, 0.6);
  z-index: 99999;
  align-items: center;
  justify-content: center;
}

.modal-show {
  display: flex;
}
