<div class="hero-container">
  <div class="left-hero-container">
    <div>
      <h1 class="hero-title">find your community</h1>
      <span class="hero-subtitle">browse trending circles on Picnic</span>
    </div>
  </div>
  <searchable-dropdown
    class="search-dropdown"
    inputHeight="52px"
    dropdownHeight="300px"
    dropdownWidth="100%"
    [loading]="loadingSearchResults"
    [searchResults]="searchResults"
    (bySearch)="handleOnSearch($event)"
  ></searchable-dropdown>
</div>

<ng-container *ngFor="let group of groups">
  <div class="grid-container" *ngIf="group.circles.length > 0">
    <div class="title-row">
      <span class="grid-title">{{ group.group.name }}</span>
      <picnic-text-button
        label="see more"
        (byClick)="navigateToGroup(group)"
        *ngIf="group.hasNext"
      ></picnic-text-button>
    </div>
    <div class="card-row">
      <discover-card
        class="grid-card"
        *ngFor="let circle of group.circles"
        [circle]="circle"
        [routerLink]="'/c/' + (circle.urlName ? circle.urlName : circle.name)"
      ></discover-card>
    </div>
  </div>
</ng-container>
<div #anchor style="height: 10px; margin-bottom: 10px"></div>
<picnic-text-button label="see more" color="black" *ngIf="hasNext" (byClick)="onNext()"></picnic-text-button>
<div *ngIf="loading" class="loading-indicator">
  <img width="50" height="50" src="assets/icons/loading.gif" icon />
</div>
