.hero-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 16px;
  padding: 30px;
  gap: 20px;
}

@media (max-width: 767px) {
  .hero-container {
    display: block;
  }
}

.left-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

.hero-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
}

.search-dropdown {
  width: 100%;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 13pt;
  color: var(--text-color);
}

.hero-image {
  width: 100%;
  max-width: 400px;
  height: 100%;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 25%);
}

.card-row {
  display: flex;
  width: calc(100% - 25%);
  overflow: auto;
  gap: 15px;
  border-radius: 16px;
}

.card-row::-webkit-scrollbar {
  width: 0;
  display: none;
}

.grid-card {
  flex-basis: 22%;
  flex-shrink: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hero-container {
    width: 100%;
  }

  .card-row {
    width: 100%;
  }

  .title-row {
    width: 100%;
  }
}
