<a
  [routerLink]="path"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  [ngStyle]="{
    'font-weight': labelWeight,
    padding: padding,
    'border-radius': radius,
    'font-size': labelSize
  }"
  class="navbar-item"
>
  <picnic-icon [name]="iconName"></picnic-icon>
  <span>{{ label }}</span>
</a>
