.navbar-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  gap: 6px;
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  border-radius: 1000px;
  border: none;
  color: var(--link-secondary-color);
  transition: 0.2s ease-in;
}

.navbar-item svg path {
  fill: var(--link-secondary-color);
}

.navbar-item:hover {
  background-position: bottom;
}

a:not(.active) {
  filter: opacity(40%);
}
