input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-container {
  width: 100%;
  height: 45px;
  background: var(--input-color);
  border-radius: 100px;
  border: none;
  padding: 0 15px 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s background outline;
}

.textarea-container {
  width: 100%;
  background: var(--input-color);
  border-radius: 16px;
  border: 1px solid var(--stroke-color);
  padding: 15px 15px 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s background outline;
}

.textarea-container > .text-input {
  resize: none;
  padding: 0;
}

.text-input {
  //font-size: 12pt;
}

.text-input,
.text-input:active,
.text-input:focus {
  color: var(--text-color);
  border: none;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.text-input::placeholder {
  font-weight: 400;
  color: var(--subtitle-color);
}

.error-label {
  text-align: left;
  //font-size: 12pt;
  color: #cc4a62;
}
