<div class="wrapper">
  <div *ngIf="!textArea" [ngStyle]="getStyle" class="input-container">
    <input
      [disabled]="disabled"
      [style.color]="color"
      [style.fontSize]="fontSize"
      (input)="handleInput($event)"
      [type]="type"
      [maxLength]="maxLength ?? 524288"
      [minLength]="minLength"
      class="text-input"
      [placeholder]="hint ?? 'type something'"
      [(ngModel)]="value"
    />
    <ng-content select="[suffix]"></ng-content>
    <picnic-icon-button
      *ngIf="showClear && value"
      (byClick)="handleClear()"
      name="close-bold"
      [size]="25"
      padding="0 2px 2px 1.5px"
      [iconSize]="18"
      bgColor="transparent"
      iconColor="var(--subtitle-color)"
    ></picnic-icon-button>
  </div>

  <div *ngIf="textArea" [ngStyle]="getStyle" class="textarea-container">
    <textarea
      [disabled]="disabled"
      [style.color]="color"
      (input)="handleInput($event)"
      [maxLength]="maxLength ?? 524288"
      [minLength]="minLength"
      class="text-input"
      [placeholder]="hint ?? 'type something'"
      [(ngModel)]="value"
      [rows]="textAreaRows"
    >
    </textarea>
    <ng-content select="[suffix]"></ng-content>
    <picnic-icon-button
      *ngIf="showClear && value"
      (byClick)="handleClear()"
      name="close-bold"
      [size]="25"
      padding="0 2px 2px 1.5px"
      [iconSize]="18"
      bgColor="transparent"
      iconColor="var(--subtitle-color)"
    ></picnic-icon-button>
  </div>
  <span [@inOutAnimation] *ngIf="errorText" class="error-label">{{ errorText }}</span>
</div>
