<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center gap-1">
    <picnic-avatar [src]="moderator?.node?.user?.profileImage ?? ''" [size]="40" [showFollows]="false"></picnic-avatar>
    <span>{{ moderator?.node?.user?.username }}</span>
  </div>

  <picnic-text-button
    [label]="moderator?.node?.role === 'DIRECTOR' ? 'director' : 'mod'"
    [labelSize]="24"
    color="#45BAEC"
  ></picnic-text-button>
</div>
