<picnic-onboarding-dialog
  emoji="🔑"
  [emojiSize]="50"
  title="verification code"
  subtitle="enter the code we texted you"
  progress="60%"
>
  <div class="d-flex flex-column gap-3" content>
    <text-input type="number" hint="verification code" height="52px" [(ngModel)]="code">
      <picnic-text-button
        [disabled]="!resend"
        [label]="resend ? 'resend' : (secondsLeft * 1000 | date : 'mm:ss')!"
        [color]="resend ? '#1D77FF' : '#B3B3B3'"
        [labelSize]="14"
        suffix
        btnId="resend-btn"
        (byClick)="resendSMS()"
      ></picnic-text-button>
    </text-input>

    <picnic-button (byClick)="verify()" color="#007BFF" label="continue" width="100%" height="48px"> </picnic-button>
  </div>
</picnic-onboarding-dialog>
