<div class="content-container">
  <h1>Profile</h1>

  <div class="section">
    <h2>Overview</h2>
    <p>
      This documentation section describes the GraphQL queries and mutations related to user profiles in the web
      application. The following operations are covered:
    </p>
    <ul>
      <li>MyProfile</li>
      <li>UserConnection</li>
      <li>User</li>
      <li>FollowersConnection</li>
      <li>ChangeFollowStatus</li>
      <li>ContentStatsForProfile</li>
    </ul>
  </div>

  <div class="section">
    <h2>Data Types</h2>
    <h3>PrivateProfile</h3>
    <ul>
      <li><code>id</code>: string</li>
      <li><code>username</code>: string</li>
      <li><code>fullName</code>: string</li>
      <li><code>profileImage</code>: string</li>
      <li><code>likes</code>: number</li>
      <li><code>followers</code>: number</li>
      <li><code>views</code>: number</li>
      <li><code>seeds</code>?: SeedsConnection</li>
      <li><code>bio</code>: string</li>
    </ul>

    <h3>MyProfileResponse</h3>
    <ul>
      <li><code>myProfile</code>: PrivateProfile</li>
    </ul>

    <h3>PublicProfile</h3>
    <ul>
      <li><code>id</code>: string</li>
      <li><code>username</code>: string</li>
      <li><code>fullName</code>: string</li>
      <li><code>bio</code>: string</li>
      <li><code>followers</code>: number</li>
      <li><code>likes</code>: number</li>
      <li><code>views</code>: number</li>
      <li><code>isVerified</code>: boolean</li>
      <li><code>age</code>: number</li>
      <li><code>profileImage</code>: string</li>
      <li><code>createdAt</code>: Date</li>
      <li><code>shareLink</code>: string</li>
      <li><code>isFollowing</code>: boolean</li>
    </ul>
    <ul>
      <li><code>isBlocked</code>: boolean</li>
      <li><code>followsMe</code>: boolean</li>
    </ul>

    <h3>UsersConnection, UsersConnectionResponse, and other related types</h3>
    <ul>
      <li>
        These types are used to represent connections between users and their relations (e.g., following, followed by).
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>Queries</h2>
    <h3>myProfile</h3>
    <ul>
      <li>Output: MyProfileResponse</li>
      <li>Description: Retrieves the private profile information of the authenticated user.</li>
    </ul>

    <h3>usersConnection</h3>
    <ul>
      <li>
        Input: <code>searchQuery: String!</code>,
        <code>cursor: CursorInput!</code>
      </li>
      <li>Output: UsersConnectionResponse</li>
      <li>Description: Searches for users by query and returns a paginated list of public profile information.</li>
    </ul>

    <h3>user</h3>
    <ul>
      <li>Input: <code>userId: ID!</code></li>
      <li>Output: UserResponse</li>
      <li>Description: Retrieves the public profile information of the specified user.</li>
    </ul>

    <h3>followersConnection</h3>
    <ul>
      <li>
        Input: <code>userId: ID!</code>, <code>searchQuery: String</code>,
        <code>cursor: CursorInput</code>
      </li>
      <li>Output: FollowersConnectionResponse</li>
      <li>Description: Retrieves a paginated list of followers for the specified user.</li>
    </ul>
  </div>

  <div class="section">
    <h2>Mutations</h2>
    <h3>changeFollowStatus</h3>
    <ul>
      <li>Input: <code>userId: ID!</code>, <code>shouldFollow: Boolean!</code></li>
      <li>Output: ChangeFollowStatusResponse</li>
      <li>Description: Changes the follow status between the authenticated user and the specified user.</li>
    </ul>
  </div>

  <div class="section">
    <h2>Additional Queries</h2>
    <h3>contentStatsForProfile</h3>
    <ul>
      <li>Input: <code>userID: String!</code></li>
      <li>Output: ProfileStats</li>
      <li>Description: Retrieves the content statistics for the specified user's profile.</li>
    </ul>
  </div>
</div>
