.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  border: none;
  border-radius: 8px;
  padding: 8px;
  transition: background-position 0.2s, color 0.2s;
  cursor: pointer;
}

.accordion-wrapper {
  border: 1px solid var(--stroke-color);
  border-radius: 12px;
  padding: 6px 12px;
  height: calc(100vh - 260px);
  overflow: auto;
}

.accordion-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
}

.disable-scroll {
  overflow: hidden;
}

.disable-events {
  pointer-events: none;
}

.text-subtitle {
  color: var(--text-color);
  font-weight: 600;
  gap: 6px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  background: linear-gradient(#0000, rgb(0 0 0/3%)) top/100% 800%;
  border: none;
  border-radius: 100px;
  transition: background-position 0.2s, color 0.2s;
  gap: 8px;
  font-weight: 400;
  color: var(--subtitle-color);
}

.item:hover {
  color: var(--bg-color);
}

.item:hover {
  background-position: bottom;
}

.selected {
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  background-position: bottom;
  transition: background-position 0.2s, color 0.2s;
}

.selected:hover {
  background-position: none;
}

.dropdown-content {
  overflow: hidden;
}

.circle-image {
  width: 42px;
  height: 42px;
  background: var(--bg-secondary-color);
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.selected > .circle-image {
  background: var(--bg-color);
}
