<div
  infinite-scroll
  [scrollWindow]="false"
  [infiniteScrollDistance]="2"
  (scrolled)="loadMoreItems()"
  [@dropdownAnimation]="expanded ? 'expanded' : 'collapsed'"
  [ngClass]="{ 'disable-scroll': !expanded }"
  class="accordion-wrapper"
>
  <div class="button text-subtitle" (click)="toggle()">
    <span>
      {{ label }}
    </span>

    <picnic-icon-button
      name="arrow-down"
      iconColor="var(--subtitle-color)"
      bgColor="transparent"
      padding="0"
    ></picnic-icon-button>
  </div>

  <div [ngClass]="{ 'disable-events': !expanded }" class="item-list dropdown-content">
    <list-item
      *ngFor="let circle of items"
      class="item"
      [image]="circle.data?.imageFile === '' ? circle.data?.image : circle.data?.imageFile"
      [title]="circle.label"
      [emojiMode]="!circle.data?.imageFile"
      [imageSize]="42"
      [routerLink]="circle.route"
    >
    </list-item>
  </div>
</div>
