.moderation-breadcrumb {
  height: 48px;
  width: 100%;
  background: var(--bg-color);
  box-shadow: 0 1px 0 var(--stroke-color);
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.circle-section {
  display: flex;
  align-items: center;
  gap: 6px;
}

.circle-name {
  font-weight: 400;
  //font-size: 14pt;
  color: #0065d1;
}

.breadcrumb-items {
  display: flex;
  align-items: center;
  gap: 5px;
}

.path-label {
  //font-size: 14pt;
}
