<div class="moderation-breadcrumb">
  <div class="breadcrumb-items">
    <div (click)="goToCircle()" role="button" class="circle-section">
      <picnic-avatar
        [src]="circle?.image ?? ''"
        [emojiMode]="true"
        [showFollows]="false"
        emojiSize="18"
        [size]="28"
        bgColor="#D0FAC2"
      >
      </picnic-avatar>
      <span class="circle-name">{{ circle?.name }}</span>
    </div>
    <picnic-icon name="arrow-right" color="#B3B3B3" [size]="18"></picnic-icon>
    <span class="path-label">{{ activePath?.label }}</span>
  </div>
</div>
