<picnic-onboarding-dialog
  emoji="📍"
  [emojiSize]="50"
  emojiPadding="5px 0 0 0"
  title="select country"
  subtitle="where are you based?"
  progress="10%"
>
  <div class="d-flex flex-column gap-3" content>
    <simple-dropdown [items]="items" inputHeight="52px" hint="select country" (bySelect)="onSelect($event.value)">
    </simple-dropdown>

    <picnic-button
      (byClick)="onClickContinue()"
      color="#FF5D7B"
      label="continue"
      width="100%"
      height="48px"
      [disabled]="state.country === ''"
    >
    </picnic-button>
  </div>
</picnic-onboarding-dialog>
