<div class="page-container">
  <page-header title="members"></page-header>
  <search-input
    bgColor="var(--bg-secondary-color)"
    (byInput)="onSearch($event)"
    class="mt-4"
    width="100%"
  ></search-input>

  <div class="scrollable-wrapper">
    <ng-container *ngIf="director || mods.length > 0">
      <div class="list-label-container">
        <span class="list-label">mods</span>
        <picnic-text-button *ngIf="isDirector" label="add" color="#007BFF" padding="0 10px"></picnic-text-button>
      </div>
      <div class="list-container">
        <user-list-item
          (byClickAvatar)="onTapGoProfile(director?.node?.user?.username)"
          [data]="director"
          [avatarImage]="director?.node?.user?.profileImage"
          [username]="director?.node?.user?.username"
        >
          <picnic-text-button
            [label]="director?.node?.role?.toLocaleLowerCase() ?? ''"
            color="#52b6e2"
            [labelSize]="20"
            [labelWeight]="500"
            suffix
          ></picnic-text-button>
        </user-list-item>
        <user-list-item
          *ngFor="let mod of mods"
          (click)="onTapGoProfile(mod?.node?.user?.username)"
          [data]="mod"
          [avatarImage]="mod.node.user.profileImage"
          [username]="mod.node.user.username"
        >
          <picnic-text-button
            label="mod"
            color="#52b6e2"
            [labelSize]="20"
            [labelWeight]="500"
            suffix
          ></picnic-text-button>
        </user-list-item>
      </div>
    </ng-container>

    <ng-container *ngIf="members.length > 0">
      <div class="list-label-container mt-4">
        <span class="list-label">users</span>
        <picnic-text-button *ngIf="isDirector" label="invite" color="#007BFF" padding="0 10px"></picnic-text-button>
      </div>
      <div class="list-container">
        <user-list-item
          *ngFor="let member of members"
          (click)="onTapGoProfile(member?.node?.user?.username)"
          [data]="member"
          [avatarImage]="member.node.user.profileImage"
          [username]="member.node.user.username"
        >
          <picnic-icon-button
            name="edit-profile"
            [iconSize]="28"
            iconColor="#007BFF"
            bgColor="transparent"
            padding="6px"
            *ngIf="isDirector"
            suffix
          ></picnic-icon-button>
        </user-list-item>
      </div>
    </ng-container>

    <div *ngIf="!director && mods.length === 0 && members.length === 0" class="empty-template-container">
      <span class="empty-icon">🔍</span>
      <span class="empty-label">no results found</span>
    </div>

    <picnic-text-button color="#007BFF" label="more" (byClick)="getNextMembers()" *ngIf="hasNext"></picnic-text-button>
  </div>
</div>
