.page-container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.header {
  position: relative;
}

.header-title-container {
  padding: 8px 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  pointer-events: none;
}

.header-icon {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background-color: #84c4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header-title {
  font-size: 13pt;
  color: var(--text-color);
}

.content {
  height: 100%;
  width: 100%;
}

.app-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
