<div class="page-container">
  <div *ngIf="app" class="header">
    <picnic-icon-button
      bgColor=" var(--bg-secondary-color)"
      iconColor="var(--text-secondary-color)"
      (byClick)="goBack()"
      name="arrow-left"
    ></picnic-icon-button>

    <span class="header-title-container">
      <div class="header-icon">
        <img-with-fallback>
          <img imgWithFallback [src]="app.imageUrl" class="grid-img" />
          <picnic-icon name="robot" [size]="22" color="white" class="error"></picnic-icon>
        </img-with-fallback>
      </div>
      <div class="header-title">{{ app.name }}</div>
    </span>
  </div>

  <iframe *ngIf="urlSafe" #appframe class="content" frameBorder="0" [src]="urlSafe"></iframe>
</div>
