.page-container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  padding: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

.page-container::-webkit-scrollbar {
  display: none;
}
