<div class="page-container">
  <page-header backRoute="/u" title="settings"></page-header>

  <settings-list
    (byItemSelected)="onTapView($event.path)"
    [showArrow]="true"
    [settings]="profileSettings"
    [showActiveItem]="false"
    class="mt-3"
  ></settings-list>
  <div class="flex" style="padding-left: 20px" *ngIf="isMobileLayout" (click)="onSignOut()">
    <picnic-icon color="#FC456A" [size]="20" name="logout-outline"></picnic-icon>
    <span [style.color]="'#FC456A'">sign out</span>
  </div>
  <div class="d-flex flex-column justify-content-center align-content-center"></div>
</div>
