<div class="page-container">
  <div class="content-container">
    <div class="page-header">
      <span class="page-title">content controls</span>
    </div>

    <div class="list-container">
      <list-item *ngFor="let item of circle?.options" (click)="handleToggleItem(item)" class="item">
        <ng-template>
          <div class="item-content">
            <span class="title-label">{{ item.displayName }}</span>
            <span class="subtitle-label">{{ item.description }}</span>
          </div>
        </ng-template>

        <switch (byToggle)="handleToggleItem(item)" [checked]="item.value" suffix></switch>
      </list-item>

      <div class="button" #saveChangesButtonRef>
        <picnic-button label="save changes" height="42px" color="#007BFF" width="135px" (byClick)="handleSave()">
        </picnic-button>
      </div>
    </div>
  </div>
</div>
