<div class="background-container">
  <div class="page-container">
    <page-header title="choose circles">
      <picnic-icon-button name="check" icons (byClick)="submit()"></picnic-icon-button>
    </page-header>

    <span class="description-label"
      >circles are the homes 🏠 for whatever you are interested in. this will make up your <br />
      curated for you page ✌️
    </span>

    <span class="circles-count-label">select {{ remainingCircles }} circles</span>

    <hr class="divider" />

    <ng-scrollbar visibility="hover">
      <div class="chips-container">
        <div class="chip-group-container" *ngFor="let g of groups">
          <span class="group-label">{{ g.name }}</span>
          <chip-list [items]="g.chips" (byItemSelected)="selectCircle($event)"></chip-list>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</div>
