.background-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
}

.page-container {
  height: 100%;
  width: 100%;
  max-width: 780px;
  padding: 64px 0 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.description-label {
  font-weight: 400;
  //font-size: 14pt;
  text-align: center;
  color: var(--subtitle-color);
  margin-top: 40px;
}

.circles-count-label {
  font-weight: 400;
  font-size: 16pt;
  text-align: center;
  color: #b3b3b3;
  margin-top: 32px;
}

.divider {
  border: 1px solid var(--stroke-color);
  margin-top: 8px;
  margin-bottom: 18px;
}

.group-label {
  font-weight: 500;
  font-size: 16pt;
  color: var(--text-color);
}

.chips-container {
  padding: 0 1.5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 40px;
}

.chip-group-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 600px) {
  .page-container {
    padding: 10px;
  }
}
