.tabnavbar-container {
  box-shadow: 0 1px 0 var(--stroke-color);
  z-index: 1021;
  padding: 16px 48px;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.debug-container {
  right: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.search-desktop-container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 340px;
  z-index: 1;
}

.search-mobile-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-icon {
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translate(0, -50%);
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  text-align: start;
  padding: 0 18px;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //font-size: 14pt;
  gap: 6px;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

// Responsive design: rough initial block
@media only screen and (max-width: 1024px) {
  .is-desktop {
    display: none;
  }

  .tabnavbar-container {
    padding: 16px 17px;
  }

  .title-container {
    gap: 14px;
  }
}

@media only screen and (max-width: 900px) {
  .search-desktop-container {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .search-mobile-container {
    display: none;
  }
}
