<div class="d-flex flex-row align-content-center justify-content-between position-relative tabnavbar-container">
  <!-- REMOVED FOR MVP 1.0v  -->
  <!-- <picnic-icon-button
      name="menu"
      class="menu-icon is-desktop"
      bgColor="#007BFF"
      iconColor="white"
      [rounded]="true"
      [size]="32"
    ></picnic-icon-button> -->

  <div role="button" routerLink="/" class="title-container">
    <picnic-logo [openPicnicPage]="true" size="50px"></picnic-logo>
    <span role="button" class="fs-4 fw-bold">{{ title }}</span>
  </div>

  <div class="debug-container" *ngIf="devMode">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Debug</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem style="color: #ff6534">[tech design]</button>
        <button ngbDropdownItem routerLink="/debug" routerLinkActive="active">
          <span>Debug preferences</span>
        </button>
        <button ngbDropdownItem routerLink="/home" routerLinkActive="active">
          <span translate>home</span>
        </button>
        <button ngbDropdownItem routerLink="/user" routerLinkActive="active">
          <span translate>profile</span>
        </button>
        <button ngbDropdownItem routerLink="/feed" routerLinkActive="active">
          <span translate>feed</span>
        </button>
        <button ngbDropdownItem routerLink="/circle" routerLinkActive="active">
          <span translate>circle</span>
        </button>
        <button ngbDropdownItem routerLink="/dm" routerLinkActive="active">
          <span translate>dm</span>
        </button>
        <button ngbDropdownItem routerLink="/notifications" routerLinkActive="active">
          <span translate>notifications</span>
        </button>
        <button ngbDropdownItem routerLink="/onboarding" routerLinkActive="active">
          <span translate>onboarding</span>
        </button>
      </div>
    </div>
  </div>

  <div class="search-desktop-container">
    <searchable-dropdown
      [loading]="loadingSearchResults"
      [searchResults]="searchResults"
      [initialApps]="searchInitialApps"
      (bySearch)="handleOnSearch($event)"
    ></searchable-dropdown>
  </div>

  <div class="d-flex flex-row justify-content-center align-content-center gap-1">
    <div class="search-mobile-container">
      <searchable-dropdown
        [iconMode]="true"
        dropdownWidth="95vw"
        dropdownHeight="340px"
        [loading]="loadingSearchResults"
        [searchResults]="searchResults"
        [initialApps]="searchInitialApps"
        (bySearch)="handleOnSearch($event)"
      ></searchable-dropdown>
    </div>

    <div (click)="toggleTheme()">
      <picnic-icon-button
        class="dark-mode"
        bgColor="transparent"
        [iconSize]="24"
        iconColor="var(--text-secondary-color)"
        padding="12px"
        name="sun"
      ></picnic-icon-button>
      <picnic-icon-button
        class="light-mode"
        bgColor="transparent"
        [iconSize]="24"
        iconColor="var(--text-secondary-color)"
        padding="12px"
        name="moon"
      ></picnic-icon-button>
    </div>

    <picnic-icon-button
      *ngIf="credentialsService.isAuthenticated()"
      name="notification"
      iconColor="var(--text-secondary-color)"
      bgColor="transparent"
      routerLink="/notifications"
      routerLinkActive="active"
    ></picnic-icon-button>

    <!-- Removed for MVP 1.0v -->
    <!-- <picnic-icon-button
      class="is-desktop"
      name="help"
      routerLink="/progress"
      routerLinkActive="active"
    ></picnic-icon-button> -->

    <ng-container class="is-desktop" [ngSwitch]="credentialsService.isAuthenticated()">
      <ng-container *ngSwitchCase="true">
        <picnic-icon-button
          routerLink="/create-post"
          class="is-desktop"
          bgColor="transparent"
          [iconSize]="30"
          padding="10px"
          iconColor="var(--text-secondary-color)"
          name="create-post"
        ></picnic-icon-button>
        <simple-dropdown
          (bySelect)="handleOnAvatarDropdownSelect($event)"
          [items]="avatarDropdownItems"
          [emitRepeatedValues]="true"
          [showOpen]="false"
          [maxHeight]="90"
          [maxWidth]="150"
          [customPosition]="{ left: -100 }"
        >
          <ng-template #customButton>
            <picnic-avatar
              [size]="48"
              [showFollows]="false"
              [src]="state.profile ? state.profile.profileImage : 'assets/picnic-logo.svg'"
              bgColor="#DEEFFF"
            ></picnic-avatar>
          </ng-template>

          <ng-template let-item #customItem>
            <div class="dropdown-item">
              <picnic-icon
                [color]="item.value === 'OPEN_PROFILE' ? 'var(--text-secondary-color)' : '#FC456A'"
                [size]="20"
                [name]="item.value === 'OPEN_PROFILE' ? 'profile-outline' : 'logout-outline'"
              ></picnic-icon>
              <span [style.color]="item.value === 'OPEN_PROFILE' ? 'var(--text-secondary-color)' : '#FC456A'">{{
                item.label
              }}</span>
            </div>
          </ng-template>
        </simple-dropdown>
      </ng-container>

      <picnic-button
        *ngSwitchCase="false"
        (byClick)="navigateToLogin()"
        [label]="'sign in'"
        height="48px"
        class="w-100 d-none d-sm-block"
      >
        <picnic-icon name="login" icon></picnic-icon>
      </picnic-button>
      <!-- only for mobile -->
      <picnic-button
        *ngSwitchCase="false"
        (byClick)="navigateToLogin()"
        label=""
        height="48px"
        width="60px"
        class="d-block d-sm-none"
      >
        <picnic-icon name="login" icon></picnic-icon>
      </picnic-button>
    </ng-container>
  </div>
</div>
