.login-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/onboarding-background.svg");
  object-fit: contain;
  object-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
