@import "src/theme/theme-variables";
@import "bootstrap/scss/mixins/breakpoints";

.separator-label {
  font-weight: 400;
  //font-size: 12pt;
  color: #b3b3b3;
  margin: 12px 0 12px 0;
}

.social-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 6px;
  background: var(--bg-color);
  border-radius: 16px;
  height: 45px;
  border: 1px solid var(--stroke-color);
  font-weight: 400;
  //font-size: 14pt;
  line-height: 21px;
  width: 100%;
  color: #808080;
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  transition: 0.2s background-position;
}

/* Desktop layout */
@media (min-width: 768px) {
  .d-flex.align-items-center {
    flex-direction: row;
  }
}

/* Mobile layout */
@media (max-width: 767px) {
  .d-flex.align-items-center {
    flex-direction: column;
  }
}

.social-button:hover {
  background-position: bottom;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}
