@import "src/theme/theme";

.poll-container {
  height: 64vh;
  width: 100%;
  max-height: 64vh;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}

.poll-vote {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.poll-vote:hover {
  filter: grayscale(50%) brightness(0.8);
  transition: 0.3s ease-in-out;
}

.poll-container-shadow {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  pointer-events: none;
}

.poll-hint {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 15px;
  color: get-color-from-palette($black-and-white-palette, 100);
  pointer-events: none;
  text-shadow: 0px 2px 5px #000000;
  user-select: none;
}

.votes-label {
  margin-top: 20px;
  text-align: center;
  line-height: 0;
  user-select: none;
}

@media only screen and (max-width: 600px) {
  .poll-container {
    max-height: 350px;
    border-radius: 0;
  }

  .question-label {
    margin: 0 16px;
  }
}
