<div class="poll-container">
  <div
    role="button"
    (click.single)="handleLeftVote()"
    (click.double)="like()"
    [style.backgroundImage]="leftImage"
    class="poll-vote"
  >
    <poll-vote-bar
      *ngIf="isVoted()"
      [isMyVote]="isLeftVoted()"
      [barPercent]="leftBarPercent"
      [isPositive]="isLeftPositive()"
    ></poll-vote-bar>
  </div>
  <div
    role="button"
    (click.single)="handleRightVote()"
    (click.double)="like()"
    [style.backgroundImage]="rightImage"
    class="poll-vote"
  >
    <poll-vote-bar
      *ngIf="isVoted()"
      [isMyVote]="isRightVoted()"
      [barPercent]="rightBarPercent"
      [isPositive]="isRightPositive()"
    ></poll-vote-bar>
  </div>
  <div class="poll-container-shadow"></div>
  <div *ngIf="!isVoted()" class="poll-hint body40">
    <span>tap left or right</span>
  </div>
</div>
<div class="votes-label">{{ content?.votesTotal ?? 0 }} votes</div>
