<div class="row">
  <div class="col-12">
    <text-input [(ngModel)]="text" hint="what's on your mind? 🤔" [textArea]="true" [textAreaRows]="3"></text-input>
  </div>
</div>
<br />

<div class="row">
  <div class="col-md-10 col-xs-10">
    <picnic-button [label]="file ? file.name : 'choose file'" (byClick)="choiceFile()"></picnic-button>
    <br />
  </div>

  <div class="col-md-2 col-xs-2">
    <picnic-button [disabled]="!enablePost" label="post" padding="8px 25px" (byClick)="createPost()">
      <picnic-icon name="plane-outline" [size]="20" icon></picnic-icon>
    </picnic-button>
  </div>
</div>

<br />
<div class="row">
  <div class="col-6">
    <img class="img-thumbnail" width="260" height="260" *ngIf="previewUrl" [src]="previewUrl" alt="Preview" />
  </div>
  <div class="col-6"></div>
</div>
