<div
  class="sidebar"
  [@slideInOut]="chatSidebarService.isVisible ? 'in' : 'out'"
  infinite-scroll
  (scrolled)="loadMoreItems()"
>
  <div class="close-button">
    <picnic-icon-button
      (byClick)="chatSidebarService.hide()"
      name="close"
      padding="1px"
      bgColor="transparent"
      [rounded]="true"
      iconColor="var(--text-secondary-color)"
      [iconSize]="20"
    ></picnic-icon-button>
  </div>

  <span class="chat-label">chats</span>

  <div class="tabs-container">
    <div class="tab-item" [ngClass]="{ 'active-tab': selectedTab === 'CHAT_FEED' }" (click)="onSelectTab('CHAT_FEED')">
      <span class="tab-label">chat feed</span>
    </div>

    <div class="tab-item" [ngClass]="{ 'active-tab': selectedTab === 'CIRCLES' }" (click)="onSelectTab('CIRCLES')">
      <span class="tab-label">my circles</span>
    </div>

    <div class="tab-item" [ngClass]="{ 'active-tab': selectedTab === 'DMS' }" (click)="onSelectTab('DMS')">
      <span class="tab-label">dms</span>
    </div>
  </div>

  <div class="line-separator mb-3"></div>

  <ng-container [ngSwitch]="selectedTab">
    <div *ngSwitchCase="'CHAT_FEED'">
      <div class="content-section">
        <div class="item-list">
          <ng-container *ngFor="let item of chatFeed">
            <div class="chat__feed__container px-2" (click)="onOpenChatFeed(item.node)">
              <div class="col px-0">
                <div class="chat__feed__header">
                  <div class="d-flex me-1">
                    <picnic-avatar
                      [src]="
                        (item.node.circle?.imageFile ? item.node.circle?.imageFile : item.node.circle?.image) ?? ''
                      "
                      [emojiMode]="!item.node.circle?.imageFile"
                      [size]="35"
                      emojiSize="20"
                      [showFollows]="false"
                    ></picnic-avatar>
                  </div>
                  <div class="d-flex flex-column">
                    <div class="col circle-name">
                      {{ item.node.name | truncate : 14 : false }}
                    </div>
                    <div class="col circle-members">
                      <picnic-icon name="people-chat" color="#808080" [size]="14"></picnic-icon>
                      {{ item.node.participantsCount | shorthand }}
                    </div>
                  </div>
                </div>
                <div class="chat__feed__content">
                  <chat-message class="mt-2" *ngFor="let m of item.node.messages" [message]="m"></chat-message>
                </div>
              </div>
            </div>
            <div class="line-separator"></div>
          </ng-container>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'CIRCLES'">
      <div class="content-section px-3">
        <div class="item-list">
          <list-item
            *ngFor="let item of chatSidebarService.circles"
            class="item"
            [image]="circleImage(item) ?? ''"
            [emojiMode]="circleEmoji(item)"
            [imageSize]="40"
            imageBg="#D0FAC2"
            (click)="onOpen(item)"
          >
            <ng-template>
              <span class="username-label">{{ item.name }}</span>
            </ng-template>
          </list-item>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'DMS'">
      <div class="content-section px-3">
        <div class="search-container">
          <search-input
            (click)="onTapStartChat()"
            hint="start new dm"
            bgColor="var(--bg-secondary-color)"
            width="100%"
          ></search-input>
        </div>
        <div *ngIf="searchingDmsDropdown" class="item-list">
          <list-item
            *ngFor="let item of this.searchDmsUsers"
            [title]="item.node.username"
            [image]="item.node.profileImage"
            (click)="onCreateDm(item.node)"
          >
          </list-item>
        </div>
        <div *ngIf="!searchingDmsDropdown" class="item-list">
          <list-item
            *ngFor="let item of chatSidebarService.dms"
            class="item"
            [image]="item.chatImage"
            [forceImage]="true"
            [emojiMode]="false"
            [imageSize]="40"
            imageBg="#D0FAC2"
            (click)="onOpen(item)"
          >
            <ng-template>
              <span class="username-label">@{{ item.name }}</span>
            </ng-template>
          </list-item>
        </div>
      </div>
    </div>
  </ng-container>
</div>
