:host {
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100%;
  background-color: var(--bg-color);
  border-left: 1px solid var(--stroke-color);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 0px;
  padding: 15px 0;
}

.sidebar::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.chat-label {
  font-size: 13pt;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 5px;
  margin-left: 20px;
  display: block;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.username-label {
  font-size: 11pt;
  font-weight: 500;
  color: var(--text-color);
}

.content-section {
  padding: 0 0;
}

.line-separator {
  margin: 0;
  padding: 0;
  height: 10px;
  min-height: 10px;
  width: 100%;
  background: var(--bg-secondary-color);
}

.close-button {
  position: absolute;
  top: 12px;
  right: 20px;
}

.dropdown-scrollable-wrapper {
  width: 100%;
  position: absolute;
  background-color: transparent;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  overflow: hidden;
  z-index: 999;
}

.chat__feed__container {
  background: var(--bg-color);
  border-radius: 10px;
}

.chat__feed__header {
  font-size: 10pt;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.chat__feed__content {
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.circle-name {
  padding: 1px 0 0 3px;
  font-weight: 600;
  font-size: 11pt;
  line-height: 12px;
  width: 100%;
  cursor: pointer;
}

.circle-members {
  font-size: 9pt;
  font-weight: 300;
  color: #808080;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 3px;
  padding-top: 2px;
  margin-left: 3px;
}

.search-container {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

.tabs-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.tab-item {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tab-item:hover {
  background-color: var(--bg-secondary-color);
}

.tab-label {
  font-size: 10pt;
  color: #a0aabd;
  text-align: center;
}

.active-tab {
  box-shadow: inset 0px -2.5px 0px var(--text-color);
}

.active-tab > .tab-label {
  color: var(--text-color);
}

@media only screen and (min-width: 768px) {
  .sidebar {
    height: calc(100% - 83px);
  }
}
