.chat-footer {
  padding: 3px 6px 3px 10px;
  width: 100%;
  border-radius: 100px;
  border: 1px solid var(--stroke-color);
  transition: 200ms ease-in-out;
}

.replaying {
  border-radius: 25px;
  padding-top: 7px;
}

.comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-container {
  width: 100%;
  margin-left: 5px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.reply-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  margin-top: 2px;
  margin-bottom: 3px;
}

.reply-content-container {
  border-left: 2px solid #737272;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.reply-to-label {
  font-size: 11pt;
  color: var(--text-color);
  opacity: 0.5;
  line-height: 14px;
  margin-bottom: 2px;
}

.reply-content {
  font-size: 11pt;
  color: var(var(--text-secondary-color));
  opacity: 0.3;
  font-family: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 210px;
}

.close-reply-button {
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
}
