<div class="chat-footer" [class.replaying]="replyTo">
  <div *ngIf="replyTo" [@inOutAnimation] class="reply-container">
    <picnic-icon name="hollow-repost" color="#737272" [size]="22"></picnic-icon>

    <div class="reply-content-container">
      <span class="reply-to-label">reply to</span>
      <span class="reply-content">{{ replyTo.content }}</span>
      <div class="close-reply-button">
        <picnic-icon-button
          name="close"
          iconColor="#737272"
          [size]="26"
          [iconSize]="16"
          bgColor="transparent"
          (byClick)="onTapCancelReply()"
        ></picnic-icon-button>
      </div>
    </div>
  </div>

  <div *ngFor="let f of files.entries()" style="font-size: 8pt">
    <div class="span">{{ f[1].name }}</div>

    <span style="cursor: pointer" (click)="onTapDeleteAttachment(f[0])">&#10006; </span>
  </div>
  <div class="comment-container">
    <div class="actions-container">
      <picnic-icon-button
        name="paperclip"
        bgColor="transparent"
        iconColor="#808080"
        padding="2px 2px 4px 2px"
        [iconSize]="17"
        (byClick)="onTapUploadAttachment()"
      ></picnic-icon-button>
    </div>
    <div class="input-container">
      <text-input
        width="100%"
        height="38px"
        hint="add a comment"
        padding="0"
        fontSize="11pt"
        bgColor="transparent"
        [(ngModel)]="chatMessage"
        (keydown.enter)="onTapSendMessage()"
      ></text-input>
    </div>
    <picnic-icon-button
      name="arrow-right"
      bgColor="#007BFF"
      iconColor="white"
      [size]="34"
      [iconSize]="18"
      padding="0 0 3px 1px"
      [rounded]="true"
      (byClick)="onTapSendMessage()"
    >
    </picnic-icon-button>
  </div>
</div>
