<div (click.single)="goToPreview()" (click.double)="like()" [ngSwitch]="post?.type">
  <image-content *ngSwitchCase="'IMAGE'" [content]="post?.imageContent"></image-content>
  <video-content
    (click)="$event.stopPropagation()"
    *ngSwitchCase="'VIDEO'"
    [content]="post?.videoContent"
  ></video-content>
  <text-content *ngSwitchCase="'TEXT'" [content]="post?.textContent"></text-content>
  <link-content *ngSwitchCase="'LINK'" [content]="post?.linkContent"></link-content>
  <poll-content
    *ngSwitchCase="'POLL'"
    (byVote)="onPollVote($event)"
    [content]="post?.pollContent"
    [post]="post"
  ></poll-content>
  <div *ngIf="metaWords.length > 0" class="meta-words-container">
    <meta-word *ngFor="let meta of metaWords" [value]="meta"></meta-word>
  </div>
</div>
