.message-container {
  display: flex;
  width: 100%;
}

.message-content {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px 12px;
  gap: 6px;
  background: var(--bg-message-color);
  border-radius: 16px 16px 16px 0px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.message:hover {
  background: rgba(43, 63, 108, 0.12);
}

.message > .text {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: var(--text-message-color);
}

.message > .date {
  width: 100%;
  text-align: right;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;
  color: var(--text-color);
}

.me-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 12px;
  gap: 6px;
  background: var(--bg-me-message-color);
  border-radius: 16px 16px 0px 16px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.me-message:hover {
  background: #026ddf;
}

.me-message > .text {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: var(--text-me-message-color);
}

.me-message > .date {
  width: 100%;
  text-align: right;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.6;
  color: var(--text-me-message-color);
}

.author {
  font-size: 14px;
  line-height: 8px;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 4px;
}

.author:hover {
  text-decoration-line: underline;
}

.invite-container {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  margin: 5px 20px 0 5px;
  padding: 5px;
}

.me-invite-container {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  margin: 5px 5px 0 20px;
  padding: 5px;
  background-color: #43a3fc10;
}

.reply > * {
  font-size: 7pt;
}

.me-message > .reply > * {
  color: white;
}

.reply {
  background: #eff1f6;
  border-left: 2px solid #007bff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0 5px 5px 0;
  width: 100%;
  margin-top: 2px;
}

.me-message > .reply {
  background: #007bff;
  border-left: 2px solid white;
  padding-left: 5px;
}
