<div class="message-container" [ngStyle]="{ 'justify-content': isMe ? 'flex-end' : 'flex-start' }">
  <div class="message-content">
    <picnic-avatar
      *ngIf="!isMe"
      (click)="$event.stopPropagation(); onTapProfile(message.author)"
      [src]="message.author.profileImage"
      [size]="35"
      [showFollows]="false"
    ></picnic-avatar>
    <div class="message" [ngClass]="{ 'me-message': isMe }">
      <span *ngIf="!isMe" (click)="$event.stopPropagation(); onTapProfile(message.author)" class="author">
        {{ message.author.username }}
      </span>
      <div *ngIf="message.replyContent" class="reply">
        <div>{{ message.replyContent.author.username | formattedUsername }}</div>
        <div>{{ message.replyContent.content }}</div>
      </div>
      <div *ngFor="let m of media">
        <img [src]="m.url" *ngIf="m.fileType.startsWith('image')" width="100%" />
        <span *ngIf="m.fileType.startsWith('video')">
          <video width="100%" controls>
            <source [src]="m.url" [type]="m.fileType" />
          </video>
        </span>
      </div>
      <span class="text">
        <span *ngIf="message.type === 'TEXT'">{{ message.content }}</span>
        <span *ngIf="message.type === 'COMPONENT' && message.component?.type === 'CIRCLE_INVITE'">
          sent you invite
        </span>
      </span>
      <span class="date">{{ message.createdAt | date : 'h:mm a' }}</span>
    </div>
  </div>
</div>
<div
  *ngIf="message.type === 'COMPONENT' && message.component?.type === 'CIRCLE_INVITE'"
  class="invite-container"
  [ngClass]="{ 'me-invite-container': isMe }"
>
  <div class="row">
    <div class="col-3">
      <picnic-avatar
        [src]="
          componentPayloadInvite.circle.imageFile
            ? componentPayloadInvite.circle.imageFile
            : componentPayloadInvite.circle.image ?? ''
        "
        [emojiMode]="!componentPayloadInvite.circle.imageFile"
        [size]="40"
        emojiSize="40"
        [showFollows]="false"
      ></picnic-avatar>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="row" style="font-size: 15pt">{{ componentPayloadInvite.circle.name }}</div>
          <div class="row" style="font-size: 7pt">
            {{ componentPayloadInvite.circle.membersCount | shorthand }} members
          </div>
        </div>
      </div>
      <div class="row">
        <picnic-button
          [label]="componentPayloadInvite.circle.iJoined ? 'joined' : 'join'"
          (byClick)="onJoinClick()"
        ></picnic-button>
      </div>
    </div>
  </div>
</div>
