<div class="d-flex flex-row justify-content-center w-100 profile-navbar-container">
  <page-navbar-item label="posts" iconName="image-duotone" path="./posts" routerLinkActive="active" labelSize="13pt">
  </page-navbar-item>

  <page-navbar-item
    label="circles"
    iconName="people-duotone"
    path="./circles"
    routerLinkActive="active"
    labelSize="13pt"
  >
  </page-navbar-item>

  <page-navbar-item
    label="collections"
    iconName="folder-duotone"
    path="./collections"
    routerLinkActive="active"
    labelSize="13pt"
  >
  </page-navbar-item>
</div>
