<div class="content-container">
  <h1>Circle</h1>

  <div class="section">
    <h2>Overview</h2>
    <p>
      The Circle GraphQL API provides a set of queries and mutations to manage circles, their members, and associated
      data in your application. This API is built on top of GraphQL, a modern, strongly-typed query language that allows
      for flexible and performant data retrieval.
    </p>
  </div>

  <div class="section">
    <h2>Queries</h2>
    <h3>GetUserCirclesGQL</h3>
    <ul>
      <li>Input: <code>getUserCircles: GetUserCirclesRequest!</code></li>
      <li>Output: GetUserCirclesResponse</li>
      <li>Description: Retrieves a list of circles for a user along with pagination information.</li>
    </ul>

    <h3>GetCircleByIdGQL</h3>
    <ul>
      <li>Input: <code>circleId: ID!</code></li>
      <li>Output: GetCircleByIdResponse</li>
      <li>Description: Retrieves circle information by its ID.</li>
    </ul>

    <h3>GetMembersGQL</h3>
    <ul>
      <li>
        Input: <code>circleId: ID!</code>, <code>isBanned: Boolean</code>, <code>cursor: CursorInput!</code>,
        <code>roles: [CircleRole]</code>,
        <code>searchQuery: String</code>
      </li>
      <li>Output: GetMembersResponse</li>
      <li>Description: Retrieves a list of circle members along with pagination information.</li>
    </ul>

    <h3>OnBoardingCirclesConnectionGQL</h3>
    <ul>
      <li>Output: OnBoardingCirclesConnectionResponse</li>
      <li>Description: Retrieves a list of onboarding circles.</li>
    </ul>

    <h3>BLWConnectionGQL</h3>
    <ul>
      <li>
        Input: <code>circleId: ID!</code>, <code>cursor: CursorInput!</code>,
        <code>searchQuery: String</code>
      </li>
      <li>Output: BLWConnectionResponse</li>
      <li>Description: Retrieves a connection of blacklisted words for a circle.</li>
    </ul>

    <h3>CirclesConnectionGQL</h3>
    <ul>
      <li>
        Input: <code>searchQuery: String</code>,
        <code>cursor: CursorInput!</code>
      </li>

      <li><code>isStrict: Boolean</code></li>
      <li>Output: CirclesConnectionResponse</li>
      <li>
        Description: Retrieves a list of circles along with pagination information based on the search query and
        strictness.
      </li>
    </ul>

    <h3>CircleReportsConnectionGQL</h3>
    <ul>
      <li>Input: <code>data: CircleReportsConnectionInput</code></li>
      <li>Output: CircleReportsConnectionResponse</li>
      <li>Description: Retrieves a list of circle reports along with pagination information.</li>
    </ul>
  </div>

  <div class="section">
    <h2>Mutations</h2>
    <h3>JoinCirclesGQL</h3>
    <ul>
      <li>Input: <code>circlesIds: [ID!]!</code></li>
      <li>Output: JoinCirclesResponse</li>
      <li>Description: Joins the specified circles.</li>
    </ul>

    <h3>LeaveCirclesGQL</h3>
    <ul>
      <li>Input: <code>circlesIds: [ID!]!</code></li>
      <li>Output: LeaveCirclesResponse</li>
      <li>Description: Leaves the specified circles.</li>
    </ul>

    <h3>RemoveCustomBLWordsGQL</h3>
    <ul>
      <li>Input: <code>circleId: ID!</code>, <code>words: [String!]</code></li>
      <li>Output: RemoveCustomBLWordResponse</li>
      <li>Description: Removes custom blacklisted words from a circle.</li>
    </ul>

    <h3>UpdateCircleGQL</h3>
    <ul>
      <li>Input: <code>circleId: string</code>, <code>payload: CirclesInput</code></li>
      <li>Output: UpdateCircleResponse</li>
      <li>Description: Updates circle information.</li>
    </ul>

    <h3>UnbanUserInCircleGQL</h3>
    <ul>
      <li>Input: <code>circleId: ID!</code>, <code>userId: ID!</code></li>
      <li>Output: UnbanUserInCircleResponse</li>
      <li>Description: Unbans a user in a circle.</li>
    </ul>

    <h3>BanUserInCircleGQL</h3>
    <ul>
      <li>Input: <code>circleId: ID!</code>, <code>userId: ID!</code></li>
      <li>Output: BanUserInCircleResponse</li>
      <li>Description: Bans a user in a circle.</li>
    </ul>

    <h3>ResolveReportGQL</h3>
    <ul>
      <li>
        Input: <code>reportId: ID!</code>, <code>circleId: ID!</code>,
        <code>fullFill: Boolean</code>
      </li>
      <li>Output: ResolveReportResponse</li>
      <li>Description: Resolves a report in a circle.</li>
    </ul>
  </div>
</div>
