.content-container {
  overflow: auto;
  height: 100%;
  width: 100%;
  font-weight: 400;
}

.content-container::-webkit-scrollbar {
  width: 0;
  display: none;
}

h1,
h2,
h3 {
  margin-top: 0;
}

ul,
ol {
  padding-left: 20px;
}

pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
}

code {
  font-family: "Courier New", monospace;
  background-color: #f4f4f4;
  padding: 2px 4px;
}

.section {
  margin-bottom: 2em;
}
