.page-container {
  width: 100%;
  height: 100%;
  // background-color: var(--bg-secondary-color);
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 25px;
  padding-bottom: 110px;
}

.page-container::-webkit-scrollbar {
  width: 0;
  display: none;
}

.grid-title {
  font-weight: 500;
  font-size: 22px;
  color: var(--text-color);
}

.grid-container {
  margin-top: 20px;
}

.loading-indicator {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 980px) {
  .search-dropdown {
    margin-top: 15px;
  }

  .left-hero-container {
    padding: 0;
    max-width: 100%;
  }

  .hero-image {
    max-width: 100%;
    height: 600px;
  }
}

@media screen and (max-width: 1400px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-card {
    height: 135px;
  }

  .is-desktop {
    display: none;
  }

  .page-container {
    padding-bottom: 165px;
  }
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
