.meta-word-container {
  color: var(--text-color);
  background-color: var(--bg-secondary-color);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 10pt;
  text-decoration: none;
  transition: background-color 0.3s;
}

.meta-word-container:hover {
  background-color: #eaeced;
}
