.gradient-text {
  font-weight: 400;
  font-size: 16pt;
  background: linear-gradient(
    143.93deg,
    #fff173 8.16%,
    rgba(255, 141, 116, 0.977753) 25.67%,
    rgba(233, 102, 133, 0.970664) 41.32%,
    rgba(183, 91, 255, 0.966146) 60.46%,
    #81c3ff 78.44%,
    rgba(116, 255, 230, 0.971339) 97.12%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
