.page-container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  padding: 40px 0 140px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.circle__name {
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  border-radius: 100px;
  height: 60px;
}

.description-label {
  color: var(--subtitle-color);
  font-size: 16pt;
}

.divider {
  border-top: 2px solid var(--stroke-color);
  margin-top: 34px;
  margin-bottom: 28px;
}

.buttons-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.circle-image-header {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 220px;
  min-height: 200px;
  max-height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.placeholder-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--input-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-icon {
  opacity: 0.3;
  padding-bottom: 15px;
}

.page-content-layout {
  height: calc(100% - 81px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-width: 100%;
  overflow-x: hidden;
}

.page-content-layout::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.see-more-button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.empty-template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 50px;
  gap: 4px;
}

.empty-icon {
  width: 100px;
  height: 100px;
  font-size: 50px;
  background-color: #f8f8f8;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-label {
  font-size: 20pt;
  color: #252525;
}

.circle-image-header {
  width: 100%;
  height: 220px;
  min-height: 200px;
  max-height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-row {
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--stroke-color);
}

.content-column {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0;
}

.circle-info-container {
  width: 100%;
  background-color: var(--bg-color);
  border-left: 1px solid var(--stroke-color);
  border-right: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.circle-name {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
  padding: 35px 20px 16px 20px;
}

.circle-sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.right-sidebar-container {
  display: flex;
  flex-direction: column;
  // width: 100%;
  // max-width: 250px;
  right: 0;
  height: 100%;
  position: relative;
  background-color: var(--bg-color);
  box-shadow: -1px 0px 0px var(--stroke-color);
  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  right-sidebar {
    height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0;
  }
}

// .main-content {
//   width: calc(100% - 250px);
// }

.page-layout {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
}

.circle-image-header {
  width: 100%;
  height: 178px;
  min-height: 178px;
  max-height: 178px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-list {
  display: flex;
  flex-direction: column;
}

.floating-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -45px;
  left: 0;
}

.circle-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.circle-row-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.floating-avatar-container {
  display: flex;
  justify-content: center;
}

.floating-separator {
  width: 24px;
}

.floating-separator-mobile {
  width: 28px;
}

.section-title {
  font-style: normal;
  font-size: 16pt;
  color: var(--text-color);
}

.section-text {
  font-style: normal;
  //font-size: 12pt;
  color: var(--subtitle-color);
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.stats-count {
  font-weight: 600;
  font-size: 14pt;
  color: var(--text-color);
}

.stats-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.stats-label {
  font-weight: 400;
  font-size: 10pt;
  text-align: start;
  color: var(--subtitle-color);
}

.grow-circle-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid var(--stroke-color);
  border-right: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
  padding: 24px;
  gap: 10px;
}

.grow-circle-label {
  font-weight: 600;
  font-size: 20pt;
  color: var(--text-color);
  padding-bottom: 10px;
}

.grow-circle-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
  background: rgba(43, 63, 108, 0.05);
  border-radius: 16px;
}

.grow-circle-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.grow-circle-item-title {
  font-weight: 500;
  font-size: 20px;
  color: #191919;
}

.grow-circle-item-description {
  font-weight: 400;
  //font-size: 14pt;
  color: #808080;
}

.grow-circle-button {
  margin-top: 4px;
}

.empty-posts-height {
  height: 68%;
}

.nav-buttons-container {
  width: 100%;
  display: flex;
  border-left: 1px solid var(--stroke-color);
  padding: 0 14px;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  padding: 4px 0;
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-indicator {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .circle-buttons {
    margin-top: 20px;
  }
  .see-more-button {
    display: flex;
    justify-content: center;
    margin-top: 36px;
  }

  .is-desktop {
    display: none;
  }

  .main-content {
    width: calc(100%);
  }

  .empty-posts-height {
    border-bottom: none;
  }
}

@media only screen and (min-width: 600px) {
  .is-mobile {
    display: none;
  }
}
