<ng-container>
  <div class="page-content-layout">
    <div *ngIf="coverImage" [style.background-image]="coverImage" class="circle-image-header">
      <br />
      <page-header [showBackButtonBackground]="false" title=""></page-header>
    </div>

    <div *ngIf="!coverImage" class="circle-image-header">
      <div class="placeholder-container">
        <picnic-icon class="placeholder-icon" name="image-duotone" [size]="80"></picnic-icon>
      </div>
      <br />
      <page-header [showBackButtonBackground]="false" title=""></page-header>
    </div>

    <div class="row gx-0">
      <div class="content-column col-xs-12 col-md-12 col-lg-12">
        <div class="main-content col-8" #main>
          <div class="circle-info-container">
            <div class="floating-container">
              <div class="floating-avatar-container">
                <div class="d-none d-sm-block floating-separator"></div>
                <!-- only for mobile -->
                <div class="d-block d-sm-none floating-separator-mobile"></div>

                <picnic-avatar
                  [src]="circle?.imageFile === '' ? circle?.image ?? '' : circle?.imageFile ?? ''"
                  [emojiMode]="circle?.imageFile === ''"
                  [showFollows]="false"
                  emojiSize="50"
                  [size]="78"
                  bgColor="#F9F9F9"
                >
                </picnic-avatar>
              </div>

              <div *ngIf="circle" class="d-none d-sm-block">
                <ng-container *ngTemplateOutlet="circleButtons"></ng-container>
              </div>
            </div>

            <div *ngIf="circle" class="d-block d-sm-none">
              <ng-container *ngTemplateOutlet="circleButtons"></ng-container>
            </div>

            <span class="d-none d-sm-block circle-name">{{ circle?.name }}</span>

            <!-- only for mobile -->
            <span class="d-block d-sm-none section-title">
              {{ circle?.name }}
              <div class="section" content>
                <span class="section-text">{{ circle?.description }}</span>
                <div class="stats-container">
                  <div role="button" class="stats-button">
                    <div class="stats-label">posts</div>
                    <span class="stats-count">{{ circle?.postsCount ?? 0 | shorthand }}</span>
                  </div>

                  <div role="button" class="stats-button">
                    <div class="stats-label">views</div>
                    <span class="stats-count">{{ circle?.viewsCount ?? 0 | shorthand }}</span>
                  </div>

                  <div (click)="goToMembers()" role="button" class="stats-button">
                    <div class="stats-label">members</div>
                    <span class="stats-count">{{ circle?.membersCount ?? 0 | shorthand }}</span>
                  </div>
                </div>
              </div>
            </span>
            <!-- only for mobile -->

            <div class="d-flex overflow-auto circle-sorting">
              <picnic-button
                *ngFor="let sortingOption of postSortingOptions"
                (byClick)="onTapSelectSorting(sortingOption)"
                [label]="valueToDisplay(sortingOption)"
                [textWeight]="400"
                [textColor]="postSorting === sortingOption ? 'var(--link-secondary-color)' : '#858585'"
                [color]="postSorting === sortingOption ? 'var(--bg-secondary-color)' : 'transparent'"
                padding="8px 12px"
              >
              </picnic-button>
            </div>
          </div>

          <div #anchorUp></div>
          <div *ngIf="!emptyPosts" class="post-list">
            <div *ngIf="posts.length > 0 && !loading" class="nav-buttons-container">
              <div class="nav-button">
                <picnic-text-button
                  *ngIf="hasPrev"
                  color="#858585"
                  padding="2px 10px"
                  label="previous"
                  [labelWeight]="500"
                  (byClick)="onPrev()"
                ></picnic-text-button>
              </div>
            </div>
            <post-wrapper *ngFor="let p of posts" [post]="p.node" [showComments]="false"></post-wrapper>
          </div>
          <div class="nav-button" *ngIf="hasNext && !loading">
            <picnic-text-button
              color="#858585"
              label="next"
              padding="2px 10px"
              [labelWeight]="500"
              (byClick)="onNext()"
            ></picnic-text-button>
          </div>
          <div #anchorDown style="margin-bottom: 20px"></div>

          <div *ngIf="loading && hasNext" class="loading-container">
            <img class="loading-indicator" src="assets/icons/loading.gif" icon />
          </div>

          <div
            *ngIf="emptyPosts && !loading && circle"
            [ngClass]="{ 'empty-posts-height': emptyPosts }"
            class="grow-circle-container"
          >
            <span class="grow-circle-label">grow your circle</span>
            <div class="grow-circle-item">
              <picnic-icon-button
                name="plus"
                bgColor="#0065D1"
                padding="0 0 2px 1px"
                [size]="25"
                [borderRadius]="8"
                [iconSize]="18"
                iconColor="white"
              ></picnic-icon-button>
              <div class="grow-circle-content-container">
                <span class="grow-circle-item-title">create your first post</span>
                <span class="grow-circle-item-description"
                  >Make Your Debut: Share Your First Post on Your Community and Let Your Voice Be Heard! Connect with
                  Like-Minded People and Start the Conversation.
                </span>
                <picnic-button
                  (byClick)="onTapCreatePost()"
                  class="grow-circle-button"
                  label="create post"
                  padding="8px 22px"
                  textSize="14px"
                ></picnic-button>
              </div>
            </div>
            <div class="grow-circle-item">
              <picnic-icon-button name="add-user" padding="0" [iconSize]="26" iconColor="#CC4A62"></picnic-icon-button>
              <div class="grow-circle-content-container">
                <span class="grow-circle-item-title">invite your friends</span>
                <span class="grow-circle-item-description"
                  >Ready to Expand Your Community? Invite Your Friends Today and Grow Together! More Members Means More
                  Ideas and More Fun.
                </span>
                <picnic-button
                  (byClick)="onTapInviteFriends()"
                  class="grow-circle-button"
                  label="invite friends"
                  textSize="14px"
                  color="#FF5D7B"
                  padding="8px 22px"
                ></picnic-button>
              </div>
            </div>
          </div>

          <br />
        </div>
        <!-- the ngIf ensures that the right sidebar is not rendered until circle is defined -->
        <div
          *ngIf="circle"
          [ngClass]="{ 'empty-posts-height': emptyPosts }"
          class="right-sidebar-container is-desktop col-4"
        >
          <right-sidebar [circle]="circle" [showElections]="true" [showRules]="true"></right-sidebar>
        </div>
      </div>
    </div>

    <div class="h-100 w-100">
      <div class="w-100 h-100"></div>
    </div>
  </div>
</ng-container>

<ng-template #circleButtons>
  <div class="circle-buttons">
    <picnic-button
      (byClick)="goToApps()"
      label="circle pods"
      height="45px"
      color="#8134FF"
      width="100%"
      padding="6px 40px"
      class="is-mobile"
    >
      <picnic-icon name="category" [size]="20" icon></picnic-icon>
    </picnic-button>

    <div class="circle-row-buttons">
      <picnic-button
        *ngIf="circleFollowed"
        (byClick)="handlePostCreate()"
        label="post"
        height="45px"
        color="#E8C23E"
        width="100%"
        padding="6px 40px"
      >
        <picnic-icon name="plus-square" icon></picnic-icon>
      </picnic-button>
      <picnic-button
        *ngIf="!circleFollowed"
        (byClick)="onTapJoinCircle()"
        label="join"
        height="45px"
        width="100%"
        padding="6px 40px"
      >
        <picnic-icon name="star" [size]="22" icon></picnic-icon>
      </picnic-button>
      <picnic-button
        (byClick)="goToApps()"
        label="pods"
        height="45px"
        color="#8134FF"
        width="100%"
        padding="6px 40px"
        class="is-desktop"
      >
        <picnic-icon name="category" [size]="20" icon></picnic-icon>
      </picnic-button>
      <picnic-icon-button
        (byClick)="onChatClick()"
        label="chat"
        bgColor="#007BFF"
        iconColor="white"
        padding="0 0 4px 0"
        [rounded]="true"
        [iconSize]="20"
        [size]="46"
        name="chat-filled"
      >
      </picnic-icon-button>

      <picnic-icon-button
        *ngIf="isDirector || isModerator"
        (byClick)="goToSettings()"
        label="settings"
        bgColor="#FF5D7B"
        iconColor="white"
        padding="0 0 2px 0"
        [rounded]="true"
        [size]="46"
        name="setting"
      >
      </picnic-icon-button>
      <div class="floating-separator"></div>
    </div>
  </div>
</ng-template>
