<div class="messages-container">
  <loading-spinner [loading]="loadingNext" [size]="30"></loading-spinner>

  <chat-message *ngFor="let message of messages" [message]="message" (click)="onTapReply(message)"></chat-message>
  <div #anchor></div>
</div>
