.messages-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  padding: 20px 0;
}

.messages-container::-webkit-scrollbar {
  width: 0;
  display: none;
}
