<div class="d-flex flex-row justify-content-between align-content-center">
  <picnic-avatar
    [src]="post?.author?.profileImage ?? ''"
    (byAvatarClick)="navigateToUser()"
    [showFollows]="false"
  ></picnic-avatar>
  <div class="d-flex flex-column info-container">
    <div
      role="button"
      class="d-flex flex-column flex-md-row align-content-start align-items-md-center"
      (click)="navigateToUser()"
    >
      <span class="username-label">{{ post?.author?.username! | formattedUsername }}</span>

      <span class="d-none d-md-block creation-date align-items-center">&nbsp; • &nbsp;</span>
      <span class="creation-date align-items-center"
        >{{ post?.createdAt | amTimeAgo }}
        <views-count class="d-md-none" [verticalLayout]="true" [count]="post?.viewsCount ?? 0"></views-count
      ></span>
      <views-count
        class="d-flex d-none d-md-block"
        [verticalLayout]="true"
        [count]="post?.viewsCount ?? 0"
      ></views-count>
    </div>
    <div class="d-flex flex-row gap-1">
      <picnic-icon
        style="opacity: 0.7"
        name="subdirectory-arrow"
        color="var(--subtitle-color)"
        [size]="20"
      ></picnic-icon>
      <circle-tag [circle]="post?.circle" [follows]="post?.circle?.iJoined ?? false"></circle-tag>
    </div>
  </div>
</div>
