.creation-date {
  font-style: normal;
  font-weight: 400;
  //font-size: 12pt;
  color: var(--subtitle-color);
}

.divider {
  border-top: 2px solid var(--stroke-color);
  margin-left: 0;
  margin-right: 0;
}

.username-label {
  //font-size: 14pt;
  font-weight: 600;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
