@import "src/theme/theme";

.poll-vote-bar-container {
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.poll-vote-bar-avatar {
  margin-bottom: 4px;
  user-select: none;
}

.poll-vote-bar-your-vote {
  color: get-color-from-palette($black-and-white-palette, 100);
  opacity: 50%;
  pointer-events: none;
  margin-bottom: 12px;
  user-select: none;
}

.poll-vote-bar-percent {
  color: get-color-from-palette($black-and-white-palette, 100);
  pointer-events: none;
  margin-bottom: 4px;
  user-select: none;
}

.poll-vote-bar-line {
  width: 16px;
  border-radius: 8px 8px 0px 0px;
}

.poll-vote-bar-positive {
  background-color: get-color-from-palette($green-palette, 500);
}

.poll-vote-bar-negative {
  background-color: get-color-from-palette($pink-palette, 500);
}
