<div class="poll-vote-bar-container">
  <picnic-avatar
    *ngIf="isMyVote"
    class="avatar, poll-vote-bar-avatar"
    [showFollows]="false"
    [src]="profile?.profileImage ?? ''"
    [size]="56"
  ></picnic-avatar>
  <div *ngIf="isMyVote" class="poll-vote-bar-your-vote body30">your vote</div>
  <div class="poll-vote-bar-percent display20">{{ barPercent }}%</div>
  <div
    class="poll-vote-bar-line"
    [ngClass]="isPositive ? 'poll-vote-bar-positive' : 'poll-vote-bar-negative'"
    [@position]="{ value: position, params: { barHeight: barHeight() } }"
  ></div>
</div>
