<section class="page-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-10 text-center d-flex flex-column w-100 justify-content-center">
          <h1 class="text-center">404 page not found</h1>

          <img class="not-found-image" src="assets/not-found-image.jpeg" />

          <div class="contant-box">
            <h3 class="h2">Looks like this page has gone on a picnic</h3>
            <picnic-button
              routerLink="/"
              label="go to home"
              width="200px"
              height="50px"
              textSize="20px"
            ></picnic-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
