.page-container {
  width: 100vw;
  height: 100vh;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}

.page-container img {
  width: 100%;
}

h1 {
  font-size: 50px;
  text-shadow: 1px 0 0 currentColor;
}

h3 {
  font-size: 25px;
}

.not-found-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 30px;
}

.contant-box {
  margin-top: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
