.circle-name-container {
  background: var(--bg-color);
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--stroke-color);
  border-radius: 1000px;
  padding: 20px 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.circle-label {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
}
