<div class="circle-name-container">
  <span class="circle-label">{{ circle?.image }}</span>
  <span class="circle-label">{{ circle?.name }}</span>
  <picnic-icon *ngIf="circle?.isVerified" name="verified-circle"></picnic-icon>
</div>
