.accordion {
  width: 100%;
}

.accordion-header {
  padding: 10px 16px;
  font-style: normal;
  font-weight: 600;
  //font-size: 14pt;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.accordion-content.expanded {
  max-height: 500px;
}

.arrow-button {
  transition: transform 0.3s ease-out;
}

.arrow-button.expanded {
  transform: rotate(180deg);
}
