<div class="accordion">
  <div class="accordion-section">
    <div class="accordion-header" (click)="toggle()">
      <span>{{ title }}</span>
      <div [ngClass]="{ expanded: isExpanded }" class="arrow-button">
        <picnic-icon-button
          name="arrow-down"
          iconColor="var(--text-color)"
          bgColor="transparent"
          padding="0"
        ></picnic-icon-button>
      </div>
    </div>
    <div class="accordion-content" [@expandAnimation]="isExpanded ? 'expanded' : 'collapsed'">
      <ng-content select="[content]"></ng-content>
    </div>
  </div>
</div>
