<div class="dialog-container">
  <div *ngIf="progress" class="progress-bar-container">
    <div *ngIf="progress" [style.width]="progress" class="progress-bar"></div>
  </div>

  <div [ngStyle]="{ padding: emojiPadding, background: emojiBg }" *ngIf="emoji" class="emoji-container">
    <span [style.fontSize.px]="emojiSize">{{ emoji }}</span>
  </div>
  <ng-content *ngIf="!emoji" select="[image]"></ng-content>

  <div class="title-container">
    <span *ngIf="title" class="title-label">{{ title }}</span>
    <ng-content *ngIf="!title" select="[title]"></ng-content>
  </div>

  <span *ngIf="subtitle" class="subtitle-label">{{ subtitle }}</span>

  <loading-spinner [loading]="loading" class="mt-3"></loading-spinner>

  <div class="bottom-container">
    <ng-content select="[content]"></ng-content>
  </div>
</div>
