.dialog-container {
  width: 500px;
  background-color: #fff;
  color: #000;
  padding: 28px 30px 25px 30px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

@media (max-width: 600px) {
  .dialog-container {
    width: 90vw;
  }
}

.title-container {
  margin-top: 14px;
}

.emoji-container {
  width: 88px;
  height: 88px;
  background: #f2f2f2;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  margin-top: 32px;
  width: 100%;
}

.title-label {
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

.subtitle-label {
  font-weight: 400;
  font-size: 16pt;
  color: var(--subtitle-color);
  white-space: pre-line;
}

.progress-bar-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 32px;
  background-color: transparent;
  pointer-events: none;
}

.progress-bar {
  width: 100%;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #abe696;
}
