<div class="content-container">
  <list-item
    *ngFor="let item of chatSidebarService.circles"
    class="item"
    [image]="circleImage(item) ?? ''"
    [emojiMode]="circleEmoji(item)"
    [imageSize]="40"
    imageBg="#D0FAC2"
    (click)="onTapOpen(item)"
  >
    <ng-template>
      <span class="username-label">{{ item.name }}</span>
    </ng-template>
  </list-item>
</div>
