<div class="d-flex flex-row justify-content-center gap-4">
  <page-navbar-item label="posts" iconName="image-duotone" path="./posts" routerLinkActive="active"> </page-navbar-item>

  <page-navbar-item label="mods" iconName="profile-duotone" path="./mods" routerLinkActive="active"> </page-navbar-item>

  <page-navbar-item label="rules" iconName="folder-duotone" path="./rules" routerLinkActive="active">
  </page-navbar-item>
</div>
