.search-container {
  width: 340px;
  height: 45px;
  background: var(--bg-color);
  color: var(--text-secondary-color);
  border-radius: 16px;
  border: none;
  padding: 0 16px;
  input {
    color: var(--text-secondary-color);
  }
  ::placeholder {
    color: var(--subtitle-color);
  }
}

.search-input,
.search-input:active,
.search-input:focus {
  border: none;
  background-color: transparent;
  box-shadow: none;
  //font-size: 14pt;
}

.search-input::placeholder {
  font-weight: 400;
  color: #2f2f2f;
}
