.stats-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stats-count {
  font-weight: 600;
  font-size: 14pt;
  color: var(--text-color);
}

.stats-label {
  font-weight: 400;
  //font-size: 14pt;
  color: var(--text-color);
}
