<div class="stats-container">
  <div role="button" class="d-flex flex-column justify-content-center align-items-center">
    <span class="stats-count">
      {{ circle?.postsCount | shorthand }}
    </span>
    <div class="stats-label">📜 posts</div>
  </div>

  <div role="button" class="d-flex flex-column justify-content-center align-items-center">
    <span class="stats-count">
      {{ circle?.viewsCount | shorthand }}
    </span>
    <div class="stats-label">👀 views</div>
  </div>

  <div
    role="button"
    [routerLink]="'/c/' + circle?.urlName ? circle!.urlName : circle?.name + '/members'"
    class="d-flex flex-column justify-content-center align-items-center"
  >
    <span class="stats-count">
      {{ circle?.membersCount | shorthand }}
    </span>
    <div class="stats-label">👥 members</div>
  </div>
</div>
