<div class="container m-0 p-0 d-flex flex-column justify-center align-content-center">
  <ng-content select="[content]"></ng-content>

  <views-count class="mt-2" [count]="post?.viewsCount ?? 0"></views-count>
  <div class="mt-2 d-flex flex-row justify-content-between align-content-center">
    <post-creator-info [post]="post"></post-creator-info>
    <post-actions [post]="post"></post-actions>
  </div>

  <hr class="divider" />

  <picnic-banner [mode]="bannerMode"></picnic-banner>
  <message-list class="mt-3 message-list" [postId]="post!.id" [mode]="messageListMode"></message-list>
</div>
