.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding: 10px 18px 220px 18px;
  gap: 12px;
}

.content-container::-webkit-scrollbar {
  display: none;
  width: 0;
}

.search-container {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.username-label {
  font-size: 11pt;
  font-weight: 500;
  color: var(--text-color);
}

@media only screen and (max-width: 768px) {
  .content-container {
    padding-bottom: 130px;
  }
}
