<div class="content-container">
  <div class="search-container">
    <search-input
      hint="start new dm"
      bgColor="var(--bg-secondary-color)"
      width="100%"
      (byInput)="onDmsSearch($event)"
      [(ngModel)]="searchDmsUsers"
      #searchRef
    ></search-input>
  </div>
  <div *ngIf="searchingDmsDropdown" class="item-list">
    <list-item
      *ngFor="let item of this.searchDmsUsers"
      [title]="item.node.username"
      [image]="item.node.profileImage"
      (click)="onCreateDm(item.node)"
    >
    </list-item>
  </div>
  <div *ngIf="!searchingDmsDropdown" class="item-list">
    <list-item
      *ngFor="let item of chatSidebarService.dms"
      class="item"
      [image]="item.chatImage ?? ''"
      [forceImage]="true"
      [emojiMode]="false"
      [imageSize]="40"
      imageBg="#D0FAC2"
      (click)="onTapOpen(item)"
    >
      <ng-template>
        <span class="username-label">@{{ item.name }}</span>
      </ng-template>
    </list-item>
  </div>
</div>
