.content {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
  max-height: 80%;
  max-width: 500px;
  margin: auto;
  padding: 25px;
}

.title-label {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.description-label {
  font-weight: 400;
  //font-size: 14pt;
  text-align: center;
  color: #808080;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 16px;
}
