<modal-wrapper [isOpen]="isOpen" (click)="onCloseOutside($event)">
  <div click.stop class="content" content>
    <picnic-logo size="90px"></picnic-logo>
    <div class="modal-body">
      <span class="title-label">picnic app</span>
      <span class="description-label"
        >This feature is currently being built, in the meantime please signup on the mobile app</span
      >
    </div>
    <div class="footer">
      <picnic-button
        (byClick)="openMobileApp()"
        label="mobile sign in"
        textColor="#007BFF"
        width="100%"
        color="transparent"
        border="2px solid #007BFF"
      >
        <picnic-icon name="login" [size]="20" icon></picnic-icon>
      </picnic-button>
      <picnic-button (byClick)="close()" label="dismiss" width="100%" height="45px" color="#8134FF"> </picnic-button>
    </div>
  </div>
</modal-wrapper>
