<div class="seeds_counter">
  <ng-container [ngSwitch]="preffix !== undefined">
    <span *ngSwitchCase="true" [style.color]="preffixColor">{{ preffix }}</span>

    <span *ngSwitchCase="false">🌰 {{ seedsCount }}</span>
  </ng-container>

  <ng-container [ngSwitch]="suffix !== undefined">
    <span *ngSwitchCase="true" class="default-suffix" [style.color]="suffixColor" translate>{{ suffix }}</span>

    <picnic-text-button
      label="seeds"
      color="#0065D1"
      padding="3px 8px"
      *ngSwitchCase="false"
      translate
      (byClick)="onSeedsClick()"
    ></picnic-text-button>
  </ng-container>
</div>
