.seeds_counter {
  background: var(--bg-secondary-color);
  border-radius: 12px;
  height: 48px;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.default-suffix {
  cursor: default;
}
