.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.chip {
  padding: 8px 12px;
  outline: 1.5px solid #84c4ff;
  border-radius: 100px;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 100px;
  background: var(--bg-color);
  cursor: pointer;
  user-select: none;
  transition: background 0.15s ease-in-out;
}

.chip.selected {
  background: #84c4ff;
  color: var(--text-color);
}

.icon-container {
  background: var(--bg-color);
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 100px;
  padding-bottom: 2px;
}
