<div class="chip-container">
  <div
    *ngFor="let item of items"
    [ngStyle]="
      item.selected
        ? {
            background: primaryColor,
            color: 'white',
            outline: '1.5px solid ' + primaryColor
          }
        : {
            background: 'white',
            outline: '1.5px solid ' + primaryColor,
            color: 'black'
          }
    "
    [ngClass]="{ selected: item.selected }"
    (click)="toggleItemSelection(item)"
    class="chip"
  >
    <span>{{ item.label }}</span>
    <div *ngIf="item.selected" class="icon-container">
      <picnic-icon [size]="14" [color]="primaryColor ?? '#84C4FF'" name="check-bold"></picnic-icon>
    </div>
  </div>
</div>
