@import "src/theme/theme";

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  padding-bottom: 120px;
}

.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 22px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 16px;
  width: 100%;
  max-width: 985px;
  margin: auto;
  overflow: auto;
  margin-top: 16px;
  border: 1px solid #e9e9e9;
  border-radius: 16px;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 18px 32px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 10px 32px 0 26px;
  }

  .page-container {
    padding-bottom: 30px;
  }
}

.item {
  padding: 12px 20px;
  box-shadow: 0px 1px 0px #e6e6e6;
}

.title-label {
  color: var(--text-color);
  user-select: none;
}

.delete-label {
  color: get-color-from-palette($pink-palette, 600);
  user-select: none;
}
