<div class="page-container">
  <div class="content-container">
    <div class="page-header">
      <span class="page-title">meta words</span>
    </div>

    <div class="d-flex align-items-center mt-4">
      <text-input class="flex-grow-1" hint="type meta word" width="100%" [(ngModel)]="newMetaWord"></text-input>
      <div class="button ms-4">
        <picnic-button label="add meta word" height="42px" color="#007BFF" width="135px" (byClick)="handleAdd()">
        </picnic-button>
      </div>
    </div>

    <div class="list-container mt-4">
      <div *ngFor="let item of circle?.metaWords" class="item">
        <div class="d-flex align-items-center justify-content-between">
          <div class="p-2 mr-auto title-label title10">{{ item }}</div>
          <div class="p-2 delete-label title20" (click)="handleDelete(item)">delete</div>
        </div>
      </div>
    </div>
  </div>
</div>
