<div class="bubble-chats-container">
  <div *ngIf="credentialsService.isAuthenticated()">
    <div
      *ngFor="let activeChat of activeChats$ | async"
      (click)="onTapOpenChat(activeChat)"
      [@bubbleChatAnimation]
      class="button-bubble"
    >
      <picnic-avatar
        class="button-shadow"
        [src]="avatar(activeChat) ?? ''"
        [emojiMode]="emojiMode(activeChat)"
        [size]="60"
        [showFollows]="false"
      >
      </picnic-avatar>
      <div class="focus-filter"></div>
      <!--      <picnic-icon-button-->
      <!--        (byClick)="onTapCloseChat(activeChat.id)"-->
      <!--        class="button-close-bubble"-->
      <!--        name="close-bold"-->
      <!--        bgColor="white"-->
      <!--        [size]="25"-->
      <!--        [iconSize]="16"-->
      <!--        padding="0 0 2px 0"-->
      <!--      ></picnic-icon-button>-->
    </div>
  </div>

  <picnic-icon-button
    (byClick)="showChatSidebar()"
    class="button-shadow"
    name="floating-chat"
    [rounded]="true"
    [size]="60"
    [iconSize]="24"
    bgColor="#007BFF"
    iconColor="white"
    padding="0 0 5px 0"
  ></picnic-icon-button>
</div>
