.bubble-chats-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button-bubble {
  position: relative;
  width: 60px;
  height: 60px;
  margin-top: 8px;
}

.button-bubble:hover > .focus-filter {
  background: rgba(0, 0, 0, 0.1);
}

.button-close-bubble {
  position: absolute;
  right: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 100px;
}

.focus-filter {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transition: background 0.2s ease-in-out;
  top: 0;
}

.button-shadow {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

@media only screen and (max-width: 768px) {
  .button-shadow {
    display: none;
  }
}
