<div class="feed-top-container">
  <!--  Menu button -->
  <picnic-icon-button
    (click)="$event.stopPropagation(); toggleFeedSidebar()"
    name="feed-menu"
    [size]="35"
    [iconSize]="26"
    bgColor="transparent"
    iconColor="var(--text-color)"
  ></picnic-icon-button>

  <div class="feed-navbar">
    <a (click)="onTapForYouFeed()" [class.active]="activeFeedTab === 'for you'" role="button" class="feed-button">
      <span translate class="text-lowercase text-feed">for you</span>
    </a>
    <a (click)="onTapCirclesFeed()" [class.active]="activeFeedTab === 'circles'" role="button" class="feed-button">
      <span translate class="text-lowercase text-feed">my circles</span>
    </a>
  </div>

  <ng-container *ngIf="guest === false; else guestUser">
    <picnic-icon-button
      routerLink="/notifications"
      name="notification"
      [size]="35"
      [iconSize]="26"
      bgColor="transparent"
      iconColor="var(--text-color)"
    ></picnic-icon-button>
  </ng-container>
  <ng-template #guestUser>
    <picnic-icon-button
      name="notification"
      (click)="$event.stopPropagation(); this.openSignUpModal()"
      [size]="35"
      [iconSize]="26"
      bgColor="transparent"
      iconColor="var(--text-color)"
    ></picnic-icon-button>
  </ng-template>
</div>
