.feed-navbar {
  overflow-x: auto;
  max-width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
}

.feed-navbar::-webkit-scrollbar {
  display: none;
}

.feed-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 100px;
  transition: background-color 0.25s ease-in-out;
}

.text-feed {
  font-weight: 800;
  font-size: 13pt;
  line-height: 24px;
  color: var(--text-color);
  opacity: 0.3;
  transition: 0.25s ease-in-out;
  white-space: nowrap;
}

.active {
  background-color: var(--bg-secondary-color);
}

.active > .text-feed {
  opacity: 1;
}

// Responsive design: rough initial block
@media only screen and (max-width: 600px) {
  .feed-navbar {
    margin: 0 10px;
  }
}
