.report-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  width: 100%;
  margin-top: 30px;
}

.post-container {
  width: 100%;
  margin: auto;
}

.post-list {
  margin: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.post-top-section {
  padding: 36px 40px;
  padding-left: 20px;
  padding-top: 12px;
  width: 100%;
}

.divider {
  border-top: 1px solid var(--stroke-color);
  width: 100%;
}

.post-list-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 20px 20px;
  border-bottom: 1px solid var(--stroke-color);
}

.checkbox {
  transform: scale(1.2);
  cursor: pointer;
}

.post-row-container {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
}

.sort-dropdown {
  display: inline-flex;
  width: 145px;
}

.post-border {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e9e9e9;
  border-radius: 25px;
  overflow: hidden;
}

.empty-template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4px;
  margin-top: 25px;
}

.empty-icon {
  width: 80px;
  height: 80px;
  font-size: 35px;
  background-color: var(--bg-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.empty-label {
  margin-top: 5px;
  font-size: 18pt;
  color: var(--text-color);
}

.report-comment-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 20px;
  gap: 15px;
}

.post-comment {
  width: 100%;
  background: #f9f9f9;
  border-radius: 18px;
  padding: 15px;
}

.comment-actions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.report-user-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 20px;
  gap: 15px;
}

.report-user-item {
  width: 100%;
  background: #f9f9f9;
  border-radius: 18px;
  padding: 15px;
  pointer-events: none;
}

.report-user-item-content {
  display: flex;
  flex-direction: column;
  margin-left: 2px;
}

.user-username-label {
  font-weight: 600;
  //font-size: 14pt;
  line-height: 20px;
  color: var(--text-color);
}

.user-fullname-label {
  line-height: 20px;
  font-size: 15px;
}

.stats-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.stats-count {
  font-weight: 600;
  font-size: 10pt;
  color: var(--text-color);
  text-align: center;
}

.stats-label {
  font-weight: 400;
  font-size: 10pt;
  color: var(--text-color);
}

.stats-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 15px;
}

.user-actions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .report-actions {
    flex-direction: column;
    gap: 10px;
  }
}
