<ng-container *ngIf="!emptyReports; else emptyTemplate">
  <simple-dropdown
    class="sort-dropdown"
    inputBgColor="transparent"
    [items]="sortItems"
    [initialValue]="sortSelected"
    textSize="16px"
    [maxHeight]="138"
    [showOpen]="true"
    inputPadding="0"
  ></simple-dropdown>

  <div class="post-border">
    <div class="post-list-header">
      <input type="checkbox" class="checkbox" />
    </div>
    <div *ngFor="let r of reports; let isLast = last" class="post-container">
      <ng-container [ngSwitch]="r.report.reportType" *ngIf="r.object">
        <!-- Design for post reported -->
        <div class="post-row-container" *ngSwitchCase="'POST'">
          <input type="checkbox" class="checkbox" />
          <div class="post-top-section">
            <post-wrapper [post]="r.object" [showComments]="false"></post-wrapper>
            <div class="report-actions" *ngIf="r.report.status === 'UNRESOLVED'">
              <picnic-button
                class="w-100"
                label="remove post"
                height="44px"
                width="100%"
                color="#FF5D7B"
                (byClick)="resolveReport(r, 'delete')"
              ></picnic-button>
              <picnic-button
                class="w-100"
                label="ban user"
                color="var(--text-color)"
                border="2px solid #FF5D7B"
                textColor="#FF5D7B"
                height="44px"
                width="100%"
                (byClick)="resolveReport(r, 'ban', r.object.authorId)"
              >
              </picnic-button>
              <picnic-button
                class="w-100"
                label="resolve with no action"
                color="var(--text-color)"
                border="2px solid #8134FF"
                textColor="#8134FF"
                height="44px"
                width="100%"
                (byClick)="resolveReport(r, 'no')"
              >
              </picnic-button>
            </div>
          </div>
        </div>

        <!-- Design for comment/message reported -->
        <div class="report-comment-container" *ngSwitchCase="'COMMENT'">
          <input type="checkbox" class="checkbox" />
          <div class="comment-actions-container">
            <post-comment
              class="post-comment"
              [commentMode]="reportCommentMode"
              [comment]="{ cursorId: '', node: r.object }"
            ></post-comment>
            <div class="report-actions" *ngIf="r.report.status === 'UNRESOLVED'">
              <picnic-button
                class="w-100"
                label="remove comment"
                height="44px"
                width="100%"
                color="#FF5D7B"
                (byClick)="resolveReport(r, 'delete')"
              ></picnic-button>
              <picnic-button
                class="w-100"
                label="ban user"
                color="var(--text-color)"
                border="2px solid #FF5D7B"
                textColor="#FF5D7B"
                height="44px"
                width="100%"
                (byClick)="resolveReport(r, 'ban', r.object.author.id)"
              >
              </picnic-button>
              <picnic-button
                class="w-100"
                label="resolve with no action"
                color="var(--text-color)"
                border="2px solid #8134FF"
                textColor="#8134FF"
                height="44px"
                width="100%"
                (byClick)="resolveReport(r, 'no')"
              >
              </picnic-button>
            </div>
          </div>
        </div>

        <!-- Design for user reported -->
        <!-- <div class="report-user-container">
        <input type="checkbox" class="checkbox" />
        <div class="user-actions-container">
          <list-item
            class="report-user-item"
            [image]="memberReported.user.profileImage"
          >
            <ng-template>
              <div class="report-user-item-content">
                <span class="user-username-label">{{
                  memberReported.user.username | formattedUsername
                }}</span>
                <span class="user-fullname-label">{{
                  memberReported.user.fullName
                }}</span>
              </div>
            </ng-template>
            <div suffix>
              <div class="stats-container">
                <div role="button" class="stats-button">
                  <span class="stats-count">
                    {{ memberReported.user.likes }}
                  </span>
                  <div class="stats-label">likes</div>
                </div>

                <div role="button" class="stats-button">
                  <span class="stats-count">
                    {{ memberReported.user.followers }}
                  </span>
                  <div class="stats-label">followers</div>
                </div>
              </div>

            </div>
          </list-item>

          <div class="report-actions">
            <picnic-button
              class="w-100"
              label="remove user"
              height="44px"
              width="100%"
              color="#FF5D7B"
            ></picnic-button>
            <picnic-button
              class="w-100"
              label="ban user"
              color="white"
              border="2px solid #FF5D7B"
              textColor="#FF5D7B"
              height="44px"
              width="100%"
            >
            </picnic-button>
            <picnic-button
              class="w-100"
              label="resolve with no action"
              color="white"
              border="2px solid #8134FF"
              textColor="#8134FF"
              height="44px"
              width="100%"
            >
            </picnic-button>
          </div>
        </div>
      </div> -->
      </ng-container>
      <div *ngIf="!isLast" class="divider"></div>
    </div>
  </div>
</ng-container>

<ng-template #emptyTemplate>
  <div class="empty-template-container">
    <span class="empty-icon">🚩</span>
    <span class="empty-label">no reports</span>
  </div>
</ng-template>
