<nav class="sidebar">
  <picnic-logo class="px-4" [openPicnicPage]="true"></picnic-logo>

  <div *ngIf="credentials.isAuthenticated()" class="d-flex flex-column justify-content-center align-items-center">
    <picnic-icon-button
      name="category"
      iconColor="var(--text-color)"
      bgColor="transparent"
      [iconSize]="32"
      label="feed"
      [verticalLayout]="true"
      [routerLink]="['/']"
      routerLinkActive="active"
    >
    </picnic-icon-button>

    <picnic-icon-button
      name="chat"
      iconColor="var(--text-color)"
      bgColor="transparent"
      [iconSize]="32"
      label="chat feed"
      [verticalLayout]="true"
      routerLink="/progress"
      routerLinkActive="active"
    >
    </picnic-icon-button>

    <picnic-icon-button
      name="people-chat"
      iconColor="var(--text-color)"
      bgColor="transparent"
      [iconSize]="32"
      label="chats"
      [verticalLayout]="true"
      routerLink="/progress"
      routerLinkActive="active"
    >
    </picnic-icon-button>
  </div>

  <div *ngIf="credentials.isAuthenticated()" class="d-flex flex-column justify-content-center align-items-center">
    <picnic-avatar
      [size]="38"
      [showFollows]="false"
      [src]="state.profile ? state.profile.profileImage : 'assets/picnic-logo.svg'"
      routerLink="/u"
      routerLinkActive="active"
    ></picnic-avatar>
    <span class="username-label">{{ state.profile ? state.profile.username : 'profile' }}</span>
  </div>
</nav>
