.sidebar {
  width: 92px;
  height: 100%;
  box-shadow: 1px 0px 0px var(--stroke-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
  padding: 20px 0;
}

.username-label {
  text-align: center;
  //font-size: 12pt;
  overflow-wrap: break-word;
  hyphens: auto;
  padding-top: 4px;
}

// Responsive design: rough initial block
@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
