<div class="page-container">
  <div class="content-container">
    <div [ngClass]="{ 'hide-sidebar': !showSidebar }" clic class="sidebar">
      <div class="back-button-container">
        <picnic-icon-button
          (byClick)="goBack()"
          name="arrow-left"
          padding="2px 2px 4px 2px"
          bgColor="transparent"
          [iconSize]="20"
          iconColor="var(--text-secondary-color)"
          [rounded]="true"
          suffix
        ></picnic-icon-button>
        <span role="button" (click)="goBack()" class="exit-button">exit settings</span>
        <picnic-icon-button
          class="sidebar-button-inside"
          name="menu"
          bgColor="#007BFF"
          iconColor="var(--text-secondary-color)"
          [rounded]="true"
          [size]="30"
          padding="0 0 2px 0"
          (byClick)="toggleSidebar()"
        ></picnic-icon-button>
      </div>
      <settings-list
        (byItemSelected)="handleItemSelected($event)"
        [settings]="moderationSettings"
        firstTitle="moderation"
      ></settings-list>
    </div>

    <div [ngClass]="{ 'content-sidebar-active': showSidebar }" class="content-container">
      <picnic-icon-button
        class="sidebar-button"
        name="menu"
        bgColor="#007BFF"
        iconColor="var(--text-secondary-color)"
        [rounded]="true"
        padding="0 0 2px 0"
        [size]="30"
        (byClick)="toggleSidebar()"
      ></picnic-icon-button>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
