<div
  [ngClass]="{
    'default-mode': mode === bannerMode.Default,
    'chat-mode': mode === bannerMode.Chat
  }"
  class="d-flex align-items-center"
>
  <div class="text-sm full-text pe-4 flex-grow-1">
    {{
      mode === bannerMode.Default
        ? 'download picnic app for an optimized experience & full access to all the features!'
        : 'download the Picnic mobile app to comment'
    }}
  </div>
  <div class="text-sm short-text pe-4 flex-grow-1">
    {{
      mode === bannerMode.Default
        ? 'download the Picnic mobile app to comment'
        : 'download the Picnic mobile app to comment'
    }}
  </div>
  <div class="">
    <picnic-button
      [label]="mode === bannerMode.Default ? 'download now' : 'download'"
      [color]="mode === bannerMode.Default ? 'white' : '#8134FF'"
      [textColor]="mode === bannerMode.Default ? 'black' : 'white'"
      [width]="mode === bannerMode.Default ? '120px' : '130px'"
      [height]="mode === bannerMode.Default ? '30px' : '40px'"
      (byClick)="handleDownloadPicnic()"
    >
      <i *ngIf="mode === bannerMode.Chat" class="fa fa-download" icon></i>
    </picnic-button>
  </div>
  <div class="ms-3 me-2">
    <picnic-icon-button
      *ngIf="mode === bannerMode.Default"
      (click)="handleClose()"
      name="close"
      padding="0"
      bgColor="transparent"
      iconColor="white"
    ></picnic-icon-button>
  </div>
</div>
