.default-mode {
  background-color: #007bff;
  color: #fff;
  padding: 5px 0px 5px 32px;
}

.chat-mode {
  background-color: transparent;
  color: var(--text-color);
  padding: 5px 0px 5px 0;
}

.default-mode > span {
  font-weight: 400;
}

.chat-mode > span {
  font-weight: 500;
}

.short-text {
  display: none;
  font-size: 15px;
}

// Responsive design: rough initial block
@media only screen and (max-width: 1024px) {
  .default-mode {
    height: 65px;
    padding: 5px 0px 5px 15px;
  }
  .chat-mode {
    height: 50px;
  }
  .is-desktop {
    display: none;
  }

  .short-text {
    display: inline-block;
  }
  .full-text {
    display: none;
  }
}
