<div class="page-container">
  <div class="header">
    <badge-text text="edit circle info" [textSize]="18" [textWeight]="500"></badge-text>
  </div>

  <div class="list-container">
    <picnic-avatar
      *ngIf="avatar?.length !== 0; else loadingAvatar"
      [src]="avatar"
      [emojiMode]="avatarEmojiMode"
      [showFollows]="false"
      emojiSize="50"
      [size]="100"
      bgColor="#D0FAC2"
      class="avatar"
    >
      <picnic-icon-button
        *ngIf="!changeAvatar; else canceIcon"
        class="edit-button"
        name="repeat"
        [iconSize]="18"
        [size]="32"
        padding="0 0 3.5px 1.5px"
        bgColor="#007BFF"
        iconColor="var(--text-color)"
        [rounded]="true"
        rightIcon
        (byClick)="changeAvatar = true"
      ></picnic-icon-button>
    </picnic-avatar>

    <div class="change-avatar-column">
      <div [@inOutSizeAnimation] class="change-avatar-buttons-container" *ngIf="changeAvatar">
        <picnic-button label="file" width="105px" height="40px" icon (byClick)="onFileClick()">
          <picnic-icon name="image" [size]="20" icon></picnic-icon>
        </picnic-button>
        <div class="emoji-section" (clickOutside)="changeAvatarMode = undefined">
          <picnic-button label="emoji" width="105px" height="40px" (byClick)="toggleEmojiMode()">
            <picnic-icon name="heart" [size]="20" icon></picnic-icon
          ></picnic-button>
        </div>
      </div>
      <div class="emoji-picker-container">
        <div [@inOutAnimation] class="emoji-picker" *ngIf="changeAvatarMode === 'emoji'">
          <emoji-mart
            [sheetSize]="20"
            [isNative]="true"
            [style]="{
              width: '100%',
              border: 'none',
              background: 'var(--bg-color)'
            }"
            [totalFrequentLines]="0"
            color="#007BFF"
            [enableSearch]="false"
            [showPreview]="false"
            [useButton]="true"
            [emojiTooltip]="false"
            (emojiSelect)="onEmojiSelect($event)"
          ></emoji-mart>
        </div>
      </div>
    </div>

    <text-input hint="" width="100%" [(ngModel)]="input!.name"></text-input>
    <text-input hint="" [textArea]="true" [textAreaRows]="6" [(ngModel)]="input!.description"></text-input>
    <div class="button" #saveChangesButtonRef>
      <img *ngIf="loadingSave" class="loading-button" src="assets/icons/loading.gif" icon />
      <picnic-button
        *ngIf="!loadingSave"
        label="save changes"
        height="42px"
        color="#007BFF"
        width="135px"
        (byClick)="onSave()"
      >
      </picnic-button>
    </div>
  </div>
</div>

<ng-template #loadingAvatar>
  <div class="loading-avatar">
    <img src="assets/icons/loading.gif" />
  </div>
</ng-template>

<ng-template #canceIcon>
  <picnic-icon-button
    class="edit-button"
    name="close-bold"
    [iconSize]="18"
    [size]="32"
    padding="0 0 3.5px 1.5px"
    bgColor="#FF5D7B"
    iconColor="var(--text-color)"
    [rounded]="true"
    rightIcon
    (byClick)="closeImageChange()"
  ></picnic-icon-button>
</ng-template>
