<div class="page-container">
  <div class="header">
    <badge-text text="send push notifications" [textSize]="18" [textWeight]="500"></badge-text>
  </div>

  <div class="list-container"></div>
</div>
