<div [style.backgroundImage]="linkImage" class="link-container">
  <div class="background-gradient"></div>
  <div [style]="'background: url(' + content?.linkMetaData?.imageUrl + ')'" class="background-image"></div>
  <div class="link-container-shadow"></div>
  <div role="button" (click)="openLink()" class="metadata-container">
    <span class="text-white">{{ content?.linkMetaData?.title }}</span>
    <span class="link-text">{{ linkAddress }}</span>
  </div>
</div>
<div class="mt-2">{{ content?.linkMetaData?.description }}</div>
