.link-container {
  height: 70vh;
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 12px;
  object-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.link-container-shadow {
  width: 100%;
  height: 30%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
}

.background-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(259.77deg, #86c8f5 -3.62%, #6aaaf5 43.19%, #97a9f5 103.12%);
}

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.metadata-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 1;
}

.link-text {
  font-weight: 400;
  //font-size: 12pt;
  opacity: 0.5;
  color: var(--text-color);
}

@media only screen and (max-width: 600px) {
  .link-container {
    max-height: 350px;
    border-radius: 0;
  }

  .link-container-shadow {
    width: 100%;
    height: 40%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
  }
}
