.bottom-bar-container {
  width: 100%;
  height: 68px;
  background-color: var(--bg-color);
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 24px;
}

.post-button {
  width: 64px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100px;
  background-color: var(--bg-secondary-color);
  transition: background-color 0.2s ease-in-out;
}

.post-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
