<div class="bottom-bar-container">
  <picnic-icon-button
    [name]="activeFeedTab ? 'layout-list-filled' : 'layout-list'"
    bgColor="transparent"
    [rounded]="true"
    [iconSize]="32"
    [size]="40"
    iconColor="var(--text-color)"
    [routerLink]="['/']"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive=""
  ></picnic-icon-button>

  <picnic-icon-button
    [name]="activeDiscoverTab ? 'discover-filled' : 'discover-thin'"
    bgColor="transparent"
    [rounded]="true"
    [iconSize]="activeDiscoverTab ? 34 : 30"
    [size]="40"
    iconColor="var(--text-color)"
    routerLink="d"
  ></picnic-icon-button>

  <ng-container *ngIf="guest === false; else guestUserPost">
    <div class="post-button">
      <picnic-icon name="plus" [size]="28" routerLink="create-post/thought"></picnic-icon>
    </div>
  </ng-container>

  <ng-template #guestUserPost>
    <div class="post-button">
      <picnic-icon name="plus" [size]="28" (click)="$event.stopPropagation(); openSignUpModal()"></picnic-icon>
    </div>
  </ng-template>

  <ng-container *ngIf="guest === false; else guestUserChat">
    <picnic-icon-button
      routerLink="chats"
      [name]="activeMessagesTab ? 'message-square-filled' : 'message-square'"
      bgColor="transparent"
      padding="0 0 2px 0"
      [rounded]="true"
      [iconSize]="35"
      [size]="40"
      [badgeCounter]="unreadChats"
      iconColor="var(--text-color)"
    ></picnic-icon-button>
  </ng-container>

  <ng-template #guestUserChat>
    <picnic-icon-button
      (click)="$event.stopPropagation(); openSignUpModal()"
      [name]="activeMessagesTab ? 'message-square-filled' : 'message-square'"
      bgColor="transparent"
      padding="0 0 2px 0"
      [rounded]="true"
      [iconSize]="35"
      [size]="40"
      iconColor="var(--text-color)"
    ></picnic-icon-button>
  </ng-template>

  <ng-container *ngIf="guest === false; else guestUser">
    <picnic-avatar
      [size]="40"
      [showFollows]="false"
      [src]="state.profile ? state.profile.profileImage : 'assets/picnic-logo.svg'"
      bgColor="#DEEFFF"
      routerLink="u"
    ></picnic-avatar>
  </ng-container>

  <ng-template #guestUser>
    <picnic-avatar
      [size]="40"
      [showFollows]="false"
      (click)="$event.stopPropagation(); this.openSignUpModal()"
      [src]="'assets/picnic-logo.svg'"
      bgColor="#DEEFFF"
    >
    </picnic-avatar>
  </ng-template>
</div>
