<div
  (click)="goToPreview()"
  class="d-flex flex-row justify-content-between justify-content-md-start align-content-center gap-md-4"
>
  <div (click)="$event.stopPropagation()" class="d-flex flex-row justify-content-center align-content-center">
    <picnic-button
      color="var(--bg-secondary-color)"
      [textColor]="liked ? '#0065D1' : 'var(--text-secondary-color)'"
      [label]="(likesCount | shortNumber).toString() ?? '0'"
      textSize="14px"
      textColor="var(--text-secondary-color)"
      (byClick)="like()"
    >
      <picnic-icon icon [name]="liked ? 'post-like-filled' : 'post-like'" [size]="mobileLayout ? 20 : 22"></picnic-icon>
    </picnic-button>
    <picnic-button
      class="ms-2"
      color="var(--bg-secondary-color)"
      (byClick)="dislike()"
      [textColor]="'var(--text-secondary-color)'"
      textSize="14px"
      textColor="var(--text-secondary-color)"
    >
      <picnic-icon
        icon
        [name]="disliked ? 'post-like-filled' : 'post-like'"
        color="disliked ? '#FF5D7B' : 'var(--text-secondary-color)'"
        style="transform: scale(-1)"
        [size]="mobileLayout ? 20 : 22"
        [fill]="disliked ? '#FF5D7B' : 'transparent'"
      ></picnic-icon>
    </picnic-button>
  </div>

  <div (click)="$event.stopPropagation()" class="d-flex flex-column justify-content-center align-content-center">
    <picnic-button
      (byClick)="onClickComments()"
      color="var(--bg-secondary-color)"
      textColor="#191919"
      [label]="(postInfoWrapper?.commentsCount ?? 0 | shortNumber).toString() ?? '0'"
      textSize="14px"
      textColor="var(--text-secondary-color)"
    >
      <picnic-icon icon name="chat" color="var(--text-secondary-color)" [size]="mobileLayout ? 20 : 22"></picnic-icon>
    </picnic-button>
  </div>

  <div (click)="$event.stopPropagation()" class="d-flex flex-column justify-content-center align-content-center">
    <simple-dropdown
      (bySelect)="handleOnAvatarDropdownSelect($event)"
      [items]="shareDropdownItems"
      [emitRepeatedValues]="true"
      [showOpen]="false"
      [maxHeight]="115"
      [maxWidth]="218"
      [customPosition]="{ left: -150 }"
    >
      <ng-template #customButton>
        <div #shareButtonRef>
          <picnic-button
            color="var(--bg-secondary-color)"
            textColor="var(--text-secondary-color)"
            [label]="(postInfoWrapper?.sharesCount ?? 0 | shortNumber).toString() ?? '0'"
            textSize="14px"
          >
            <picnic-icon
              icon
              name="upload-outline"
              color="var(--text-secondary-color)"
              [size]="mobileLayout ? 20 : 22"
            ></picnic-icon>
          </picnic-button>
        </div>
      </ng-template>

      <ng-template let-item #customItem>
        <div [ngSwitch]="item.value" class="dropdown-item">
          <ng-container *ngSwitchCase="'SHARE_LINK'">
            <div>
              <picnic-button
                class="pb-2"
                [label]="item.label"
                textColor="#1D77FF"
                width="182px"
                height="37px"
                color="transparent"
                border="2px solid #1D77FF"
              >
                <picnic-icon [size]="20" name="share-link" color="#1D77FF" icon></picnic-icon>
              </picnic-button>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'EMBED_CODE'">
            <picnic-button [label]="item.label" width="182px" height="37px" color="#1D77FF">
              <picnic-icon [size]="20" name="code" icon></picnic-icon>
            </picnic-button>
          </ng-container>
        </div>
      </ng-template>
    </simple-dropdown>
  </div>

  <div (click)="$event.stopPropagation()" class="d-flex flex-column justify-content-center align-content-center">
    <picnic-button
      color="var(--bg-secondary-color)"
      textColor="var(--text-secondary-color)"
      [label]="(postInfoWrapper?.savesCount ?? 0 | shortNumber).toString() ?? '0'"
      textSize="14px"
      (byClick)="bookmark()"
      textColor="var(--text-secondary-color)"
    >
      <picnic-icon
        icon
        [name]="saved ? 'bookmark' : 'bookmark-outline'"
        [color]="saved ? '#FF5D7B' : 'var(--text-secondary-color)'"
        [size]="mobileLayout ? 20 : 22"
        [fill]="saved ? '#FF5D7B' : 'transparent'"
      ></picnic-icon>
    </picnic-button>
  </div>

  <div (click)="$event.stopPropagation()" class="d-flex flex-column justify-content-center align-content-center">
    <picnic-button
      (byClick)="onTapReport()"
      color="var(--bg-secondary-color)"
      textColor="var(--text-secondary-color)"
      textSize="14px"
      textColor="var(--text-secondary-color)"
      padding="6px 3px 6px 10px"
    >
      <picnic-icon
        icon
        name="report-outline"
        color="var(--text-secondary-color)"
        [size]="mobileLayout ? 18 : 20"
      ></picnic-icon>
    </picnic-button>
  </div>

  <!-- <div class="d-flex flex-column justify-content-center align-content-center">
    <ng-container [ngSwitch]="minimized">
      <picnic-button
          (byClick)="save()"
        [color]="saved ? 'var(--text-secondary-color)' : '#E9EAEF'"
        [textColor]="saved ? 'white' : 'var(--text-secondary-color)'"
        [label]="_post?.savesCount?.toString() ?? '0'"
        padding="8px 14pt"
      >
        <picnic-icon icon name="bookmark" [color]="saved ? 'white' : 'var(--text-secondary-color)'"></picnic-icon>
      </picnic-button>

      <ng-container *ngSwitchCase="true">
        <picnic-icon-button
          (byClick)="save()"
          name="bookmark"
          [size]="42"
          [rounded]="true"
          [bgColor]="saved ? 'var(--text-secondary-color)' : '#E9EAEF'"
          [iconColor]="saved ? 'white' : 'var(--text-secondary-color)'"
        ></picnic-icon-button>
        <span class="text-center">{{ _post?.savesCount ?? 0 }}</span>
      </ng-container>
    </ng-container>
  </div> -->

  <!-- <picnic-icon-button
    (byClick)="report()"
    name="report"
    [size]="42"
    [rounded]="true"
    bgColor="#E9EAEF"
    iconColor="var(--text-secondary-color)"
  ></picnic-icon-button> -->
</div>
