.dropdown-item {
  cursor: pointer;
  text-align: start;
  padding: 25px 0 0 0;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  //font-size: 14pt;
  gap: 6px;
}

.group-icon-button:first-child button {
  border-radius: 1000px 0 0 1000px !important;
}
