@font-face {
  font-family: figtree-regular;
  src: url("../assets/fonts/Figtree-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: figtree-medium;
  src: url("../assets/fonts/Figtree-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: figtree-extra-bold;
  src: url("../assets/fonts/Figtree-ExtraBold.ttf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
