/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@use "@angular/material" as mat;
@import "fonts";

@function get-color-from-palette($color-palette, $shade) {
  @return mat.get-color-from-palette($color-palette, $shade);
}

$blue-palette: (
  100: #e8f1ff,
  200: #bbd6ff,
  300: #8ebbff,
  400: #61a0ff,
  500: #1d77ff,
  600: #1453b3,
  700: #0f3c80,
  800: #09244c,
  900: #030c19,
);

$indigo-palette: (
  100: #ece8ff,
  200: #c5bbff,
  300: #9e8eff,
  400: #7761ff,
  500: #5034ff,
  600: #2a14b3,
  700: #1e0f80,
  800: #12094c,
  900: #060319,
);

$purple-palette: (
  100: #f2ebff,
  200: #d9c2ff,
  300: #c09aff,
  400: #a771ff,
  500: #8134ff,
  600: #5a24b3,
  700: #411a80,
  800: #27104c,
  900: #0d0519,
);

$pink-palette: (
  100: #ffeef2,
  200: #ffced7,
  300: #ffbeca,
  400: #ff7d95,
  500: #ff5d7b,
  600: #cc4a62,
  700: #99384a,
  800: #4c1c25,
  900: #19090c,
);

$red-palette: (
  100: #ffebef,
  200: #ffc2cd,
  300: #ff9aac,
  400: #ff718b,
  500: #ff3459,
  600: #b3243e,
  700: #801a2d,
  800: #4c101b,
  900: #190509,
);

$orange-palette: (
  100: #fff0eb,
  200: #ffd6c2,
  300: #ffbe9a,
  400: #ff9a71,
  500: #ff6534,
  600: #b33e24,
  700: #802d1a,
  800: #4c1b10,
  900: #190509,
);

$yellow-palette: (
  100: #fffbea,
  200: #fff1c0,
  300: #ffe896,
  400: #ffdf6c,
  500: #e8c23e,
  600: #b3921f,
  700: #806917,
  800: #4c3f0d,
  900: #191504,
);

$lime-palette: (
  100: #f8fdec,
  200: #ebf8c5,
  300: #def49e,
  400: #d0f077,
  500: #bce93c,
  600: #84a32a,
  700: #5e751e,
  800: #384612,
  900: #131706,
);

$green-palette: (
  100: #f5fcf2,
  200: #e0f6d8,
  300: #c0ecb0,
  400: #abe696,
  500: #007bff,
  600: #0065d1,
  700: #4b703e,
  800: #2d4325,
  900: #0f160c,
);

$teal-palette: (
  100: #ecfdfa,
  200: #c5f8ef,
  300: #9ef4e5,
  400: #77f0da,
  500: #3ed9bd,
  600: #2aa3a3,
  700: #1e7575,
  800: #12463d,
  900: #061714,
);

$cyan-palette: (
  100: #ecfdfd,
  200: #c5f8f8,
  300: #9ef4f4,
  400: #77f0f0,
  500: #3ce9e9,
  600: #2aa3a3,
  700: #1e7575,
  800: #124646,
  900: #061717,
);

$light-blue-palette: (
  100: #f0fbff,
  200: #d2f2ff,
  300: #b4e9ff,
  400: #95e0ff,
  500: #68d2ff,
  600: #4993b3,
  700: #346980,
  800: #1f3f4c,
  900: #0a1519,
);

$dark-blue-palette: (
  100: #f1f7fc,
  200: #c0c4d5,
  300: #818aab,
  400: #616d96,
  500: #39487c,
  600: var(--text-secondary-color),
  700: #122740,
  800: #0e1f33,
  900: #101820,
);

$black-and-white-palette: (
  100: #ffffff,
  200: #f9f9f9,
  300: #e6e6e6,
  400: #cccccc,
  500: #b3b3b3,
  600: #808080,
  700: #333333,
  800: #191919,
  900: #000000,
);

.title10 {
  font-family: figtree-medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.title20 {
  font-family: figtree-medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.body30 {
  font-family: figtree-regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body40 {
  font-family: figtree-regular;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.display20 {
  font-family: figtree-extra-bold;
  font-weight: 800;
  font-size: 36px;
  line-height: 54px;
}
