/*
 * Application global variables.
 */

// ---------------------------------------------------------------------------
// Bootstrap variables
//
// Override Bootstrap variables here to suite your theme.
// Copy variables you want to customize from node_modules/bootstrap/scss/_variables.scss

//
// Color system
//

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #1d77ff;
$indigo: #5034ff;
$purple: #8134ff;
$pink: #ff5d7b;
$red: #ff3459;
$orange: #ff6534;
$yellow: #e8c23e;
$green: #007bff;
$teal: #3ed9bd;
$cyan: #3ce9e9;

$theme-colors: (
  primary: $green,
  secondary: $pink,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
);

// Use Bootstrap defaults for other variables, imported here so we can access all app variables in one place when used
// in components.
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
