<div class="content-container">
  <h1>Authentication</h1>

  <div class="section">
    <h2>Overview</h2>
    <p>
      This documentation section describes the GraphQL queries and mutations related to user authentication in the web
      application. The following operations are covered:
    </p>
    <ul>
      <li>SignInWithFirebase</li>
      <li>SignUpWithFirebase</li>
      <li>CheckUsername</li>
    </ul>
  </div>

  <div class="section">
    <h2>Data Types</h2>
    <h3>UserAuthPayload</h3>
    <ul>
      <li>
        <code>user</code>: PrivateProfile
        <ul>
          <li>Contains private user profile information.</li>
        </ul>
      </li>
      <li>
        <code>authInfo</code>: AuthInfo
        <ul>
          <li>Contains access and refresh tokens.</li>
        </ul>
      </li>
    </ul>

    <h3>AuthInfo</h3>
    <ul>
      <li>
        <code>accessToken</code>: string
        <ul>
          <li>The access token for the authenticated user.</li>
        </ul>
      </li>
      <li>
        <code>refreshToken</code>: string
        <ul>
          <li>The refresh token for the authenticated user.</li>
        </ul>
      </li>
    </ul>

    <h3>UsernameAvailabilityPayload</h3>
    <ul>
      <li>
        <code>username</code>: string
        <ul>
          <li>The username to check for availability.</li>
        </ul>
      </li>
      <li>
        <code>available</code>: boolean
        <ul>
          <li>Indicates whether the username is available.</li>
        </ul>
      </li>
    </ul>

    <h3>SignInWithFirebaseResponse</h3>
    <ul>
      <li>
        <code>signInWithFirebase</code>: UserAuthPayload
        <ul>
          <li>Contains the authenticated user's information and auth tokens.</li>
        </ul>
      </li>
    </ul>

    <h3>SignUpWithFirebaseResponse</h3>
    <ul>
      <li>
        <code>signUpWithFirebase</code>: UserAuthPayload
        <ul>
          <li>Contains the newly registered user's information and auth tokens.</li>
        </ul>
      </li>
    </ul>
    <h3>CheckUsernameResponse</h3>
    <ul>
      <li>
        <code>checkUsername</code>: UsernameAvailabilityPayload
        <ul>
          <li>Contains the username and its availability status.</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>Mutations</h2>
    <h3>signInWithFirebase</h3>
    <ul>
      <li>Input: <code>credentials: FirebaseAuthInput!</code></li>
      <li>Output: SignInWithFirebaseResponse</li>
      <li>
        Description: Authenticates a user using Firebase credentials and returns user data along with access and refresh
        tokens.
      </li>
    </ul>

    <h3>signUpWithFirebase</h3>
    <ul>
      <li>
        Input: <code>credentials: FirebaseAuthInput!</code>,
        <code>userInfo: UserSignUpInput!</code>
      </li>
      <li>Output: SignUpWithFirebaseResponse</li>
      <li>
        Description: Registers a new user with Firebase credentials and user information, and returns the user data
        along with access and refresh tokens.
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>Queries</h2>
    <h3>checkUsername</h3>
    <ul>
      <li>Input: <code>username: String!</code></li>
      <li>Output: CheckUsernameResponse</li>
      <li>Description: Checks if a username is available for registration.</li>
    </ul>
  </div>
</div>
