<div class="page-container">
  <div class="header">
    <badge-text text="invite to circle" [textSize]="18" [textWeight]="500"></badge-text>
  </div>

  <div class="list-container">content</div>
</div>
