<ng-container [ngSwitch]="commentMode">
  <ng-container *ngSwitchCase="commentModeEnum.Simplified">
    <ng-container *ngTemplateOutlet="simplifiedLayout"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="commentModeEnum.Detailed">
    <ng-container *ngTemplateOutlet="detailedLayout"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="commentModeEnum.Report">
    <ng-container *ngTemplateOutlet="reportLayout"></ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="commentMode !== commentModeEnum.Report">
  <ng-container *ngIf="comment?.node?.repliesConnection?.edges?.length ?? 0 > 0">
    <div class="replies-list">
      <post-comment
        *ngFor="let reply of comment?.node?.repliesConnection?.edges"
        [commentMode]="commentMode"
        [comment]="reply"
        (byReply)="handleReply($event)"
        (byCommentCreated)="handleCommentCreated($event)"
      ></post-comment>
    </div>
  </ng-container>
  <div class="more-replies-container">
    <picnic-text-button
      *ngIf="isMoreChildren"
      (byClick)="getNextChildren()"
      label="see more replies"
      [labelSize]="15"
      padding="4px 18px"
      color="#007BFF"
    ></picnic-text-button>
  </div>
</ng-container>

<ng-template #simplifiedLayout>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center align-items-center gap-2">
      <picnic-avatar
        [src]="comment?.node?.author?.profileImage ?? ''"
        [size]="34"
        [follows]="comment?.node?.author?.isFollowing ?? false"
        [showFollows]="false"
        [routerLink]="'/u/' + comment?.node?.author?.username"
      >
      </picnic-avatar>

      <div class="d-flex flex-column align-items-start justify-content-center">
        <span class="username-label" [routerLink]="'/u/' + comment?.node?.author?.username">{{
          comment?.node?.author?.username ?? '' | formattedUsername
        }}</span>
        <span class="comment-text">{{ comment?.node?.text }}</span>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center justify-content-center">
      <picnic-icon-button
        name="hollow-repost"
        bgColor="transparent"
        iconColor="#808080"
        [label]="comment?.node?.repliesCount?.toString() ?? '0'"
        [verticalLayout]="true"
        [iconSize]="18"
        padding="3px 8px"
      >
      </picnic-icon-button>

      <picnic-icon-button
        name="hollow-heart"
        bgColor="transparent"
        iconColor="var(--subtitle-color)"
        [label]="comment?.node?.likesCount | shorthand"
        [verticalLayout]="true"
        [iconSize]="18"
        padding="3px 8px"
      >
      </picnic-icon-button>
    </div>
  </div>
</ng-template>

<ng-template #detailedLayout>
  <div class="d-flex flex-column justify-content-center align-items-start gap-2">
    <div class="d-flex align-items-center v-gap">
      <picnic-avatar
        [src]="comment?.node?.author?.profileImage ?? ''"
        [size]="28"
        [follows]="comment?.node?.author?.isFollowing ?? false"
        [showFollows]="false"
        [routerLink]="'/u/' + comment?.node?.author?.username"
        class="avatar"
      >
      </picnic-avatar>
      <span class="username-label" [routerLink]="'/u/' + comment?.node?.author?.username">{{
        comment?.node?.author?.username ?? '' | formattedUsername
      }}</span>
      <span class="creation-date align-self-center">
        •&nbsp;
        {{ comment?.node?.createdAt | formattedPostCreationDate | lowercase }}
      </span>
    </div>
    <div class="nested-comments d-flex flex-column gap-2">
      <span class="comment-text">{{ comment?.node?.text }}</span>

      <div class="d-flex align-items-center justify-content-start gap-3">
        <emoji-comment-reactions [comment]="comment"></emoji-comment-reactions>

        <div class="d-flex justify-content-start align-items-center">
          <picnic-text-button
            [label]="comment?.node?.repliesCount?.toString() ?? '0'"
            color="var(--text-secondary-color)"
            padding="0 4px"
            [labelSize]="15"
            (byClick)="handleReply(comment!)"
          >
            <picnic-icon
              class="mb-1"
              name="hollow-repost"
              color="var(--text-secondary-color)"
              [size]="18"
              icon
            ></picnic-icon>
          </picnic-text-button>
        </div>
      </div>

      <div *ngIf="isReplying" [@inOutAnimation] class="reply-comment-input">
        <comment-input
          class="w-100"
          (byCommentCreated)="handleCommentCreated($event)"
          [replyMode]="replyingData.replying"
        ></comment-input>
        <picnic-icon-button
          (byClick)="handleCancelReply()"
          name="close"
          bgColor="transparent"
          padding="4px"
          iconColor="var(--text-secondary-color)"
        ></picnic-icon-button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #reportLayout>
  <div class="d-flex justify-content-start align-items-start gap-2 disable-events">
    <picnic-avatar
      [src]="comment?.node?.author?.profileImage ?? ''"
      [size]="34"
      [follows]="comment?.node?.author?.isFollowing ?? false"
      [showFollows]="false"
      [routerLink]="'/u/' + comment?.node?.author?.username"
    >
    </picnic-avatar>

    <div class="d-flex flex-column justify-content-start w-100">
      <div class="d-flex flex-column align-items-start justify-content-center">
        <span class="username-label" [routerLink]="'/u/' + comment?.node?.author?.username">{{
          comment?.node?.author?.username ?? '' | formattedUsername
        }}</span>
        <span class="comment-text">{{ comment?.node?.text }}</span>
      </div>

      <div class="d-flex flex-column gap-2">
        <div class="d-flex w-100 justify-content-between align-items-center">
          <div class="d-flex justify-content-start align-items-center">
            <span class="creation-date align-self-center">
              {{ comment?.node?.createdAt | formattedPostCreationDate }}
            </span>
          </div>
          <picnic-text-button
            color="#007BFF"
            padding="0 2px"
            [label]="comment?.node?.repliesCount + ' more replies'"
            [labelSize]="14"
          >
            <picnic-icon class="mb-1" name="hollow-repost" color="#007BFF" [size]="16" icon></picnic-icon>
          </picnic-text-button>
        </div>

        <emoji-comment-reactions [comment]="comment"></emoji-comment-reactions>
      </div>
    </div>
  </div>
</ng-template>
