.replies-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 12px;
  margin-left: 15px;
  box-shadow: -2px 0 0 var(--stroke-color);
  padding-left: 8px;
}

.nested-comments {
  width: 100%;
  padding-right: 14px;
  box-shadow: -2px 0 0 var(--stroke-color);
  margin-left: 15px;
  padding-left: 15px;
}

.v-gap {
  gap: 4px;
}

.more-replies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  background: var(--bg-secondary-color);
  border-radius: 4px;
}

.username-label {
  //font-size: 14pt;
  font-weight: 600;
  color: var(--text-color);
}

.comment-text {
  color: var(--caption-color);
  font-weight: 400;
  //font-size: 14pt;
}

.creation-date {
  font-style: normal;
  font-weight: 400;
  //font-size: 12pt;
  color: #767575;
  padding-left: 2px;
  padding-bottom: 2px;
}

.replies-label {
  font-size: 10pt;
}

.disable-events {
  pointer-events: none;
}

.reply-comment-input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.avatar {
  border-bottom: 6px solid var(--bg-color);
  margin-bottom: -6px;
  z-index: 1;
}
