.post-video {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 12px;
  object-position: center;
  overflow: hidden;
}

// Responsive design
@media only screen and (max-width: 1024px) {
  .post-video {
    border-radius: 0px;
  }
}
