<div class="page-container">
  <div class="page-header">
    <div class="header-content">
      <div class="left-content-header">
        <picnic-text-button
          (byClick)="goBack()"
          class="back-button"
          label="go back"
          color="var(--text-secondary-color)"
          padding="8px 20px"
        >
          <picnic-icon name="arrow-left" [size]="22" icon></picnic-icon>
        </picnic-text-button>
        <div class="post-caption">
          <span>{{ postCaption | truncate : 45 : true }}</span>
        </div>
      </div>

      <picnic-icon-button
        class="sidebar-button is-mobile"
        name="menu"
        bgColor="#007BFF"
        iconColor="white"
        [rounded]="true"
        [size]="30"
        padding="0 0 2px 0"
        (byClick)="showSidebar()"
      ></picnic-icon-button>

      <!-- hide actions on small screens -->
      <post-actions class="d-none d-sm-block post-actions" [post]="post"></post-actions>
    </div>
  </div>

  <ng-template [ngIf]="!post">
    <div *ngIf="loading" class="loading-container">
      <img class="loading-indicator" src="assets/icons/loading.gif" icon />
    </div>
  </ng-template>

  <div class="d-flex">
    <div class="post-scroll">
      <div class="post">
        <post-wrapper *ngIf="post" [post]="post" [showComments]="true"></post-wrapper>
      </div>
    </div>
    <div *ngIf="post?.circle" class="right-sidebar-container is-desktop">
      <right-sidebar [circle]="post?.circle" [showElections]="true" [showRules]="true"></right-sidebar>
    </div>
  </div>

  <div [@slideInOut]="post?.circle && showMobileSidebar ? 'in' : 'out'" class="mobile-sidebar-container is-mobile">
    <right-sidebar [circle]="post?.circle" [showElections]="true" [showRules]="true"></right-sidebar>
    <picnic-icon-button
      class="close-sidebar-button is-mobile"
      name="close"
      iconColor="var(--text-color)"
      [rounded]="true"
      [size]="30"
      [iconSize]="20"
      padding="0 0 2px 0"
      (byClick)="hideSidebar()"
    ></picnic-icon-button>
  </div>
</div>
