.page-container {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.page-header {
  width: 100%;
  background-color: var(--bg-color);
  border-left: 1px solid var(--stroke-color);
  border-right: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
}

.header-content {
  width: 100%;
  height: 60px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  // max-width: 846px;
  margin: auto;
}

.back-button {
  display: flex;
  // border-right: 1px solid #e9e9e9;
  padding-right: 8px;
}

.post-caption {
  font-weight: 400;
  //font-size: 14pt;
  color: var(--caption-color);
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  padding-right: 5px;
}

.post {
  width: 100%;
  // max-width: 840px;
  margin: auto;
}

.left-content-header {
  display: flex;
  gap: 20px;
}

.post-actions {
  padding-right: 20px;
  width: auto;
  // max-width: 300px;
}

.post-scroll {
  width: 100%;
  height: calc(100% - 100px);
}

.post-scroll::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.right-sidebar-container {
  display: flex;
  flex-direction: column;
  // width: 100%;
  // max-width: 250px;
  right: 0;
  height: 100%;
  max-width: 30%;
  position: relative;
  background-color: var(--bg-color);
  box-shadow: -1px 0px 0px var(--stroke-color);
  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  right-sidebar {
    height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0;
  }
}

.mobile-sidebar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  height: 100%;
  background-color: var(--bg-color);
  border-top: 1px solid var(--stroke-color);
  box-shadow: -1px 0px 0px var(--stroke-color);
  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  right-sidebar {
    height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0;
  }
}

.close-sidebar-button {
  position: absolute;
  right: 5px;
  padding: 18px;
}

.sidebar-button {
  padding-right: 24px;
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-indicator {
  width: 40px;
  height: 40px;
  margin-top: 80px;
}

@media only screen and (max-width: 600px) {
  .is-desktop {
    display: none;
  }

  .post-scroll {
    padding-bottom: 110px;
  }
}

@media only screen and (min-width: 600px) {
  .is-mobile {
    display: none;
  }
}
