<div class="container">
  <div class="sort-dropdown-container">
    <simple-dropdown
      (bySelect)="handleSortChange($event)"
      class="sort-dropdown"
      inputBgColor="transparent"
      [items]="sortItems"
      [initialValue]="sortSelected"
      textSize="16px"
      [maxWidth]="218"
      [maxHeight]="185"
    ></simple-dropdown>
  </div>
  <post-grid [posts]="posts"></post-grid>
</div>
