.sort-dropdown {
  display: inline-flex;
  margin-left: 12px;
}

.sort-dropdown-container {
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 980px) {
  .sort-dropdown {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .sort-dropdown-container {
    justify-content: center;
  }
}
