<picnic-onboarding-dialog emoji="🎂" [emojiSize]="50" title="your age" subtitle="please enter your age" progress="30%">
  <div class="d-flex flex-column gap-3" content>
    <text-input type="number" hint="your age" height="52px" name="age" [(ngModel)]="age"></text-input>

    <picnic-button
      [disabled]="disabled"
      (byClick)="submit()"
      color="#FF5D7B"
      label="continue"
      width="100%"
      height="48px"
    >
    </picnic-button>
  </div>
</picnic-onboarding-dialog>
