.feed-wrapper {
  height: 100%;
}

.scrollable-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.scrollable-wrapper::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .feed-navbar {
    display: none;
  }
}
