<!-- Add modals here -->
<create-chat-modal></create-chat-modal>
<sign-up-modal></sign-up-modal>
<building-feature-modal></building-feature-modal>
<create-circle-modal></create-circle-modal>
<report-modal></report-modal>

<router-outlet></router-outlet>
