<div class="content-container">
  <h1>Comments</h1>

  <div class="section">
    <h2>Overview</h2>
    <p>
      This documentation section describes the GraphQL queries and mutations related to comments in the web application.
      The following operations are covered:
    </p>
    <ul>
      <li>GetTreeComments</li>
      <li>CreateComment</li>
      <li>SetReactComment</li>
      <li>GetComment</li>
    </ul>
  </div>

  <div class="section">
    <h2>Data Types</h2>
    <h3>Comment</h3>
    <ul>
      <li>
        <code>id</code>: string
        <ul>
          <li>The unique identifier of the comment.</li>
        </ul>
      </li>
      <li>
        <code>parentId</code>: string (optional)
        <ul>
          <li>The unique identifier of the parent comment, if this is a reply.</li>
        </ul>
      </li>
      <li>
        <code>parent</code>: Comment (optional)
        <ul>
          <li>The parent comment object, if this is a reply.</li>
        </ul>
      </li>
      <li>
        <code>postId</code>: string (optional)
        <ul>
          <li>The unique identifier of the post the comment belongs to.</li>
        </ul>
      </li>
      <li>
        <code>authorId</code>: string
        <ul>
          <li>The unique identifier of the comment author.</li>
        </ul>
      </li>
      <li>
        <code>author</code>: PublicProfile (optional)
        <ul>
          <li>The public profile of the comment author.</li>
        </ul>
      </li>
      <li>
        <code>text</code>: string
        <ul>
          <li>The text content of the comment.</li>
        </ul>
      </li>
      <li>
        <code>attachments</code>: CommentAttachment[] (optional)
        <ul>
          <li>An array of attachments associated with the comment.</li>
        </ul>
      </li>
      <li>
        <code>imageContent</code>: string
        <ul>
          <li>The image content of the comment.</li>
        </ul>
      </li>
      <li>
        <code>likesCount</code>: number
        <ul>
          <li>The number of likes on the comment.</li>
        </ul>
      </li>
    </ul>

    <li>
      <code>repliesCount</code>: number
      <ul>
        <li>The number of replies on the comment.</li>
      </ul>
    </li>
    <li>
      <code>createdAt</code>: Date
      <ul>
        <li>The creation timestamp of the comment.</li>
      </ul>
    </li>
    <li>
      <code>deletedAt</code>: Date
      <ul>
        <li>The deletion timestamp of the comment, if it's deleted.</li>
      </ul>
    </li>
    <li>
      <code>iReacted</code>: boolean
      <ul>
        <li>Indicates if the current user has reacted to the comment.</li>
      </ul>
    </li>
  </div>

  <div class="section">
    <h2>Queries and Mutations</h2>
    <h3>GetTreeComments</h3>
    <ul>
      <li>Input: GetCommentsInput</li>
      <li>Output: GetCommentsResponse</li>
      <li>Description: Retrieves a tree of comments for a given post.</li>
    </ul>

    <h3>CreateComment</h3>
    <ul>
      <li>Input: CreateCommentInput</li>
      <li>Output: CreateCommentResponse</li>
      <li>Description: Creates a new comment on a post or reply to another comment.</li>
    </ul>

    <h3>SetReactComment</h3>
    <ul>
      <li>Input: ReactionInput</li>
      <li>Output: SetReactCommentResponse</li>
      <li>Description: Sets the reaction state (like or unlike) for a comment.</li>
    </ul>

    <h3>GetComment</h3>
    <ul>
      <li>Input: id</li>
      <li>Output: GetCommentResponse</li>
      <li>Description: Retrieves a single comment by its ID.</li>
    </ul>
  </div>
</div>
