.privacy-policy {
  padding: 20px;
  margin-left: 17%;
  margin-right: 17%;
}
.privacy-policy h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}
.privacy-policy h2 {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: bold;
}
.privacy-policy p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .privacy-policy {
    padding: 20px;
    margin: 0px;
  }
}
.emoji {
  font-size: 10rem;
}
