<div class="privacy-policy">
  <span class="emoji">🔒</span>

  <h1>Privacy Policy</h1>

  <h2>Privacy Policy</h2>
  <p>
    Basket Technologies Inc built the Picnic app as a Free app. This SERVICE is provided by Basket Technologies Inc at
    no cost and is intended for use as is.
  </p>
  <p>
    This page is used to inform visitors regarding our policies about the collection, use, and disclosure of Personal
    Information if anyone decided to use our Service.
  </p>

  <p>
    If you choose to use our Service, then you agree to the collection and use of information in relation to this
    policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or
    share your information with anyone except as described in this Privacy Policy.
  </p>

  <p>
    The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which are accessible at
    Picnic unless otherwise defined in this Privacy Policy.
  </p>

  <h2>Information Collection and Use</h2>

  <p>
    For a better experience, while using our Service, we may require you to provide us with certain personally
    identifiable information, including but not limited to email address, name, phone number, age, and language. The
    information that we request will be retained by us and used as described in this privacy policy. Here’s how your
    personal data may be used:
  </p>

  <ul>
    <li>To enable you to share content and interact with other users;</li>
    <li>To create and maintain user profiles</li>
    <li>To optimize the personalized experience for each user</li>
  </ul>

  <p>
    The app uses third-party services that may collect information used to identify you. Link to the privacy policy of
    third-party service providers used by the app
  </p>

  <ul>
    <li>[Google Play Services](https://www.google.com/policies/privacy/)</li>
    <li>[Google Analytics for Firebase](https://firebase.google.com/policies/analytics)</li>
    <li>[Firebase Crashlytics](https://firebase.google.com/support/privacy/)</li>
  </ul>

  <p>
    We also collect your information in response to legal requests, such as search warrants, court orders, production
    orders, or subpoenas. These requests come from third parties such as civil litigants, law enforcement, and other
    government authorities.
  </p>

  <h2>Log Data</h2>

  <p>
    We want to inform you that whenever you use our Service, in a case of an error in the app we collect data and
    information (through third-party products) on your phone called Log Data. This Log Data may include information such
    as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app
    when utilizing our Service, the time and date of your use of the Service, and other statistics.
  </p>

  <h2>Cookies</h2>

  <p>
    Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent
    to your browser from the websites that you visit and are stored on your device's internal memory.
  </p>

  <p>
    This Service does not use these “cookies” explicitly. However, the app may use third-party code and libraries that
    use “cookies” to collect information and improve their services. You have the option to either accept or refuse
    these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not
    be able to use some portions of this Service.
  </p>

  <h2>Service Providers</h2>

  <p>We may employ third-party companies and individuals due to the following reasons:</p>

  <ul>
    <li>To facilitate our Service;</li>
    <li>To provide the Service on our behalf;</li>
    <li>To perform Service-related services, or;</li>
    <li>To assist us in analyzing how our Service is used.</li>
  </ul>

  <p>
    We want to inform users of this Service that these third parties have access to their Personal Information. The
    reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use
    the information for any other purpose.
  </p>

  <h2>Information from Third Parties.</h2>
  <p>
    Through your choice to allow us to collect third-party data, or through your use of the Picnic application, we may
    collect such data automatically. This data includes information such as the user’s contact list. Here are the
    purposes for which this data may be used:
  </p>

  <ul>
    <li>enforce our terms, conditions and policies;</li>
    <li>enable you to share content and interact with other users;</li>
    <li>help other individuals connect with you in the app;</li>
    <li>help you log in</li>
  </ul>

  <h2>Security</h2>

  <p>
    We value your trust in providing us with your Personal Information, thus we are striving to use commercially
    acceptable means of protecting it. But remember that no method of transmission over the internet, or method of
    electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
  </p>

  <h2>How long do we keep your information?</h2>

  <p>
    We retain information for as long as necessary to deliver our products, meet legal requirements, or defend our
    interests or the rights of others. On a case-by-case basis, we determine how long we’ll be needing to store said
    information.
  </p>

  <h2>Links to Other Sites</h2>

  <p>
    This Service may contain links to other sites. If you click on a third-party link, you will be directed to that
    site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy
    Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or
    practices of any third-party sites or services.
  </p>

  <h2>Children’s Privacy</h2>

  <p>
    These Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable
    information from children under 13 years of age. In the case we discover that a child under 13 has provided us with
    personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware
    that your child has provided us with personal information, please contact us so that we’re able to take the
    necessary actions.
  </p>

  <h2>Deleting your data</h2>

  <p>
    If you delete your account on Picnic, we delete your information, including the things you’ve posted, such as your
    photos and circle messages, unless we need to keep it as described in **“How long do we keep your information?”**
    section. Once your account is permanently deleted, you won’t be able to reactivate it, and you won’t be able to
    retrieve information, including content you’ve posted.
  </p>

  <h2>The security of your personal data</h2>

  <p>
    We take precautions to guarantee that this policy is followed and that your information is handled securely. We have
    the necessary organizational and technical safeguards in place to provide a level of security that is commensurate
    with the danger to the rights and freedoms of you and other users, which can vary in likelihood and severity. In
    order to increase the overall security of our systems, we maintain these organizational and technical safeguards and
    make adjustments from time to time.
  </p>

  <h2>Changes to This Privacy Policy</h2>

  <p>
    We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any
    changes. We will notify you of any changes by posting the new Privacy Policy on this page.
  </p>

  <p>This policy is effective as of 2022-12-13</p>

  <h2>Contact Us</h2>

  <p>
    If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at hi@picnic.zone.
  </p>
</div>
