<div class="page-container">
  <page-header title="edit"></page-header>

  <div *ngIf="!loading" class="card-body m-3">
    <form>
      <div class="mb-3">
        <label class="form-label" for="username"><strong>username</strong></label>
        <text-input id="username" type="text" [(ngModel)]="username" name="username"></text-input>
        <span style="color: indianred">{{ error }}</span>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="fullname"><strong>fullname</strong></label>
            <text-input id="fullname" [(ngModel)]="name" type="text" name="fullname"></text-input>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label" for="bio"><strong>bio</strong></label>
            <text-input id="bio" [(ngModel)]="bio" type="text" name="bio"> </text-input>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <picnic-button (click)="onTapUpdateProfile()" label="save" color="#007BFF" padding="8px 25px"> </picnic-button>
      </div>
    </form>
    <loading-spinner [loading]="loading" class="mt-3"></loading-spinner>
  </div>
</div>
