.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 18px;
  gap: 5px;
  overflow: auto;
  width: 300px;
  min-width: 300px;
  height: 100%;
  background-color: var(--bg-color);
  color: var(—text-color);
  overflow: auto;
}

.left-sidebar::-webkit-scrollbar {
  width: 0;
  display: none;
}

.content-container {
  width: 100%;
  height: calc(100vh - 55px);
  background: var(--bg-secondary-color);
  padding: 40px;
  overflow: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-list {
  display: flex;
  flex-direction: column;
}

.item {
  transition: 200ms ease-in-out;
  border-radius: 12px;
}

.item-active {
  background: #d0f7c2;
}

.search-input {
  margin-top: 15px;
}

.group-title {
  //font-size: 12pt;
  font-weight: 600;
  padding-bottom: 5px;
  padding-left: 5px;
  margin: 10px 0;
  border-bottom: 1px solid var(--stroke-color);
}

.mobile-top-bar {
  height: 55px;
  min-height: 55px;
  width: 100%;
  background-color: var(--bg-secondary-color);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.row-container {
  display: flex;
}

.logo-top-bar-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
  gap: 8px;
  font-weight: 600;
}

@media only screen and (min-width: 800px) {
  .mobile-top-bar {
    display: none;
  }

  .content-container {
    height: 100vh;
  }

  .is-mobile {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .left-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: calc(100% - 55px);
  }

  .is-desktop {
    display: none;
  }
}
