<div class="page-container">
  <div class="mobile-top-bar">
    <picnic-icon-button
      class="sidebar-button-inside"
      name="menu"
      bgColor="#007BFF"
      iconColor="white"
      [rounded]="true"
      [size]="30"
      padding="0 0 2px 0"
      (byClick)="toggleSidebarMobile()"
    ></picnic-icon-button>
    <div class="logo-top-bar-container">
      <picnic-logo [openPicnicPage]="true" size="30px"></picnic-logo>
      <span>developer portal</span>
    </div>
  </div>
  <div class="row-container">
    <div class="left-sidebar is-desktop">
      <div class="sidebar-top-section">
        <div class="logo-container">
          <picnic-logo [openPicnicPage]="true" size="35px"></picnic-logo>
          <span role="button" class="fs-4 fw-bold">picnic api</span>
        </div>
        <div (click)="toggleTheme()">
          <picnic-icon-button
            class="dark-mode"
            bgColor="transparent"
            [iconSize]="24"
            iconColor="var(--text-secondary-color)"
            padding="0"
            name="sun"
          ></picnic-icon-button>
          <picnic-icon-button
            class="light-mode"
            bgColor="transparent"
            [iconSize]="24"
            iconColor="var(--text-secondary-color)"
            padding="0"
            name="moon"
          ></picnic-icon-button>
        </div>
      </div>
      <search-input class="search-input" bgColor="var(--bg-secondary-color)" width="100%"></search-input>
      <span class="group-title">Start here</span>
      <div class="item-list">
        <picnic-text-button
          *ngFor="let item of items"
          class="item"
          width="100%"
          [textAlign]="'left'"
          padding="10px 15px"
          [labelWeight]="500"
          [labelSize]="16"
          [label]="item.label"
          radius="12px"
          [routerLink]="item.route"
          routerLinkActive="item-active"
        >
        </picnic-text-button>
      </div>
      <span class="group-title">GraphQL</span>
      <picnic-text-button
        *ngFor="let item of graphqlItems"
        class="item"
        width="100%"
        [textAlign]="'left'"
        padding="10px 15px"
        [label]="item.label"
        radius="12px"
        [labelWeight]="500"
        [labelSize]="16"
        [routerLink]="item.route"
        routerLinkActive="item-active"
      >
      </picnic-text-button>
    </div>

    <div [@slideInOut]="sidebarMobileVisible ? 'in' : 'out'" class="left-sidebar is-mobile">
      <div class="sidebar-top-section">
        <div class="logo-container">
          <picnic-logo [openPicnicPage]="true" size="35px"></picnic-logo>
          <span role="button" class="fs-4 fw-bold">picnic api</span>
        </div>
        <div (click)="toggleTheme()">
          <picnic-icon-button
            class="dark-mode"
            bgColor="transparent"
            [iconSize]="24"
            iconColor="var(--text-secondary-color)"
            padding="0"
            name="sun"
          ></picnic-icon-button>
          <picnic-icon-button
            class="light-mode"
            bgColor="transparent"
            [iconSize]="24"
            iconColor="var(--text-secondary-color)"
            padding="0"
            name="moon"
          ></picnic-icon-button>
        </div>
      </div>
      <search-input class="search-input" bgColor="var(--bg-secondary-color)" width="100%"></search-input>
      <span class="group-title">Start here</span>
      <div class="item-list">
        <picnic-text-button
          *ngFor="let item of items"
          class="item"
          width="100%"
          [textAlign]="'left'"
          padding="10px 15px"
          [labelWeight]="500"
          [labelSize]="16"
          [label]="item.label"
          radius="12px"
          [routerLink]="item.route"
          routerLinkActive="item-active"
        >
        </picnic-text-button>
      </div>
      <span class="group-title">GraphQL</span>
      <picnic-text-button
        *ngFor="let item of graphqlItems"
        class="item"
        width="100%"
        [textAlign]="'left'"
        padding="10px 15px"
        [label]="item.label"
        radius="12px"
        [labelWeight]="500"
        [labelSize]="16"
        [routerLink]="item.route"
        routerLinkActive="item-active"
      >
      </picnic-text-button>
    </div>

    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
