.page-container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  padding: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

.list-label {
  font-size: 18pt;
  font-weight: 500;
  transform: translate(0, -5px);
}

.content-container {
  margin-top: 30px;
  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.loading-button {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.button {
  align-self: flex-end;
  width: 135px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 18px;
}
