<div class="page-container">
  <page-header backRoute="/u/settings" title="language"></page-header>

  <loading-spinner [loading]="loading" class="mt-3"></loading-spinner>
  <div class="content-container">
    <language-item-selector
      *ngIf="initialLanguage"
      [items]="languages"
      [initialValue]="initialLanguage"
      (bySelect)="onLanguageSelect($event)"
    ></language-item-selector>
    <div class="button" #saveChangesButtonRef>
      <img *ngIf="loadingSave" class="loading-button" src="assets/icons/loading.gif" icon />
      <picnic-button
        *ngIf="!loadingSave"
        label="save changes"
        height="42px"
        color="#007BFF"
        width="135px"
        (byClick)="onTapSaveChanges()"
      >
      </picnic-button>
    </div>
  </div>
</div>
