<div class="wrapper">
  <div class="dropdown" (clickOutside)="hideDropdown()">
    <div [style.outline]="errorText ? '1px solid #CC4A62' : ''" [ngStyle]="getStyle" class="dropdown-selected">
      <div class="input-container">
        <div (click)="toggleDropdown()" class="preffix-container">
          <span *ngIf="selectedItem?.preffix && !customPreffix" class="preffix">
            {{ selectedItem?.preffix }}
          </span>

          <div *ngIf="customPreffix" class="preffix">
            <ng-content select="[customPreffix]"></ng-content>
          </div>
        </div>
        <input
          *ngIf="formControlName"
          [formControlName]="formControlName"
          (input)="handleInput($event)"
          class="dropdown-input"
          [type]="type"
          [placeholder]="hint"
        />

        <input
          *ngIf="!formControlName"
          (input)="handleInput($event)"
          class="dropdown-input"
          [type]="type"
          [placeholder]="hint"
        />
      </div>
    </div>

    <div class="dropdown-list" [ngClass]="{ 'dropdown-list-open': isOpen }">
      <ng-scrollbar [style.height.px]="maxHeight" class="scrollable-wrapper">
        <div *ngIf="searchable" class="search-dropdown-item">
          <search-input
            width="100%"
            class="flex-grow-1"
            [hint]="searchHint"
            (byInput)="handleSearch($event)"
          ></search-input>
        </div>
        <div
          class="dropdown-item"
          *ngFor="let item of items"
          (click)="$event.stopPropagation(); handleSelectItem(item)"
        >
          {{ item.label }}
        </div>

        <div *ngIf="searchable && items.length === 0" class="empty-template-container">
          <span class="empty-icon">{{ emptyItemData.emoji }}</span>
          <span class="empty-label">{{ emptyItemData.message }}</span>
        </div>
      </ng-scrollbar>
    </div>

    <picnic-icon-button
      iconColor="var(--text-color)"
      class="suffix-icon"
      (byClick)="$event.stopPropagation(); toggleDropdown()"
      name="arrow-down"
      bgColor="transparent"
      padding="0"
    ></picnic-icon-button>
  </div>

  <span *ngIf="errorText" class="error-label">{{ errorText }}</span>
</div>
