.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.scrollable-wrapper {
  height: 140px;
  background-color: white;
}

ng-scrollbar {
  --scrollbar-padding: 6px;
  --scrollbar-thumb-color: #ebebeb;
}

.error-label {
  text-align: left;
  //font-size: 12pt;
  color: #cc4a62;
}

.dropdown {
  position: relative;
}

.dropdown-selected {
  width: 100%;
  height: 45px;
  background: var(--input-color);
  border-radius: 16px;
  border: 1px-solid var(--stroke-color);
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //font-size: 12pt;
  position: relative;
}

.dropdown-list {
  position: absolute;
  display: none;
  background-color: var(--bg-color);
  min-width: 100%;
  z-index: 1;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
}

.empty-items-container {
  width: 100%;
  height: 100%;
  background: white;
}

.dropdown-list-open {
  display: block;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  text-align: start;
  padding: 0 18px;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //font-size: 12pt;
  background-color: white;
}

.search-dropdown-item {
  width: 100%;
  padding: 10px 0;
  text-align: start;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //font-size: 12pt;
  background-color: white;
}

.dropdown-item:hover {
  background-color: #fafafa;
}

.suffix-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);
}

.dropdown-input,
.dropdown-input:active,
.dropdown-input:focus {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
  //font-size: 12pt;
  outline: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.preffix-container {
  cursor: pointer;
  white-space: nowrap;
  border-radius: 100px;
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  transition: 0.2s background-position;
}

.preffix-container:hover {
  background-position: bottom;
}

.preffix {
  color: var(--subtitle-color);
  margin-right: 6px;
}

.empty-template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4px;
  background-color: white;
}

.empty-icon {
  width: 54px;
  height: 54px;
  font-size: 30px;
  background-color: #f8f8f8;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-label {
  font-size: 16pt;
  color: #252525;
}
