.page-container {
  width: 100%;
  max-width: 840px;
  height: 100%;
  padding: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.scrollable-wrapper {
  overflow: auto;
  margin-top: 20px;
  padding-bottom: 100px;
}

.scrollable-wrapper::-webkit-scrollbar {
  display: none;
}

.list-label {
  font-size: 18pt;
  font-weight: 500;
  transform: translate(0, -5px);
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
  width: 100%;
}

.list-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty-template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4px;
}

.empty-icon {
  width: 80px;
  height: 80px;
  font-size: 35px;
  background-color: var(--bg-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-label {
  margin-top: 5px;
  font-size: 18pt;
  color: var(--text-color);
}

@media only screen and (max-width: 768px) {
  .scrollable-wrapper {
    padding-bottom: 30px;
  }
}
