<div class="page-container">
  <br />
  <br />
  <page-header backRoute="/u/settings" title="blocked"></page-header>

  <loading-spinner [loading]="loading" class="mt-3"></loading-spinner>
  <div class="scrollable-wrapper">
    <div class="list-container" infinite-scroll (scrolled)="loadMoreItems()">
      <user-list-item
        (byClickAvatar)="onTapProfile(blocked)"
        *ngFor="let blocked of blocked"
        [data]="blocked"
        [avatarImage]="blocked.node.profileImage"
        [username]="blocked.node.username"
      >
      </user-list-item>
    </div>
  </div>
</div>
