<div class="sidebar">
  <picnic-text-button
    iconColor="var(--text-color)"
    label="for you"
    textAlign="left"
    width="100%"
    [hover]="false"
    radius="8px"
    [routerLink]="['/']"
    [routerLinkActiveOptions]="{ exact: true }"
    class="for-you-button"
    routerLinkActive="active-button"
  >
    <picnic-icon name="heart-outline" [size]="22" icon></picnic-icon>
  </picnic-text-button>

  <!--  <picnic-text-button-->
  <!--    *ngIf="!isGuestUser"-->
  <!--    (byClick)="openCreateCircleModal()"-->
  <!--    iconColor="var(&#45;&#45;text-color)"-->
  <!--    label="create new circle"-->
  <!--    textAlign="left"-->
  <!--    width="100%"-->
  <!--    [hover]="false"-->
  <!--    radius="8px"-->
  <!--    class="create-circle-button"-->
  <!--  >-->
  <!--    <picnic-icon name="plus-circle" [size]="22" icon></picnic-icon>-->
  <!--  </picnic-text-button>-->

  <picnic-text-button
    iconColor="var(--text-color)"
    label="discover"
    textAlign="left"
    width="100%"
    [hover]="false"
    radius="8px"
    routerLink="d"
    class="discover-button"
    routerLinkActive="active-button"
  >
    <picnic-icon name="discover" [size]="22" icon></picnic-icon>
  </picnic-text-button>
  <picnic-text-button
    iconColor="var(--text-color)"
    label="pods"
    textAlign="left"
    width="100%"
    [hover]="false"
    radius="8px"
    routerLink="pods"
    class="discover-button"
    routerLinkActive="active-button"
  >
    <picnic-icon name="pods" [size]="22" icon></picnic-icon>
  </picnic-text-button>

  <expandable-sidebar-items
    [label]="isGuestUser ? 'trending circles' : 'my circles'"
    [items]="trendingCircleItems"
    (byLoadMoreItems)="loadMoreItems()"
  ></expandable-sidebar-items>
</div>
