.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 18px;
  gap: 8px;
}

.sidebar::-webkit-scrollbar {
  display: none;
  width: 0;
}

.for-you-button {
  border-radius: 20px;
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  padding: 0 2px;
  transition: background-position 0.2s, color 0.2s;
}

.for-you-button:hover {
  background-position: bottom;
}

.discover-button {
  border-radius: 20px;
  padding: 0 2px;
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  transition: background-position 0.2s, color 0.2s;
}

.discover-button:hover {
  background-position: bottom;
}

.create-circle-button {
  border-radius: 20px;
  padding: 0 2px;
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  transition: background-position 0.2s, color 0.2s;
}

.create-circle-button:hover {
  background-position: bottom;
}

.active-button {
  background-color: var(--bg-secondary-color);
}

.active-button:hover {
  background: var(--bg-secondary-color);
  background-position: none;
}

ng-scrollbar {
  --scrollbar-padding: 6px;
  --scrollbar-thumb-color: var(--bg-secondary-color);
}
