.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.suffix-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.title-label {
  //font-size: 12pt;
  // font-weight: bold;
  color: var(--subtitle-color);
  line-height: 20px;
}

.subtitle-label {
  //font-size: 14pt;
  font-weight: 400;
  color: var(--text-color);
  line-height: 20px;
}
