<div role="button" class="item-container">
  <div class="info-container">
    <picnic-avatar
      *ngIf="image || forceImage"
      [src]="image ?? ''"
      [size]="imageSize ?? 42"
      [emojiSize]="emojiSize?.toString() ?? '22'"
      [emojiMode]="emojiMode"
      [showFollows]="false"
      [bgColor]="imageBg ?? 'var(--bg-secondary-color)'"
    ></picnic-avatar>

    <ng-container *ngIf="contentRef">
      <ng-container *ngTemplateOutlet="contentRef"></ng-container>
    </ng-container>
    <div *ngIf="!contentRef" class="text-container">
      <span *ngIf="title" class="title-label">{{ title }}</span>
      <span *ngIf="subtitle" class="subtitle-label">{{ subtitle }}</span>
    </div>
  </div>

  <div class="suffix-container">
    <ng-content select="[suffix]"></ng-content>
  </div>
</div>
