.title-label {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.no-rules-title {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
}

.no-rules-subtitle {
  color: #808080;
  font-size: 16pt;
  font-weight: 400;
}

.page-container {
  height: 100%;
  width: 100%;
  padding: 30px;
  max-width: 846px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
