<div class="page-container">
  <page-header></page-header>
  <div *ngIf="circle?.rulesText?.trim() as rulesText">
    <span class="title-label">rules</span>
    <span>{{ rulesText }}</span>
  </div>
  <ng-container *ngIf="!circle?.rulesText?.trim()">
    <div class="d-flex flex-column justify-content-center align-content-center text-center mx-auto">
      <picnic-avatar
        src="😜"
        [emojiMode]="true"
        [size]="85"
        [showFollows]="false"
        bgColor="#f2f2f2"
        emojiSize="42"
      ></picnic-avatar>
      <span class="no-rules-title">no rules yet</span>
      <span class="no-rules-subtitle">there's no rules here!</span>
    </div>
  </ng-container>
</div>
