<div class="page-container">
  <div class="header">
    <span class="header-title">chats</span>
    <picnic-icon-button
      (click)="onTapStartChat()"
      name="plus-thin"
      bgColor="transparent"
      [rounded]="true"
      [size]="38"
      [iconSize]="28"
      iconColor="var(--text-color)"
    ></picnic-icon-button>
  </div>

  <div class="tabs-container">
    <div routerLink="feed" routerLinkActive="active-tab" class="tab-item">
      <span class="tab-label">chat feed</span>
    </div>

    <div routerLink="circles" routerLinkActive="active-tab" class="tab-item">
      <span class="tab-label">my circles</span>
    </div>

    <div routerLink="dms" routerLinkActive="active-tab" class="tab-item">
      <span class="tab-label">dms</span>
    </div>
  </div>

  <div class="w-100 h-100">
    <router-outlet></router-outlet>
  </div>
</div>
