.page-container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0px 26px;
}

.header-title {
  font-size: 17pt;
  font-weight: 800;
  color: var(--text-color);
}

.tabs-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  margin-top: 15px;
}

.tab-item {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-bottom 0.1s ease;
}

.tab-item:hover {
  background-color: var(--bg-secondary-color);
}

.tab-label {
  font-size: 12pt;
  color: #a0aabd;
  text-align: center;
}

.active-tab {
  border-bottom: 2px solid var(--text-color);
}

.active-tab > .tab-label {
  color: var(--text-color);
}
