<div class="wrapper">
  <div class="dropdown" (clickOutside)="hideDropdown()" (click)="toggleDropdown()">
    <input
      *ngIf="!buttonTemplateRef"
      type="text"
      (input)="handleInput($event)"
      [disabled]="!allowInput"
      [placeholder]="hint"
      [value]="selectedItem?.label"
      [style.outline]="errorText ? '1px solid #CC4A62' : ''"
      [ngStyle]="getStyle"
      [ngClass]="{ 'light-hint-color': lightHintColor }"
      class="dropdown-selected"
    />

    <ng-container *ngIf="buttonTemplateRef" [ngTemplateOutlet]="buttonTemplateRef"> </ng-container>

    <div
      class="dropdown-list"
      [ngStyle]="{
        width: maxWidth + 'px',
        top: customPosition?.top + 'px',
        bottom: customPosition?.bottom + 'px',
        left: customPosition?.left + 'px',
        right: customPosition?.right + 'px'
      }"
      [ngClass]="{ 'dropdown-list-open': isOpen }"
    >
      <div
        infinite-scroll
        [scrollWindow]="false"
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
        [style.height.px]="maxHeight"
        class="scrollable-wrapper"
        #scrollable
      >
        <ng-content select="[primaryItem]"></ng-content>

        <ng-container *ngIf="!emptyItems; else emptyTemplate">
          <div *ngFor="let item of items" (click)="$event.stopPropagation(); handleSelectItem(item)">
            <ng-container
              *ngIf="itemTemplateRef"
              [ngTemplateOutlet]="itemTemplateRef"
              [ngTemplateOutletContext]="{ $implicit: item }"
            >
            </ng-container>
            <div *ngIf="!itemTemplateRef" class="dropdown-item">
              <span [style.fontSize]="textSize">{{ item.label }}</span>
            </div>
          </div>
          <div *ngIf="loadingNext" class="loading-container">
            <img width="25" src="assets/icons/loading.gif" />
          </div>
        </ng-container>
      </div>
    </div>

    <picnic-icon-button
      *ngIf="showOpen"
      iconColor="var(--text-color)"
      class="suffix-icon"
      (byClick)="$event.stopPropagation(); toggleDropdown()"
      name="arrow-down"
      bgColor="transparent"
      padding="0"
    ></picnic-icon-button>
  </div>

  <span *ngIf="errorText" class="error-label">{{ errorText }}</span>
</div>

<ng-template #emptyTemplate>
  <div class="empty-template-container">
    <span class="empty-icon">🔍</span>
    <span class="empty-label">no results found</span>
  </div>
</ng-template>
