.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.scrollable-wrapper {
  height: 140px;
  overflow: auto;
}

ng-scrollbar {
  --scrollbar-padding: 6px;
  --scrollbar-thumb-color: #ebebeb;
}

.error-label {
  text-align: left;
  //font-size: 12pt;
  color: #cc4a62;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-selected {
  width: 100%;
  height: 45px;
  background: var(--input-color);
  border-radius: 16px;
  border: 1px solid var(--stroke-color);
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //font-size: 14pt;
  position: relative;
  color: var(--text-color);
}

.light-hint-color::placeholder {
  color: var(--subtitle-color);
}

.dropdown-selected:focus {
  outline: none;
}

input::placeholder {
  color: var(--text-color);
}

.dropdown-list {
  position: absolute;
  display: none;
  background-color: var(--bg-color);
  min-width: 100%;
  z-index: 1;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--stroke-color);
}

.dropdown-list-open {
  display: block;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  text-align: start;
  padding: 0 18px;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //font-size: 14pt;
  background-color: white;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.suffix-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);
}

.empty-template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: auto;
}

.empty-icon {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: #f8f8f8;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-label {
  //font-size: 14pt;
  color: var(--text-color);
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 15px;
}
