<video
  *ngIf="post?.videoContent; else notfound"
  class="post-video"
  preload="auto"
  [poster]="post?.videoContent?.thumbnailUrl"
  controls
  disablepictureinpicture
  crossorigin
  autoplay
  loop
  [muted]="true"
  controlslist="noremoteplayback nodownload noplaybackrate foobar"
>
  <source [src]="post?.videoContent?.downloadUrl" />
</video>
<ng-template #notfound>not found</ng-template>
