<div class="navbar-container">
  <page-navbar-item
    label="thought"
    [labelWeight]="500"
    padding="3px 2px"
    radius="8px"
    labelSize="18px"
    iconName="edit-square"
    path="./thought"
    routerLinkActive="active"
  >
  </page-navbar-item>

  <page-navbar-item
    label="image & video"
    [labelWeight]="500"
    padding="3px 0"
    radius="8px"
    labelSize="18px"
    iconName="image"
    path="./media"
    routerLinkActive="active"
  >
  </page-navbar-item>

  <page-navbar-item
    label="poll"
    [labelWeight]="500"
    padding="3px 0"
    radius="8px"
    labelSize="18px"
    iconName="chart"
    path="./poll"
    routerLinkActive="active"
  >
  </page-navbar-item>
</div>
