<div class="item-container">
  <div class="info-container">
    <picnic-avatar
      (click)="handleClickAvatar()"
      [src]="avatarImage ?? ''"
      [size]="40"
      [showFollows]="false"
    ></picnic-avatar>
    <span class="username-label">{{ username ?? '' | formattedUsername }}</span>
  </div>

  <ng-content select="[suffix]"></ng-content>
</div>
