.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.username-label {
  //font-size: 14pt;
  font-weight: 500;
  cursor: pointer;
}

.info-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
