.circle__mod__container {
  // box-shadow: 0 14px 10px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  height: 75px;
  cursor: pointer;
  background: var(--bg-secondary-color);
}

.circle__container {
  width: 100px;
  height: 100px;

  background: var(--bg-secondary-color);
  // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;

  cursor: pointer;
}

.circle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 10px;
}

.circle-image {
  border-radius: 100px;
  height: 42px;
  width: 42px;
  background-color: var(--bg-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circle-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 2em;
  overflow: hidden;
  width: calc(100% - 10px);
}

.circle-name {
  //font-size: 14pt;
  line-height: 1em;
  text-align: center;
  word-wrap: break-word;
  max-height: 2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
}

.mod-circle-name {
  font-weight: 500;
  font-size: 18pt;
  line-height: 20px;
  color: var(--text-color);
}

.mod-members-label {
  font-weight: 400;
  font-size: 10pt;
  line-height: 21px;
  color: var(--text-color);
  opacity: 0.4;
}

.mod-role-label {
  font-weight: 500;
  font-size: 18pt;
  line-height: 20px;
  color: #45baec;
}

.mod-link-label {
  color: var(--link-secondary-color);
}
