<div class="circles-grid">
  <div class="row justify-content-center" *ngIf="modCircles">
    <ng-container *ngIf="ownProfile">
      <div class="col-12 col-lg-6 p-2">
        <div
          class="d-flex justify-content-between w-100 align-items-center circle__mod__container p-3"
          (click)="openCreateCircleModal()"
        >
          <div class="d-flex justify-content-center align-items-center gap-2">
            <div class="d-flex flex-column">
              <span class="mod-circle-name"> create new circle </span>
            </div>
          </div>
          <div class="d-flex flex-column align-items-end">
            <picnic-icon-button
              name="plus-circle"
              [rounded]="true"
              bgColor="transparent"
              iconColor="var(--text-color)"
            ></picnic-icon-button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-2">
        <div class="d-flex justify-content-between w-100 align-items-center circle__mod__container p-3" routerLink="/d">
          <div class="d-flex justify-content-center align-items-center gap-2">
            <div class="d-flex flex-column">
              <span class="mod-circle-name"> discover new circles </span>
            </div>
          </div>
          <div class="d-flex flex-column align-items-end">
            <picnic-icon-button
              name="discover"
              [rounded]="true"
              bgColor="transparent"
              iconColor="var(--text-color)"
            ></picnic-icon-button>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="col-12 col-lg-6 p-2" *ngFor="let c of modCircles" (click)="navigateToCircle(c)">
      <div class="d-flex justify-content-between w-100 align-items-center circle__mod__container p-3">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <div class="circle-image">
            <picnic-avatar
              [src]="c?.node?.imageFile || c?.node?.image || ''"
              [emojiMode]="!c?.node?.imageFile"
              [showFollows]="false"
              emojiSize="24"
              [size]="42"
              bgColor="#f9f9f9"
            >
            </picnic-avatar>
          </div>
          <div class="d-flex flex-column">
            <span class="mod-circle-name">
              {{ c.node.name }}
            </span>
            <span class="mod-members-label">{{ c.node.membersCount }} members</span>
          </div>
        </div>
        <div class="d-flex flex-column align-items-end">
          <span class="mod-role-label">
            {{ c.node.role === 'DIRECTOR' ? 'director' : 'mod' }}
          </span>
          <div class="mod-link-label">
            <picnic-icon name="share-link" [size]="18"></picnic-icon>
            <span>link</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 justify-content-center gap-3" *ngIf="circles">
    <div class="circle__container" *ngFor="let c of circles" (click)="navigateToCircle(c)">
      <div class="circle-content">
        <picnic-avatar
          [src]="c?.node?.imageFile || c?.node?.image || ''"
          [emojiMode]="!c?.node?.imageFile"
          [showFollows]="false"
          emojiSize="24"
          [size]="42"
          bgColor="#f9f9f9"
        >
        </picnic-avatar>
        <div class="circle-name-container">
          <div class="circle-name-wrapper">
            <span class="circle-name">{{ c.node.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
