<picnic-onboarding-dialog
  emoji="😀"
  [emojiSize]="50"
  emojiBg="#DEEFFF"
  emojiPadding="4px 0 0 0"
  title="your photo"
  subtitle="choose a profile pic"
  progress="85%"
>
  <div class="d-flex flex-column gap-3" content>
    <picnic-button (byClick)="openPhotoDialog()" color="#007BFF" label="add profile photo" width="100%" height="48px">
    </picnic-button>

    <picnic-text-button
      (byClick)="onSkip()"
      class="mx-auto"
      label="skip for now 😢"
      color="var(--subtitle-color)"
      [labelSize]="14"
      padding="2px 12px"
    ></picnic-text-button>
  </div>
</picnic-onboarding-dialog>
