.page-container {
  width: 100%;
  max-width: 840px;
  height: 100%;
  padding: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.select-dropdown {
  color: var(--text-color);
}
