<div class="page-container">
  <page-header title="report"></page-header>
  <br />
  <div class="content-container">
    <div class="row">
      <div class="circle-selection-container">
        <span class="select-circle-label">select circle</span>
        <simple-dropdown
          (bySelect)="handleItemSelect($event)"
          [items]="circleItems"
          [maxHeight]="200"
          [allowInput]="true"
          inputHeight="52px"
          hint="select reason"
        >
        </simple-dropdown>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12">
        <text-input [(ngModel)]="text" [textArea]="true" [textAreaRows]="8"></text-input>
      </div>
    </div>
    <br />
    <div class="content-container">
      <picnic-button label="send reason" padding="8px 25px" (byClick)="sendReport()"> </picnic-button>
    </div>
  </div>
</div>
