.desktop-content {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 370px;
  max-height: 80%;
  overflow-y: auto;
  padding: 25px;
}

.desktop-content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop-content .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.desktop-content .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desktop-content .emoji-container {
  width: 88px;
  height: 88px;
  background: #f2f2f2;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

.desktop-content .title-label {
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
  margin-top: 15px;
}

.desktop-content .description-label {
  font-weight: 400;
  //font-size: 14pt;
  color: var(--subtitle-color);
  text-align: center;
}

.desktop-content .social-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 6px;
  background: var(--bg-color);
  border-radius: 16px;
  height: 45px;
  border: 1px solid var(--stroke-color);
  font-weight: 400;
  //font-size: 14pt;
  line-height: 21px;
  width: 100%;
  color: var(--subtitle-color);
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  transition: 0.2s background-position;
}

.desktop-content .social-button:hover {
  background-position: bottom;
}

.desktop-content .already-account-label {
  font-weight: 400;
  //font-size: 14pt;
  color: var(--subtitle-color);
}

.desktop-content .already-account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mobile-content {
  background-color: var(--bg-color);
  border-radius: 16px;
  width: 90%;
  max-height: 80%;
  padding: 25px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.mobile-content .title-label {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: var(--text-color);
}

.mobile-content .description-label {
  font-weight: 400;
  //font-size: 12pt;
  text-align: center;
  color: var(--subtitle-color);
}

.mobile-content .modal-body {
  display: flex;
  flex-direction: column;
}

.mobile-content .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

.mobile-content .skip-button {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .desktop-content {
    display: none;
  }

  .mobile-content {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .desktop-content {
    display: block;
  }

  .mobile-content {
    display: none;
  }
}
