<modal-wrapper [isOpen]="isOpen" (click)="onCloseOutside($event)">
  <div click.stop content>
    <div class="desktop-content">
      <div class="header">
        <picnic-icon-button
          (byClick)="close()"
          name="close"
          padding="0"
          iconColor="var(--text-secondary-color)"
          bgColor="transparent"
        ></picnic-icon-button>
        <picnic-icon-button
          [iconSize]="24.5"
          name="info-circle-outline"
          padding="0"
          iconColor="var(--text-secondary-color)"
          bgColor="transparent"
        ></picnic-icon-button>
      </div>
      <div class="modal-body">
        <div class="emoji-container">
          <span>📱</span>
        </div>
        <span class="title-label">make an account</span>
        <span class="description-label">enter your phone number or sign up using one of the options below</span>
      </div>
      <div class="footer">
        <button (click)="goToLogin()" class="social-button">
          <span>Sign up with</span>
          <img src="assets/icons/google.svg" alt="" srcset="" />
        </button>
        <button (click)="goToLogin()" class="social-button">
          <span>Sign up with</span>
          <picnic-icon name="apple" [size]="20"></picnic-icon>
        </button>
        <button (click)="goToLogin()" class="social-button">
          <span>Sign up with</span>
          <picnic-icon name="discord" [size]="20" color="#0065D1"></picnic-icon>
        </button>
        <div class="already-account-container">
          <span class="already-account-label">already have an account?</span>
          <picnic-text-button
            (byClick)="goToLogin()"
            label="login"
            [labelSize]="14"
            color="#0065D1"
            padding="4px"
          ></picnic-text-button>
        </div>
      </div>
    </div>
    <div class="mobile-content">
      <picnic-logo size="90px"></picnic-logo>
      <div class="modal-body">
        <span class="title-label">picnic app</span>
        <span class="description-label"
          >please install the picnic app in order to use this feature and get more from picnic</span
        >
      </div>
      <div class="footer">
        <picnic-button
          (byClick)="goToLogin()"
          label="sign in"
          textColor="#007BFF"
          width="100%"
          color="transparent"
          border="2px solid #007BFF"
        >
          <picnic-icon name="login" [size]="20" icon></picnic-icon>
        </picnic-button>
        <picnic-button (byClick)="handleDownloadPicnic()" label="download" width="100%" height="45px" color="#8134FF">
          <picnic-icon name="download" [size]="20" icon></picnic-icon>
        </picnic-button>
      </div>
    </div>
  </div>
</modal-wrapper>
