<picnic-modal></picnic-modal>

<div class="settings-container">
  <span *ngIf="firstTitle" class="firstTitle">{{ firstTitle }}</span>
  <div
    role="button"
    *ngFor="let setting of settings"
    (click)="handleItemSelected(setting)"
    [class.active]="selectedItem === setting && showActiveItem"
    class="setting-item"
    [routerLink]="setting.path"
  >
    <div class="label-container">
      <ng-container *ifIsBrowser>
        <svg-icon
          *ngIf="setting.iconName"
          class="icon"
          role="button"
          [name]="setting.iconName"
          [svgStyle]="{
            'width.px': 20,
            'height.px': 20,
            'padding.px': 0,
            'margin.px': 0
          }"
        ></svg-icon>
      </ng-container>
      <span>{{ setting.label }}</span>
      <div *ngIf="setting.notificationCount" class="badge-notification">
        {{ setting.notificationCount }}
      </div>
    </div>
    <picnic-icon-button
      *ngIf="showArrow"
      class="icon-button"
      name="arrow-left"
      padding="0 0 2px 0"
      [rounded]="true"
      [size]="30"
      [iconSize]="22"
      iconColor="#BFBFBF"
      bgColor="transparent"
    ></picnic-icon-button>
  </div>

  <span *ngIf="secondTitle" class="secondTitle">{{ secondTitle }}</span>
  <div
    role="button"
    *ngFor="let otherItem of otherItems"
    (click)="handleItemSelected(otherItem)"
    [class.active]="selectedItem === otherItem"
    class="setting-item"
  >
    <div class="label-container">
      <ng-container *ifIsBrowser>
        <svg-icon
          *ngIf="otherItem.iconName"
          class="icon"
          role="button"
          [name]="otherItem.iconName"
          [svgStyle]="{
            'width.px': 20,
            'height.px': 20,
            'padding.px': 0,
            'margin.px': 0
          }"
        ></svg-icon>
      </ng-container>
      <span>{{ otherItem.label }}</span>
      <div *ngIf="otherItem.notificationCount" class="badge-notification">
        {{ otherItem.notificationCount }}
      </div>
    </div>
    <picnic-icon-button
      *ngIf="showArrow"
      class="icon-button"
      name="arrow-left"
      padding="0 0 2px 0"
      [rounded]="true"
      [size]="30"
      [iconSize]="22"
      iconColor="#BFBFBF"
      bgColor="transparent"
    ></picnic-icon-button>
  </div>
</div>
