.settings-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.settings-container::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  transition: 0.2s background-color;
  color: var(--text-secondary-color);
  //font-size: 14pt;
  margin: 0px 5px;
  border-radius: 100px;
}

.setting-item:hover:not(.active) {
  background-color: var(--bg-secondary-color);
}

.active {
  color: #0065d1;
  background-color: rgba(0, 123, 255, 0.15);
}

.icon-button {
  transform: scaleX(-1);
}

.label-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.badge-notification {
  margin-left: 5px;
  width: 21px;
  height: 21px;
  border-radius: 100px;
  color: var(--text-color);
  font-weight: 400;
  //font-size: 12pt;
  background-color: #ff5d7b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5px;
}

.firstTitle {
  font-weight: 500;
  font-size: 18pt;
  color: var(--text-color);
  padding: 0 16px;
  margin-bottom: 8px;
  margin-top: 14px;
}

.secondTitle {
  font-weight: 500;
  font-size: 18pt;
  color: var(--text-color);
  padding: 0 16px;
  margin-bottom: 8px;
  margin-top: 25px;
}
