.label-container {
  display: flex;
  align-items: center;
}

.badge-notification {
  margin-left: 5px;
  width: 21px;
  height: 21px;
  aspect-ratio: 1;
  border-radius: 100px;
  color: var(--bg-color);
  font-weight: 400;
  //font-size: 12pt;
  background-color: #ff5d7b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5px;
}
