<div class="mt-3 d-flex flex-row justify-content-between align-content-center">
  <div class="d-flex flex-row justify-content-center align-content-center">
    <div (click)="handleClickAvatar()" *ngIf="showImage()">
      <img [src]="image" alt="preview" *ngIf="image" class="avatar rounded-circle" />
    </div>

    <div
      *ngIf="
        this.notification?.action === 'post_removed_by_moderator' ||
        this.notification?.action === 'post_removed_by_picnic'
      "
    >
      <div class="circle">
        <i class="fas fa-user"></i>
      </div>
    </div>

    <div class="ms-2 d-flex flex-column justify-content-center align-content-center">
      <div class="title">
        <span>{{ title }}</span>
      </div>
      <span class="description">{{ description ?? '' }}</span>
    </div>
  </div>

  <span>
    <div *ngIf="notification?.action === 'follow'">
      <picnic-button
        [label]="notification?.fromInfo?.relation ? 'following' : 'follow'"
        [textColor]="notification?.fromInfo?.relation ? '#FF5D7B' : 'var(--text-color)'"
        [borderColor]="notification?.fromInfo?.relation ? '#FF5D7B' : ''"
        [border]="notification?.fromInfo?.relation ? '2px solid' : ''"
        [color]="notification?.fromInfo?.relation ? 'var(--bg-color)' : '#007BFF'"
        (byClick)="handleClickFollow()"
      ></picnic-button>
    </div>

    <div *ngIf="showPostThumbnail()">
      <img
        *ngIf="notification?.sourceInfo?.avatar"
        [src]="notification?.sourceInfo?.avatar ?? ''"
        alt="preview"
        width="32"
        height="32"
        class="rounded"
        (click)="navigateToPost(notification?.sourceInfo?.id)"
      />
    </div>
  </span>
</div>
