.avatar {
  width: 38px;
  height: 38px;
}

.title {
  font-size: 0.8rem;
  font-weight: 600;
}

.description {
  font-size: 0.7rem;
}

.badge {
  padding: 4px;
  background-color: rgb(0, 255, 102);
  border-radius: 5px;
}

.avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

i {
  font-size: 20pt;
  color: var(--text-color);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: palevioletred;
  border-radius: 50%;
}
