<div class="position-relative d-flex flex-row justify-content-between align-items-center">
  <picnic-icon-button
    *ngIf="showBackButton && showBackButtonBackground"
    bgColor=" var(--bg-secondary-color)"
    iconColor="var(--text-secondary-color)"
    (byClick)="goBack()"
    name="arrow-left"
  ></picnic-icon-button>

  <picnic-icon-button
    *ngIf="showBackButton && !showBackButtonBackground"
    bgColor="transparent"
    iconColor="var(--text-secondary-color)"
    (byClick)="goBack()"
    name="arrow-left"
  ></picnic-icon-button>
  <div *ngIf="!showBackButton"></div>

  <span class="title-label" *ngIf="title">{{ title }}</span>

  <div class="d-flex justify-content-center align-items-center gap-3">
    <ng-content select="[icons]"></ng-content>
  </div>
</div>
