<div class="page-container">
  <div class="header">
    <badge-text text="ban user" [textSize]="18" [textWeight]="500"></badge-text>
  </div>

  <ng-container *ngIf="!searchMode; else searchTemplate">
    <div
      *ngIf="members.length > 0; else emptyTemplate"
      class="list-container"
      infinite-scroll
      (scrolled)="loadMoreItems()"
    >
      <div class="top-section">
        <span class="ban-label">banned users</span>
        <picnic-text-button
          (byClick)="showSearchMode()"
          label="ban"
          padding="3px 8px"
          [labelSize]="18"
          [labelWeight]="500"
          color="#FF5D7B"
        ></picnic-text-button>
      </div>
      <list-item
        *ngFor="let item of members"
        class="item"
        [image]="item.node.user.profileImage"
        [emojiMode]="false"
        [emojiSize]="22"
        imageBg="#D0FAC2"
      >
        <ng-template>
          <div class="item-content">
            <span>{{ item.node.user.username }}</span>
          </div>
        </ng-template>
        <picnic-button
          name="info-circle-outline"
          padding="4px 15px"
          label="unban"
          color="#FF5D7B"
          (byClick)="onUnban(item)"
          suffix
        ></picnic-button>
      </list-item>
    </div>
  </ng-container>
</div>

<ng-template #searchTemplate>
  <div class="list-container" infinite-scroll (scrolled)="loadMoreItemsSearch(true)">
    <div class="top-search-section">
      <picnic-icon-button (byClick)="hideSearchMode()" name="close" [size]="45" [iconSize]="22"></picnic-icon-button>
      <div class="search-input">
        <search-input (byInput)="onSearch($event)" hint="🔍 search users" width="100%"></search-input>
      </div>
    </div>
    <ng-container *ngIf="membersSearch.length > 0; else emptySearchTemplate">
      <list-item
        *ngFor="let item of membersSearch"
        class="item"
        [image]="item.node.user.profileImage"
        [emojiMode]="false"
        [emojiSize]="22"
        imageBg="#D0FAC2"
      >
        <ng-template>
          <div class="item-content">
            <span>{{ item.node.user.username }}</span>
          </div>
        </ng-template>
        <picnic-button
          name="info-circle-outline"
          padding="4px 15px"
          label="ban"
          color="#FF5D7B"
          (byClick)="onBan(item)"
          suffix
        ></picnic-button>
      </list-item>
    </ng-container>
  </div>
</ng-template>

<ng-template #emptyTemplate>
  <div class="empty-template-container">
    <span class="empty-icon">⛔</span>
    <span class="empty-label">no banned users</span>
    <picnic-button
      (byClick)="showSearchMode()"
      class="ban-button-empty"
      label="ban"
      padding="5px 40px"
      color="#FF5D7B"
    ></picnic-button>
  </div>
</ng-template>

<ng-template #emptySearchTemplate>
  <div class="empty-search-template-container">
    <span class="empty-icon">🔍</span>
    <span class="empty-label">no users found</span>
  </div>
</ng-template>
