.page-container {
  height: 100%;
  width: 100%;
  padding: 0 0 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 26px;
  margin-top: 16px;
  height: 100%;
  width: 100%;
  max-width: 945px;
  margin: auto;
  overflow: auto;
  margin-top: 20px;
  padding-bottom: 130px;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 18px 32px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 10px 32px 0 25px;
  }

  .list-container {
    padding-bottom: 30px;
  }
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.ban-label {
  font-size: 18pt;
  font-weight: 500;
}

.item {
  transition: 0.2s background-color ease-in-out;
  padding: 6px 0;
  border-radius: 14px;
}

.item:hover {
  background-color: var(--bg-secondary-color);
}

.empty-template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4px;
  margin-top: 41px;
}

.empty-icon {
  width: 80px;
  height: 80px;
  font-size: 35px;
  background-color: var(--bg-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-label {
  margin-top: 5px;
  font-size: 18pt;
  color: var(--text-color);
}

.ban-button-empty {
  margin-top: 8px;
}

//SEARCHHHHH

.top-search-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  gap: 20px;
}

.search-input {
  width: 100%;
}

.empty-search-template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4px;
  margin-top: 5px;
}
