<div class="page-container">
  <div class="header">
    <badge-text text="blacklisted words" [textSize]="18" [textWeight]="500"></badge-text>

    <page-header [showBackButton]="false">
      <picnic-icon-button name="plus" iconColor="var(--text-secondary-color)" icons></picnic-icon-button>
    </page-header>
  </div>

  <div class="list-container" infinite-scroll (scrolled)="loadMoreItems()">
    <search-input width="100%" class="mb-3" (byInput)="onSearch($event)"></search-input>

    <list-item *ngFor="let item of words" class="item" [title]="item.word">
      <div class="item-actions" suffix>
        <picnic-icon-button
          name="edit-profile"
          padding="1px"
          [rounded]="true"
          [iconSize]="30"
          iconColor="#007BFF"
          bgColor="transparent"
        ></picnic-icon-button>
        <picnic-icon-button
          name="delete"
          padding="0 2px 2px 2px"
          [rounded]="true"
          [iconSize]="24"
          iconColor="#FF5D7B"
          bgColor="transparent"
          (byClick)="onDelete(item.word)"
        ></picnic-icon-button>
      </div>
    </list-item>
  </div>
</div>
