.page-container {
  height: 100%;
  width: 100%;
  padding: 0 0 0x 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 26px;
  margin-top: 16px;
  height: 100%;
  width: 100%;
  max-width: 945px;
  margin: auto;
  overflow: auto;
  margin-top: 20px;
  padding-bottom: 130px;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 18px 32px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0px 32px 0 26px;
  }

  .list-container {
    padding-bottom: 30px;
  }
}

.item {
  transition: 0.2s background-color ease-in-out;
  padding: 6px 2px 6px 4px;
  border-radius: 14px;
}

.item:hover {
  background-color: var(--bg-secondary-color);
}

.item-actions {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 2px;
}
