<div class="download-page-background">
  <div class="page-container">
    <div class="top-section">
      <page-header></page-header>
      <div role="button" routerLink="/" class="d-flex align-items-center gap-3">
        <picnic-logo [openPicnicPage]="true" size="45px"></picnic-logo>
        <span class="title-label">PICNIC</span>
      </div>
    </div>

    <span class="description-label">join your favorite communities on Picnic</span>

    <div class="grid-container">
      <div class="grid-item">
        <div class="download-content">
          <img class="mx-auto" height="100px" src="assets/icons/macos-icon.png" />
          <span class="platform-label">Soon...</span>
          <picnic-button
            [disabled]="true"
            (byClick)="goToLink('https://releases.picnicgcp.net/picnic-app-macos.dmg')"
            label="download"
            color="#007BFF"
            width="100%"
            height="70px"
            textSize="30px"
            [textWeight]="600"
          ></picnic-button>
        </div>
      </div>
      <div class="grid-item">
        <div class="download-content">
          <img class="mx-auto" height="100px" src="assets/icons/ios-icon.png" />
          <span class="platform-label">iOS</span>
          <picnic-button
            (byClick)="goToLink('https://apps.apple.com/us/app/picnic-dive-into-communities/id1544626265')"
            label="download"
            color="#007BFF"
            width="100%"
            height="70px"
            textSize="30px"
            [textWeight]="600"
          ></picnic-button>
        </div>
      </div>
      <div class="grid-item">
        <div class="download-content">
          <img class="mx-auto" height="100px" src="assets/icons/android-icon.png" />
          <span class="platform-label">Android</span>
          <picnic-button
            (byClick)="goToLink('https://play.google.com/store/apps/details?id=com.ambertech.amber')"
            label="download"
            color="#007BFF"
            width="100%"
            height="70px"
            textSize="30px"
            [textWeight]="600"
          ></picnic-button>
        </div>
      </div>
    </div>
  </div>
</div>
