.download-page-background {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/onboarding-background.svg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 700px;
  background: var(--bg-color);
  padding: 40px;
  border-radius: 40px;
  overflow-y: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.title-label {
  font-size: 45px;
  font-weight: bold;
}

.description-label {
  font-size: 25px;
  text-align: center;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.platform-label {
  font-size: 50px;
  font-weight: bold;
}

.download-content {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 16px;
  margin: 0 auto;
  padding-top: 16px;
  max-width: 1200px;
  height: 75%;
}

.grid-item {
  background-color: #f9f9f9;
  border-radius: 20px;
  text-align: center;
}

/* Media query for desktop */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: stretch;
  }

  .page-container {
    max-height: 500px;
    margin-left: 0;
    margin-right: 0;
  }

  .top-section {
    justify-content: flex-start;
  }
}
