.reaction-container {
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 1000px;
  padding: 0px 8px 2px 8px;
  transition: 0.2s background-position;
}

.reaction-container:hover {
  background-position: bottom;
}

.reaction-label {
  font-size: 10pt;
  color: #191919;
}
