<div role="button" class="d-flex align-items-center gap-1">
  <div class="d-flex justify-content-start align-items-center">
    <picnic-text-button
      [label]="comment?.node?.likesCount | shorthand"
      color="var(--text-secondary-color)"
      padding="0"
      [labelSize]="15"
      (byClick)="like()"
    >
      <picnic-icon
        class="mb-1"
        [name]="isLiked ? 'hollow-heart' : 'heart-outline'"
        [fill]="isLiked ? '#FF5D7B' : 'transparent'"
        [color]="isLiked ? '#FF5D7B' : 'var(--text-secondary-color)'"
        [size]="17"
        icon
      ></picnic-icon>
    </picnic-text-button>
  </div>
  <!-- <div class="reaction-container">
    <span class="reaction-label">👍 999</span>
  </div>

  <div class="reaction-container">
    <span class="reaction-label">👎 999</span>
  </div>

  <div class="reaction-container">
    <span class="reaction-label">🔥 999</span>
  </div>

  <div class="reaction-container">
    <span class="reaction-label">🤔 999</span>
  </div> -->
</div>
