.stats-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
}

.stats-count {
  font-weight: 500;
  font-size: 14pt;
  color: var(--text-color);
  text-align: start;
}

.stats-label {
  font-weight: 400;
  //font-size: 14pt;
  color: var(--text-color);
}

.stats-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.icon {
  font-size: 20px;
}
