<div class="stats-container">
  <div role="button" class="stats-button">
    <span class="stats-count">
      {{ likes | shorthand }}
    </span>
    <div class="stats-label"><span class="icon">❤️</span> likes</div>
  </div>

  <div role="button" class="stats-button" (click)="navigateToFollowers()">
    <span class="stats-count">
      {{ followers | shorthand }}
    </span>
    <div class="stats-label"><span class="icon">🤗</span> followers</div>
  </div>

  <div role="button" class="stats-button">
    <span class="stats-count">
      {{ views | shorthand }}
    </span>
    <div class="stats-label"><span class="icon">👀</span> views</div>
  </div>
</div>
