<p>
  Welcome to our getting started guide on how to create your very own personal pod (like app) on Picnic using our
  services! With our user-friendly platform, you can easily create a customized app that suits your needs in just a few
  simple steps.
  <br />
  <br />
  To begin, head over to our "Create" section, where you will find fields to input the URL, name, description, and image
  URL of your app. This will allow you to provide a clear and concise overview of what your app is all about, and how it
  can benefit your users.
  <br />
  <br />
  Next, you can choose from a variety of tags to help categorize your app and make it easier for users to find. This is
  an important step in ensuring that your app is easily discoverable and appealing to your target audience.
  <br />
  <br />
  After that, you can select the appropriate permissions and subscriptions that you want to offer your users. This will
  give them access to various features and functionalities within your app, while also allowing you to monetize your
  creation.
  <br />
  <br />
  With these simple steps, you can quickly and easily create a personalized app that will stand out in the crowded
  digital landscape. So why wait? Get started today!
  <br />
  <br />
  This feature in in progress. For help to implement pod logic and any questions, email: diana@picnic.zone
</p>
