<div class="page-container">
  <page-header title="create a post"> </page-header>

  <div class="circle-selection-container">
    <span class="select-circle-label">select circle</span>
    <simple-dropdown
      (byInput)="handleInput($event)"
      (bySelect)="handleItemSelect($event)"
      (byScrolled)="handleLoadMore()"
      [loadingNext]="loadingNext"
      [items]="circleItems"
      [maxHeight]="200"
      [allowInput]="true"
      inputHeight="52px"
      hint="select community"
    >
      <div (click)="handleCreateCircle()" class="create-circle-item" primaryItem>
        <picnic-icon-button
          name="plus-square-outline"
          padding="0"
          bgColor="transparent"
          iconColor="var(--text-color)"
          [rounded]="false"
        ></picnic-icon-button>
        <span>create new circle</span>
      </div>

      <ng-template let-item #customItem>
        <div class="dropdown-item">
          <span class="circle-icon">{{ item.data.image }}</span>
          <div class="info-container">
            <span class="circle-name">{{ item.data.name | lowercase }}</span>
            <span class="circle-description">{{ item.data.membersCount }} members</span>
          </div>
        </div>
      </ng-template>
    </simple-dropdown>
  </div>

  <create-post-navbar class="mt-4"></create-post-navbar>
  <router-outlet class="mt-3"></router-outlet>
</div>
