.page-container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  padding: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: visible;
}

.circle-selection-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 32px;
}

.select-circle-label {
  //font-size: 14pt;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  text-align: start;
  padding: 0 18px;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //font-size: 14pt;
  gap: 10px;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.circle-icon {
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.circle-name {
  //font-size: 14pt;
  font-weight: 500;
}

.circle-description {
  //font-size: 12pt;
  font-weight: 400;
  color: var(--subtitle-color);
}

.create-circle-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 18px;
  gap: 10px;
}

.create-circle-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
