.loading-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.loading-indicator {
  width: 100%;
  height: 100%;
}
