<div class="content-container">
  <h1>Seeds</h1>

  <div class="section">
    <h2>Overview</h2>
    <p>
      This documentation section describes the GraphQL queries related to seeds connection in the web application. The
      following operations are covered:
    </p>
    <ul>
      <li>CircleSeedsConnection</li>
      <li>UserSeedsConnection</li>
    </ul>
  </div>

  <div class="section">
    <h2>Data Types</h2>
    <h3>SeedsConnection</h3>
    <ul>
      <li>
        <code>totalSeedsAmount</code>: number
        <ul>
          <li>Total amount of seeds.</li>
        </ul>
      </li>
      <li>
        <code>pageInfo</code>: PageInfo
        <ul>
          <li>Contains pagination information.</li>
        </ul>
      </li>
      <li>
        <code>edges</code>: SeedEdge[]
        <ul>
          <li>An array of seed edges.</li>
        </ul>
      </li>
    </ul>

    <h3>Seed</h3>
    <ul>
      <li>
        <code>circle</code>: Circle
        <ul>
          <li>Contains circle information.</li>
        </ul>
      </li>
      <li>
        <code>circleId</code>: string
        <ul>
          <li>The ID of the circle.</li>
        </ul>
      </li>
      <li>
        <code>owner</code>: PublicProfile
        <ul>
          <li>Contains public profile information of the seed owner.</li>
        </ul>
      </li>
      <li>
        <code>ownerId</code>: string
        <ul>
          <li>The ID of the seed owner.</li>
        </ul>
      </li>
      <li>
        <code>amountAvailable</code>: number
        <ul>
          <li>The amount of seeds available.</li>
        </ul>
      </li>
      <li>
        <code>amountLocked</code>: number
        <ul>
          <li>The amount of seeds locked.</li>
        </ul>
      </li>
      <li>
        <code>amountTotal</code>: number
        <ul>
          <li>The total amount of seeds.</li>
        </ul>
      </li>
    </ul>
  </div>

  <h3>SeedEdge</h3>
  <ul>
    <li>
      <code>cursorId</code>: string
      <ul>
        <li>The ID of the cursor.</li>
      </ul>
    </li>
    <li>
      <code>node</code>: Seed
      <ul>
        <li>The seed data.</li>
      </ul>
    </li>
  </ul>

  <h3>CircleSeedsConnectionResponse</h3>
  <ul>
    <li>
      <code>circleSeedsConnection</code>: SeedsConnection
      <ul>
        <li>Contains seeds connection data for the circle.</li>
      </ul>
    </li>
  </ul>

  <h3>UserSeedsConnectionResponse</h3>
  <ul>
    <li>
      <code>userSeedsConnection</code>: SeedsConnection
      <ul>
        <li>Contains seeds connection data for the user.</li>
      </ul>
    </li>
  </ul>

  <div class="section">
    <h2>Queries</h2>
    <h3>CircleSeedsConnection</h3>
    <ul>
      <li>Input: <code>circleID: ID!</code>, <code>cursor: CursorInput</code></li>
      <li>Output: CircleSeedsConnectionResponse</li>
      <li>Description: Fetches the seeds connection data for a specified circle.</li>
    </ul>

    <h3>UserSeedsConnection</h3>
    <ul>
      <li>Input: <code>userID: ID!</code>, <code>cursor: CursorInput</code></li>
      <li>Output: UserSeedsConnectionResponse</li>
      <li>Description: Fetches the seeds connection data for a specified user.</li>
    </ul>
  </div>
</div>
