<picnic-modal></picnic-modal>

<div
  infinite-scroll
  [scrollWindow]="false"
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  class="page-container"
>
  <!-- only show settings button if it's own profile -->
  <div class="max-width w-100">
    <page-header>
      <picnic-icon-button
        *ngIf="ownProfile"
        routerLink="/u/settings"
        bgColor=" var(--bg-secondary-color)"
        iconColor="var(--text-secondary-color)"
        name="setting"
        icons
      ></picnic-icon-button>
    </page-header>
  </div>

  <div class="top-section max-width">
    <ul class="p-0 w-100">
      <li>
        <picnic-avatar
          class="avatar"
          [showFollows]="false"
          [src]="profile?.profileImage ?? ''"
          [size]="120"
        ></picnic-avatar>
      </li>
      <li>
        <div class="info-container align-items-lg-start align-items-center">
          <div class="d-flex flex-column">
            <span class="fullname-label">
              {{ profile?.fullName }}
            </span>
            <gradient-text [formatUsername]="true" [text]="profile?.username ?? ''"></gradient-text>
          </div>
          <div class="bio-label">
            {{ profile?.bio }}
          </div>

          <profile-stats [profileStats]="profileStats"></profile-stats>

          <seeds-counter
            *ngIf="ownProfile"
            class="w-100 mt-1"
            [seedsCount]="myProfile?.seeds?.totalSeedsAmount"
            (bySeedsClick)="onTapSeeds()"
          ></seeds-counter>

          <div class="buttons-container">
            <picnic-button
              *ngIf="ownProfile"
              class="flex-grow-1"
              width="100%"
              (click)="edit()"
              label="edit profile"
              color="#007BFF"
              padding="8px 25px"
            >
              <picnic-icon name="edit-profile" [size]="25" icon></picnic-icon>
            </picnic-button>

            <picnic-button
              *ngIf="ownProfile"
              class="flex-grow-1"
              width="100%"
              (click)="handlePostCreate()"
              label="create post"
              color="#FF5D7B"
              padding="8px 26px"
            >
              <picnic-icon name="plus-square" [size]="23" icon></picnic-icon>
            </picnic-button>

            <picnic-button
              *ngIf="!ownProfile"
              (byClick)="onTapToggleFollow()"
              [label]="isFollowing ? 'following' : 'follow'"
              class="flex-grow-1"
              [width]="isFollowing ? '88%' : '95%'"
              [height]="isFollowing ? '40px' : 'auto'"
              [color]="isFollowing ? 'white' : '#FF5D7B'"
              [textColor]="isFollowing ? '#FF5D7B' : 'white'"
              [border]="isFollowing ? '2px solid #FF5D7B' : 'none'"
              padding="8px 26px"
            >
              <picnic-icon name="profile" [size]="22" icon></picnic-icon>
            </picnic-button>

            <picnic-button
              *ngIf="!ownProfile"
              class="flex-grow-1"
              [width]="isFollowing ? '120%' : '108%'"
              (click)="onDmClick()"
              label="dm"
              padding="8px 26px"
            >
              <picnic-icon name="chat-filled" [size]="18" icon></picnic-icon>
            </picnic-button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <hr class="divider max-width" />

  <ng-template [ngIf]="profile">
    <div class="navbar-container max-width">
      <profile-navbar></profile-navbar>
    </div>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </ng-template>
</div>

<ng-template #publicProfileButtons>
  <div class="buttons-container">
    <picnic-button label="dm" color="#007BFF" padding="8px 25px">
      <picnic-icon name="message" [size]="22" icon></picnic-icon>
    </picnic-button>

    <picnic-button label="follow" color="#FF5D7B" padding="8px 26px">
      <picnic-icon name="profile" [size]="22" icon></picnic-icon>
    </picnic-button>

    <picnic-icon-button name="more-circle" padding="8px"></picnic-icon-button>
  </div>
</ng-template>
