.page-container {
  height: 100%;
  width: 100%;
  padding: 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  padding-bottom: 100px;
}

.top-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 25px;
  margin-top: 25px;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // max-width: 350px;
  gap: 10px;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.fullname-label {
  font-weight: 600;
  font-size: 20pt;
  line-height: 32px;
  color: var(--text-color);
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 320px;
  gap: 10px;
}

.divider {
  border: 1px solid var(--stroke-color);
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100%;
}

.navbar-container {
  margin-bottom: 12px;
  width: 100%;
}

// tmp
ul {
  list-style: none;
  font-size: 0;
  white-space: nowrap;
}
li {
  display: inline-block;
  font-size: 1rem;
  white-space: initial;
}
.avatar {
  padding: 15px;
}

.max-width {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.bio-label {
  color: var(--subtitle-color);
  font-size: 14pt;
  width: 100%;
  max-width: 550px;
  overflow-wrap: break-word;
}

// Responsive design: rough initial block
@media only screen and (max-width: 1024px) {
  ul {
    font-size: 0;
    white-space: nowrap;
  }
  li {
    display: list-item;
    font-size: 1rem;
    white-space: initial;
  }
  .is-desktop {
    display: none;
  }
  .avatar {
    display: flex;
    justify-content: center;
  }

  .info-container {
    align-items: center !important;
  }

  .bio-label {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .page-container {
    padding-bottom: 20px;
  }
}
