<picnic-onboarding-dialog subtitle="dive into communities ✌️">
  <div class="logo-container" image>
    <picnic-logo></picnic-logo>
  </div>

  <div class="title-container" title>
    <span class="title">PICNIC</span>
  </div>

  <ng-container content>
    <picnic-button
      color="#FF5D7B"
      label="get started"
      width="100%"
      height="48px"
      (byClick)="onGetStarted()"
    ></picnic-button>

    <div class="content-container">
      <span>already have an account?</span>
      <picnic-text-button (byClick)="onLogin()" label="login" color="#007BFF" padding="2px 8px"></picnic-text-button>
    </div>
  </ng-container>
</picnic-onboarding-dialog>
