.title {
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  color: #000;
}

.title-container {
  margin-top: 22px;
}

.logo-container {
  position: absolute;
  top: -50px;
  border-radius: 1000px;
  background-color: #fff;
  width: 102px;
  height: 102px;
  padding: 24px 22px 22px 22px;
  margin: auto;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.08);
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
