<picnic-onboarding-dialog
  emoji="🔥"
  [emojiSize]="50"
  title="your username"
  subtitle="your unique name to be discovered!"
  progress="75%"
>
  <div class="d-flex flex-column gap-3" content>
    <text-input
      type="text"
      hint="your username"
      height="52px"
      [(ngModel)]="username"
      (byInput)="usernameInput()"
    ></text-input>
    <div *ngIf="!valid && !cleaned" style="color: red">this username is already in exists</div>

    <picnic-button
      color="#007BFF"
      label="continue"
      width="100%"
      height="48px"
      [disabled]="!valid || loading || cleaned"
      (byClick)="onContinue()"
    >
    </picnic-button>
  </div>
</picnic-onboarding-dialog>
