.search-dropdown {
  position: relative;
  width: 100%;
}

ng-scrollbar {
  --scrollbar-padding: 6px;
  --scrollbar-thumb-color: var(--bg-secondary-color);
}

.scrollable-wrapper {
  width: 100%;
  position: absolute;
  background-color: transparent;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
  background-color: var(--bg-color);
  border-radius: 16px;
  overflow: hidden;
  z-index: 999;
}

.icon-mode-position {
  margin-top: 6px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.search-icon-mode-container {
  margin-bottom: -15px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.dropdown {
  position: relative;
  width: 100%;
  padding-bottom: 50px;
}

.dropdown-item {
  height: 45px;
  padding: 15px;
  padding-right: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;

  &:hover {
    background-color: var(--bg-secondary-color);
  }
}

.label {
  font-weight: 500;
  color: var(--text-color);
  user-select: none;
  margin-left: 15px;
}

.result-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.circle-image {
  font-size: 25px;
  border-radius: 100px;
  background-color: var(--bg-color);
  width: 38px;
  text-align: center;
  height: 38px;
  padding-top: 1.5px;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

.result-label {
  line-height: 16px;
}

.members-label {
  font-weight: 400;
  //font-size: 12pt;
  color: var(--subtitle-color);
}

.reduce-gap {
  gap: 7px;
}

.empty-template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  gap: 4px;
}

.empty-icon {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: var(--bg-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-label {
  //font-size: 14pt;
  color: var(--text-color);
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 6px;
  margin-top: 10px;
}

.loading-container {
  margin-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 15px;
  padding-right: 5px;
  gap: 9px;
}

.item {
  height: 180px;
  border-radius: 20px;
  background: linear-gradient(259.77deg, #86c8f5 -3.62%, #6aaaf5 43.19%, #97a9f5 103.12%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  cursor: pointer;
}

.item:hover > .post-filter {
  opacity: 0.1;
}

.post-bottom-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-left: 14px;
  padding-bottom: 8px;
  z-index: 1;
}

.post-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.post-username-label {
  font-weight: 400;
  font-size: 10pt;
  text-align: center;
  color: var(--text-color);
  line-height: 8px;
  margin-top: 10px;
}

.post-media {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-filter {
  background: black;
  opacity: 0;
  transition: 0.15s ease-in;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.post-shadow {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 26.56%,
    rgba(0, 0, 0, 0.2) 34.5%,
    rgba(0, 0, 0, 0.2) 79.56%,
    rgba(0, 0, 0, 0.7) 100%,
    rgba(0, 0, 0, 0.4) 100%
  );
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.post-link-content {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 10px;
  gap: 5px;
  z-index: 1;
}

.post-text {
  color: var(--text-color);
  font-size: 16pt;
  padding-left: 15px;
  padding-top: 10px;
  font-weight: 400;
  line-height: 22px;
  z-index: 1;
}

.post-link-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16pt;
  line-height: 22px;
  color: var(--text-color);
  inline-size: 120px;
  overflow-wrap: break-word;
}

.post-link-url {
  font-weight: 400;
  //font-size: 12pt;
  color: var(--text-color);
  opacity: 0.7;
  line-height: 15px;
  inline-size: 120px;
  word-break: break-all;
}

.post-video-icon {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.post-poll-content {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  gap: 1.5px;
  background: var(--bg-color);
}

.poll-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.discover-banner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 15px;
  padding-top: 10px;
}

.banner-title-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.banner-title {
  font-weight: 600;
  //font-size: 12pt;
  color: var(--text-color);
}

.banner-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px 8px;
  gap: 10px;
  color: white;
  font-weight: 600;
  font-size: 10pt;
  background: linear-gradient(259.77deg, #be86f5 -3.62%, #a76af5 43.19%, #a497f5 103.12%);
  border-radius: 100px;
}

.banner-description {
  font-weight: 300;
  font-size: 10pt;
  color: #808080;
}

.apps-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 14px;
  padding: 0 18px 68px 16px;
  overflow-x: auto;
}

.apps-row::-webkit-scrollbar {
  display: none;
  width: 0;
}

.app-item {
  background: var(--bg-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  height: 130px;
  border-radius: 20px;
  flex-basis: 55%;
  flex-shrink: 0;
}

.app-item-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.app-header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-left: 8px;
}

.app-icon {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background-color: #84c4ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.app-name {
  font-weight: 400;
  font-size: 10pt;
  color: var(--text-color);
  text-align: left;
  line-height: 14px;
}

.app-author {
  font-weight: 400;
  font-size: 8pt;
  font-style: italic;
  color: var(--subtitle-color);
  text-align: left;
  line-height: 14px;
}

.app-item-description {
  font-weight: 400;
  font-size: 9pt;
  color: rgba(57, 72, 124, 0.8);
}

.apps-result-container {
  display: flex;
  flex-direction: column;
}

.filter-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-chip {
  padding: 6px 15px;
  border-radius: 100px;
  background-color: #f4f5f8;
  font-size: 9pt;
  color: #777777;
}

.chip-active {
  background: rgba(29, 119, 255, 0.1);
  color: #1d77ff;
}

.app-result-item {
  height: 80px;
  padding: 0 15px;
  padding-right: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;

  &:hover {
    background-color: var(--bg-secondary-color);
  }
}

.app-result-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  margin-left: 8px;
}

.app-result-icon-container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
}

.app-result-icon {
  width: 38px;
  height: 38px;
  min-width: 38px;
  border-radius: 8px;
  background-color: #84c4ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-result-name {
  font-weight: 400;
  font-size: 9pt;
  color: var(--text-color);
  text-align: left;
  line-height: 14px;
}

.app-result-description {
  font-weight: 400;
  font-size: 8pt;
  color: rgba(57, 72, 124, 0.8);
}

.app-result-content-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.app-result-circles-count {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 25px;
  border-radius: 100px;
  background-color: #f4f5f8;
  font-size: 7pt;
  color: #777777;
}
