<div (clickOutside)="hideDropdown()" class="search-dropdown">
  <text-input
    *ngIf="!iconMode"
    hint="🔍 search"
    [showClear]="true"
    [(ngModel)]="searchText"
    (byInput)="onSearch()"
    (byClear)="onClear()"
    (click)="showDropdown = true"
    [height]="inputHeight"
  ></text-input>

  <picnic-icon-button
    *ngIf="iconMode"
    name="search-bold"
    [iconSize]="25"
    iconColor="var(--text-secondary-color)"
    [bgColor]="showDropdown ? '#f4f5f8' : 'transparent'"
    (click)="showDropdown = !showDropdown"
  ></picnic-icon-button>

  <div
    *ngIf="showDropdown"
    [@inOutAnimation]
    [style.height]="dropdownHeight ?? '500px'"
    [style.width]="dropdownWidth"
    [ngClass]="{ 'icon-mode-position': iconMode }"
    class="scrollable-wrapper"
  >
    <div class="search-icon-mode-container">
      <text-input
        *ngIf="iconMode"
        hint="🔍 search"
        [showClear]="true"
        [(ngModel)]="searchText"
        (byInput)="onSearch()"
        (byClear)="onClear()"
        [height]="inputHeight"
      ></text-input>
    </div>
    <div class="tabs-container">
      <picnic-text-button
        (byClick)="handleTabChange('ALL')"
        label="all"
        [labelSize]="15"
        [color]="selectedTabValue === 'ALL' ? '#39487C' : '#b0b6cb'"
        padding="2px 10px"
      ></picnic-text-button>
      <picnic-text-button
        (byClick)="handleTabChange('APPS')"
        label="pods"
        [labelSize]="15"
        color="#39487C"
        [color]="selectedTabValue === 'APPS' ? '#39487C' : '#b0b6cb'"
        padding="2px 10px"
      ></picnic-text-button>
      <picnic-text-button
        (byClick)="handleTabChange('POSTS')"
        label="posts"
        [labelSize]="15"
        color="#39487C"
        [color]="selectedTabValue === 'POSTS' ? '#39487C' : '#b0b6cb'"
        padding="2px 10px"
      ></picnic-text-button>
      <picnic-text-button
        (byClick)="handleTabChange('CIRCLES')"
        label="circles"
        [labelSize]="15"
        color="#39487C"
        [color]="selectedTabValue === 'CIRCLES' ? '#39487C' : '#b0b6cb'"
        padding="2px 10px"
      ></picnic-text-button>
      <picnic-text-button
        (byClick)="handleTabChange('USERS')"
        label="users"
        [labelSize]="15"
        color="#39487C"
        [color]="selectedTabValue === 'USERS' ? '#39487C' : '#b0b6cb'"
        padding="2px 10px"
      ></picnic-text-button>
    </div>

    <ng-scrollbar *ngIf="emptySearchText && selectedTabValue === 'ALL'">
      <div class="discover-banner">
        <div class="banner-title-section">
          <span class="banner-title">discover circle pods</span>
          <span class="banner-button">new</span>
        </div>
        <span class="banner-description"
          >use pods to add cool features to your circle and make it the best home for circle members</span
        >
      </div>

      <div class="apps-row" [style.width]="dropdownWidth ?? '340px'">
        <div *ngFor="let item of initialApps" class="app-item" (click)="onTapPod(item.node)">
          <div class="app-item-header">
            <div class="app-icon">
              <picnic-icon name="robot" [size]="22" color="white"></picnic-icon>
            </div>
            <div class="app-header-content">
              <span class="app-name">{{ item.node.name }}</span>
              <span class="app-author">{{ item.node.owner!.name }}</span>
            </div>
          </div>
          <span class="app-item-description">{{ item.node.description | truncate : 60 : false }}</span>
        </div>
      </div>
    </ng-scrollbar>

    <ng-container *ngIf="emptyAppsResults && !loading && selectedTabValue === 'APPS'">
      <ng-container [ngTemplateOutlet]="emptyResultsTemplate"></ng-container>
    </ng-container>

    <ng-container *ngIf="emptyCircleResults && !loading && selectedTabValue === 'CIRCLES'">
      <ng-container [ngTemplateOutlet]="emptyResultsTemplate"></ng-container>
    </ng-container>

    <ng-container *ngIf="emptyUserResults && !loading && selectedTabValue === 'USERS'">
      <ng-container [ngTemplateOutlet]="emptyResultsTemplate"></ng-container>
    </ng-container>

    <ng-container *ngIf="emptyPostResults && !loading && selectedTabValue === 'POSTS'">
      <ng-container [ngTemplateOutlet]="emptyResultsTemplate"></ng-container>
    </ng-container>

    <ng-container *ngIf="loading">
      <div class="empty-template-container">
        <div class="loading-container">
          <img width="25" src="assets/icons/loading.gif" />
        </div>
      </div>
    </ng-container>

    <ng-scrollbar *ngIf="!emptyResults && !loading">
      <div class="dropdown">
        <ng-container *ngIf="selectedTabValue === 'APPS' || selectedTabValue === 'ALL'">
          <ng-container *ngTemplateOutlet="appList"></ng-container>
        </ng-container>

        <div *ngIf="!emptyPostResults && selectedTabValue === 'ALL'" class="label mb-1">post results</div>
        <ng-container *ngIf="selectedTabValue === 'POSTS' || selectedTabValue === 'ALL'">
          <ng-container *ngTemplateOutlet="postList"></ng-container>
        </ng-container>

        <div *ngIf="!emptyCircleResults && selectedTabValue === 'ALL'" class="label">circle results</div>
        <ng-container *ngIf="selectedTabValue === 'CIRCLES' || selectedTabValue === 'ALL'">
          <ng-container *ngTemplateOutlet="circleList"></ng-container>
        </ng-container>

        <div *ngIf="!emptyUserResults && selectedTabValue === 'ALL'" class="label">user results</div>
        <ng-container *ngIf="selectedTabValue === 'USERS' || selectedTabValue === 'ALL'">
          <ng-container *ngTemplateOutlet="userList"></ng-container>
        </ng-container>
      </div>
    </ng-scrollbar>
  </div>
</div>

<ng-template #appList>
  <div class="apps-result-container">
    <div class="discover-banner">
      <div class="banner-title-section">
        <span class="banner-title">discover circle pods</span>
      </div>
      <span class="banner-description"
        >use pods to add cool features to your circle and make it the best home for circle members</span
      >
    </div>
    <div class="filter-section">
      <div class="filter-chip chip-active">moderation</div>
      <div class="filter-chip chip-active">social</div>
      <div class="filter-chip">tools</div>
    </div>
    <div *ngFor="let app of appSearchResults" class="app-result-item" (click)="onTapPod(app.node)">
      <div class="app-result-icon-container">
        <div class="app-result-icon">
          <picnic-icon name="robot" [size]="22" color="white"></picnic-icon>
        </div>
      </div>

      <div class="app-result-content">
        <div class="app-result-content-row">
          <div>
            <div class="app-result-name">{{ app.node.name }}</div>
            <div class="app-author">{{ app.node.owner!.name }}</div>
          </div>

          <!--          <div class="app-result-circles-count">{{ app.node.counters.circles | shorthand }} circles</div>-->
        </div>
        <span class="app-result-description">{{ app.node.description | truncate : 60 : false }}</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #circleList>
  <div *ngFor="let circle of circleSearchResults" class="dropdown-item">
    <div class="result-container">
      <div class="info-container" (click)="navigateToCircle(circle)">
        <span class="circle-image">
          <picnic-avatar
            [src]="circle.node.imageFile || circle.node.image || ''"
            [emojiMode]="!circle.node.imageFile"
            [showFollows]="false"
            emojiSize="24"
            [size]="24"
            bgColor="#f9f9f9"
          >
          </picnic-avatar>
        </span>
        <div class="data-container">
          <span class="result-label">
            {{ circle.node.name | lowercase | truncate : 20 : true }}
          </span>
          <span class="members-label"> {{ circle.node.membersCount }} members </span>
        </div>
      </div>
      <picnic-button
        (byClick)="handleCircleAction(circle)"
        [border]="circle.node.iJoined ? '2px solid #007BFF' : 'none'"
        [label]="circle.node.iJoined ? 'joined' : 'join'"
        [color]="circle.node.iJoined ? 'white' : '#007BFF'"
        [textColor]="circle.node.iJoined ? '#007BFF' : 'white'"
        *ngIf="!isGuestUser"
        padding="5px 18px"
      ></picnic-button>
    </div>
  </div>
</ng-template>

<ng-template #userList>
  <div *ngFor="let user of userSearchResults" class="dropdown-item">
    <div class="info-container reduce-gap" (click)="navigateToProfile(user)">
      <picnic-avatar [src]="user.node.profileImage" [showFollows]="false" [size]="32"></picnic-avatar>
      <div class="data-container">
        <span class="result-label">
          {{ user.node.username | formattedUsername | truncate : 20 : true }}
        </span>
        <!--        <span class="members-label"> {{ user.node.followers | shorthand }} followers </span>-->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #postList>
  <div [style.paddingBottom.px]="selectedTabValue === 'POSTS' ? 15 : 10" class="grid-container">
    <div (click)="navigateToPost(post)" *ngFor="let post of postsSearchResults" class="item">
      <div class="post-media" [ngStyle]="{ background: 'url(' + postMedia(post) + ')' }"></div>
      <ng-template [ngIf]="post.node.pollContent">
        <div class="post-poll-content">
          <div class="poll-image" [ngStyle]="{ background: 'url(' + leftPollImage(post) + ')' }"></div>
          <div class="poll-image" [ngStyle]="{ background: 'url(' + rightPollImage(post) + ')' }"></div>
        </div>
      </ng-template>
      <div *ngIf="!post.node.textContent" class="post-shadow"></div>
      <div class="post-filter"></div>

      <ng-container>
        <ng-template [ngIf]="post.node.textContent">
          <span class="post-text">{{ post.node.textContent.text | truncate : 80 : false }}</span>
        </ng-template>

        <ng-template [ngIf]="post.node.linkContent">
          <div class="post-link-content">
            <span class="post-link-title">
              {{ post.node.linkContent.linkMetaData?.title ?? '' | truncate : 30 : false }}
            </span>
            <span class="post-link-url">
              {{ post.node.linkContent.url }}
            </span>
          </div>
        </ng-template>

        <ng-template [ngIf]="post.node.videoContent">
          <picnic-icon class="post-video-icon" name="play" color="white" [size]="24"></picnic-icon>
        </ng-template>
        <div></div>
      </ng-container>

      <div class="post-bottom-section">
        <picnic-avatar [src]="post.node.author.profileImage" [size]="32" [showFollows]="false"></picnic-avatar>
        <div class="post-info-container">
          <span class="post-username-label">{{
            post.node.author.username | formattedUsername | truncate : 12 : false
          }}</span>
          <views-count
            [count]="post.node.viewsCount"
            color="white"
            [opacity]="0.7"
            [textSize]="10"
            [iconSize]="8"
          ></views-count>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #emptyResultsTemplate>
  <div class="empty-template-container">
    <span class="empty-icon">🔍</span>
    <span class="empty-label">no {{ currentEmptyLabel }} found</span>
  </div>
</ng-template>
