.post-container {
  position: relative;
  width: 280px;
  height: 280px;
  cursor: pointer;
}

.post {
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: linear-gradient(259.77deg, #86c8f5 -3.62%, #6aaaf5 43.19%, #97a9f5 103.12%);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-all;
}

.post-container:hover > .post-filter {
  opacity: 0.1;
}

.post-filter {
  width: 91%;
  height: 100%;
  left: 0;
  right: 0;
  background: var(--bg-color);
  border-radius: 24px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.15s ease-in;
}

.poll-preview-container {
  width: 92%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
  gap: 2.5px;
  background-color: var(--bg-color);
}

.poll-image {
  width: 100%;
  height: 100%;
}

.post__author {
  z-index: 1;
}

.post__text {
  color: var(--text-color);
}

.post__author__username {
  color: #ffffff;
  font-weight: 500;
  //font-size: 14pt;
  line-height: 21px;
}

.post__views {
  font-weight: 400;
  //font-size: 12pt;
  line-height: 18px;
  color: #fff;
}

.post__author__avatar__img {
  width: 32px;
  height: 32px;
}

.text-caption {
  color: white;
  max-width: 280px;
  height: 100%;
  max-height: 200px;
  word-break: break-all;
  margin: 0;
}
