<div class="container">
  <div class="row justify-content-center">
    <div (click)="goToPreview(post)" *ngFor="let post of posts" class="post-container mt-2">
      <ng-template [ngIf]="post.node.pollContent">
        <div class="poll-preview-container">
          <div class="poll-image" [ngStyle]="{ background: 'url(' + getLeftPollImage(post) + ')' }"></div>
          <div class="poll-image" [ngStyle]="{ background: 'url(' + getRightPollImage(post) + ')' }"></div>
        </div>
      </ng-template>
      <div class="post-filter"></div>

      <div class="col-4 post" [style]="getImage(post) ? 'background: url(' + getImage(post) + ')' : ''">
        <div class="row post__text m-3">
          <div class="col">
            <ng-template [ngIf]="post.node.textContent">
              <p class="text-caption">{{ post.node.textContent.text | truncate : 200 : false }}</p>
            </ng-template>
            <ng-template [ngIf]="post.node.linkContent">
              <div class="row">
                {{ post.node.linkContent.linkMetaData?.title }}
              </div>
              <div class="row">
                {{ post.node.linkContent.url }}
              </div>
            </ng-template>
          </div>
        </div>
        <div class="row post__author m-2">
          <div class="col">
            <div class="row">
              <div class="col-2 post__author__avatar">
                <picnic-avatar [src]="post.node.author.profileImage" [size]="32" [showFollows]="false"></picnic-avatar>
              </div>
              <div class="col ms-2">
                <div class="row post__author__username">@{{ post.node.author.username }}</div>
                <div class="row post__views">👀 {{ post.node.viewsCount | shorthand }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
