<div class="page-container">
  <div class="header">
    <badge-text text="seeds ownership" [textSize]="18" [textWeight]="500"></badge-text>
  </div>

  <div class="list-container" infinite-scroll (scrolled)="loadMoreItems()">
    <div class="top-section">
      <span class="holders-label">seed holders</span>
    </div>
    <seeds-counter
      class="my-3"
      preffix="seed found"
      preffixColor="#3B3B3F"
      [suffix]="'🌰 ' + sumSeeds"
      suffixColor="#000"
    ></seeds-counter>

    <list-item
      *ngFor="let item of seeds"
      class="item"
      [title]="item.node.owner!.username | formattedUsername"
      [image]="item.node.owner!.profileImage"
      [imageSize]="42"
      (click)="goToProfile(item.node.owner!)"
    >
      <span class="seeds-count-label" suffix>{{ item.node.amountTotal }}</span>
    </list-item>
  </div>
</div>
