.page-container {
  height: 100%;
  width: 100%;
  padding: 0 0 0x 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 26px;
  margin-top: 16px;
  height: 100%;
  width: 100%;
  max-width: 945px;
  margin: auto;
  overflow: auto;
  margin-top: 23px;
  padding-bottom: 130px;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 18px 32px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 10px 32px 0 25px;
  }

  .list-container {
    padding-bottom: 30px;
  }
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ban-label {
  font-size: 18pt;
  font-weight: 500;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item {
  transition: 0.2s background-color ease-in-out;
  padding: 10px 4px;
  border-radius: 14px;
}

.item:hover {
  background-color: var(--bg-secondary-color);
}

.seeds-count-label {
  font-weight: 500;
  color: #007bff;
}

.holders-label {
  font-size: 18pt;
  font-weight: 500;
}
