<div class="page-container">
  <div class="header">
    <badge-text text="privacy & discoverability" [textSize]="18" [textWeight]="500"></badge-text>
  </div>

  <div class="list-container">
    <div class="top-section">
      <span class="holders-label">content</span>
    </div>
  </div>
</div>
