<button
  [disabled]="disabled"
  [ngClass]="disabled ? 'disabled' : ''"
  (click)="handleClick()"
  [ngStyle]="getStyle"
  [id]="btnId"
  class="picnic-text-button"
>
  <ng-content select="[icon]"></ng-content>
  <span [ngStyle]="{ 'font-size': labelSize + 'px', 'font-weight': labelWeight }" [style.fontSize]="labelSize + 'px'">{{
    label
  }}</span>
</button>
