.picnic-text-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
  align-items: center;
  padding: 8px;
  gap: 6px;
  background: linear-gradient(#0000, rgb(0 0 0/6%)) top/100% 800%;
  border-radius: 1000px;
  border: none;
  color: var(--text-color);
  transition: background-position 0.2s, color 0.2s;
}

.picnic-text-button:hover {
  background-position: bottom;
}

.disabled {
  pointer-events: none;
}
