<div class="apps-list">
  <div *ngFor="let a of apps" class="app-item">
    <img class="app-image" [src]="a.imageUrl" width="50px" height="50px" />
    <div class="app-content">
      <span class="app-name">{{ a.name }}</span>
      <span class="app-description">{{ a.description }}</span>
    </div>
  </div>
</div>
<div *ngIf="hasNextPage">
  <picnic-button label="next" (byClick)="loadMoreItems()"></picnic-button>
</div>
