.line-separator {
  margin: 0;
  padding: 0;
  height: 10px;
  min-height: 10px;
  width: 100%;
  background: var(--bg-secondary-color);
}

.chat__feed__container {
  background: var(--bg-color);
  border-radius: 10px;
  padding: 10px;
}

.chat__feed__header {
  font-size: 10pt;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.chat__feed__content {
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.circle-name {
  padding: 1px 0 0 3px;
  font-weight: 600;
  font-size: 12pt;
  line-height: 12px;
  width: 100%;
  cursor: pointer;
}

.circle-members {
  font-size: 9pt;
  font-weight: 300;
  color: #808080;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 3px;
  padding-top: 2px;
  margin-left: 3px;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding-bottom: 220px;
}

.content-container::-webkit-scrollbar {
  display: none;
  width: 0;
}

@media only screen and (max-width: 768px) {
  .content-container {
    padding-bottom: 130px;
  }
}
