<div class="line-separator"></div>

<div class="content-container" infinite-scroll (scrolled)="loadMoreItems()" [scrollWindow]="false">
  <ng-container *ngFor="let item of chatFeed">
    <div class="chat__feed__container" (click)="onOpenChatFeed(item.node)">
      <div class="col px-0">
        <div class="chat__feed__header">
          <div class="d-flex me-1">
            <picnic-avatar
              [src]="(item.node.circle?.imageFile ? item.node.circle?.imageFile : item.node.circle?.image) ?? ''"
              [emojiMode]="!item.node.circle?.imageFile"
              [size]="35"
              [emojiSize]="item.node.circle?.imageFile ? '20' : '30'"
              [showFollows]="false"
            ></picnic-avatar>
          </div>
          <div class="d-flex flex-column">
            <div class="col circle-name">
              {{ item.node.name | truncate : 14 : false }}
            </div>
            <div class="col circle-members">
              <picnic-icon name="people-chat" color="#808080" [size]="14"></picnic-icon>
              {{ item.node.participantsCount | shorthand }}
            </div>
          </div>
        </div>
        <div class="chat__feed__content">
          <chat-message class="mt-2" *ngFor="let m of item.node.messages" [message]="m"></chat-message>
        </div>
      </div>
    </div>
    <div class="line-separator"></div>
  </ng-container>
</div>
