<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light mb-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://picnic.zone/" translate>APP_NAME</a>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Debug Mode</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem style="color: #ff6534">[tech design]</button>
          <button ngbDropdownItem routerLink="/debug" routerLinkActive="active">Debug preferencies</button>
          <button ngbDropdownItem routerLink="/home" routerLinkActive="active">
            <span translate>home</span>
          </button>
          <button ngbDropdownItem routerLink="/profile" routerLinkActive="active">
            <span translate>profile</span>
          </button>
          <button ngbDropdownItem routerLink="/feed" routerLinkActive="active">
            <span translate>feed</span>
          </button>
          <button ngbDropdownItem routerLink="/circle" routerLinkActive="active">
            <span translate>circle</span>
          </button>
          <button ngbDropdownItem routerLink="/dm" routerLinkActive="active">
            <span translate>dm</span>
          </button>
          <button ngbDropdownItem routerLink="/notifications" routerLinkActive="active">
            <span translate>notifications</span>
          </button>
        </div>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbar-menu"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
        [attr.aria-expanded]="!menuHidden"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-item nav-link text-lowercase" routerLink="/home" routerLinkActive="active">
            <i class="fas fa-home"></i>
            <span translate>home</span>
          </a>
          <a class="nav-item nav-link text-lowercase" routerLink="/profile" routerLinkActive="active">
            <i class="fa fa-user"></i>
            <span translate>profile</span>
          </a>
          <a class="nav-item nav-link text-lowercase" routerLink="/feed" routerLinkActive="active">
            <i class="fa fa-user"></i>
            <span translate>feed</span>
          </a>
          <a class="nav-item nav-link text-lowercase" routerLink="/circle" routerLinkActive="active">
            <i class="fa fa-user"></i>
            <span translate>circle</span>
          </a>
          <a class="nav-item nav-link text-lowercase" routerLink="/dm" routerLinkActive="active">
            <i class="fa fa-user"></i>
            <span translate>dms</span>
          </a>
          <a class="nav-item nav-link text-lowercase" routerLink="/notifications" routerLinkActive="active">
            <i class="fa fa-user"></i>
            <span translate>notifications</span>
          </a>
        </div>
        <div class="navbar-nav ml-auto">
          <!--          <app-language-selector [inNavbar]="true"></app-language-selector>-->
          <!--          <div class="nav-item" ngbDropdown display="dynamic">-->
          <!--            <a id="user-dropdown" class="nav-link" ngbDropdownToggle>-->
          <!--              <i class="fas fa-user-circle"></i>-->
          <!--            </a>-->
          <!--            <div ngbDropdownMenu aria-labelledby="user-dropdown">-->
          <!--              <h6 class="dropdown-header">-->
          <!--                <span translate>Logged in as</span> <b>{{ username }}</b>-->
          <!--              </h6>-->
          <!--              <div class="dropdown-divider"></div>-->
          <!--              <button class="dropdown-item" (click)="logout()" translate>Logout</button>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>
    </div>
  </nav>
</header>
