.text-background {
  height: 70vh;
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 12px;
  object-position: center;
  background-color: var(--bg-secondary-color);
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .text-background {
    max-height: 350px;
    border-radius: 0;
    background-color: var(--bg-color) white;
  }
}
