<div class="page-container">
  <div class="header">
    <badge-text [badgeCount]="circle?.reportsCount" text="reports" [textSize]="18" [textWeight]="500"></badge-text>

    <page-header [showBackButton]="false">
      <picnic-icon-button
        name="search"
        padding="0 0 3px 0"
        [size]="48"
        iconColor="var(--text-secondary-color)"
        icons
      ></picnic-icon-button>
      <picnic-icon-button name="filter" iconColor="var(--text-secondary-color)" icons></picnic-icon-button>
    </page-header>
  </div>

  <div class="list-container">
    <!--    <list-item-->
    <!--      *ngFor="let item of reports"-->
    <!--      class="item"-->
    <!--      image="🐶"-->
    <!--      [emojiMode]="true"-->
    <!--      [emojiSize]="22"-->
    <!--      imageBg="#D0FAC2"-->
    <!--      [routerLink]="'/preview/' + item.node.anyId"-->
    <!--    >-->
    <!--      <ng-template>-->
    <!--        <div class="item-content">-->
    <!--          <span class="title-label">{{ circle?.name }}</span>-->
    <!--          <div class="subtitle-label">-->
    <!--            <span>{{ item.node.reporter.username | formattedUsername }} reported</span>-->
    <!--            <span class="type-label">post</span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </ng-template>-->

    <!--      <picnic-icon-button-->
    <!--        name="info-circle-outline"-->
    <!--        padding="4px"-->
    <!--        bgColor="transparent"-->
    <!--        [iconSize]="25"-->
    <!--        [rounded]="true"-->
    <!--        suffix-->
    <!--      ></picnic-icon-button>-->
    <!--    </list-item>-->

    <div class="post-list">
      <!--      <div class="navbar">-->
      <!--        <page-navbar-item label="posts" iconName="image-duotone" path="./posts" routerLinkActive="active">-->
      <!--        </page-navbar-item>-->

      <!--        <page-navbar-item label="comments" iconName="document-duotone" path="./comments" routerLinkActive="active">-->
      <!--        </page-navbar-item>-->

      <!--        <page-navbar-item label="chats" iconName="chat-duotone" path="./chats" routerLinkActive="active">-->
      <!--        </page-navbar-item>-->

      <!--        <page-navbar-item label="users" iconName="people-duotone" path="./users" routerLinkActive="active">-->
      <!--        </page-navbar-item>-->
      <!--      </div>-->

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
