.page-container {
  height: 100%;
  width: 100%;
  padding: 0 0 0x 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 26px;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-bottom: 130px;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.item {
  transition: 0.2s background-color ease-in-out;
  padding: 6px 2px;
  border-radius: 14px;
}

.item:hover {
  background-color: var(--bg-secondary-color);
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  //font-size: 14pt;
  line-height: 18px;
  font-weight: 400;
}

.title-label {
  color: rgb(130, 130, 130);
}

.subtitle-label {
  font-weight: 400;
}

.header {
  padding: 18px 32px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0px 32px 0 26px;
  }

  .list-container {
    padding-bottom: 30px;
  }
}

.report-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  width: 100%;
  margin-top: 30px;
}

.post-container {
  width: 100%;
  margin: auto;
}

.post-list {
  margin: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.post-top-section {
  padding: 36px 40px;
  padding-left: 20px;
  padding-top: 12px;
  width: 100%;
}

.divider {
  border-top: 1px solid var(--stroke-color);
  width: 100%;
}

.post-list-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 20px 20px;
  border-bottom: 1px solid #e9e9e9;
}

.checkbox {
  transform: scale(1.2);
  cursor: pointer;
}

.post-row-container {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
}

.sort-dropdown {
  display: inline-flex;
  width: 140px;
}

.post-border {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e9e9e9;
  border-radius: 25px;
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(-10px);
  gap: 20px;
}
