<picnic-modal></picnic-modal>

<div class="page-container">
  <div class="header">
    <picnic-icon-button
      bgColor=" var(--bg-secondary-color)"
      iconColor="var(--text-secondary-color)"
      (byClick)="goBack()"
      name="arrow-left"
    ></picnic-icon-button>

    <span class="header-title">circle pods</span>
  </div>

  <div class="banner">
    <div class="banner-title-section">
      <span class="banner-title">circle pods</span>
      <span class="banner-button">new feature</span>
    </div>
    <span class="banner-description"
      >circle pods are added by circle owners to add cool new features and tools for circle members to use. check them
      out!</span
    >
  </div>

  <div class="grid-container">
    <div *ngFor="let circleApp of circleApps" class="grid-item" (click)="onTapPod(circleApp.app)">
      <div class="grid-image">
        <img-with-fallback>
          <img imgWithFallback [src]="circleApp.app.imageUrl" class="grid-img" />
          <picnic-icon name="robot" [size]="22" color="white" class="error"></picnic-icon>
        </img-with-fallback>
      </div>
      <div class="grid-item-content">
        <div class="item-title">{{ circleApp.app.name }}</div>
        <span class="item-author">{{ circleApp.app.owner?.name ?? '' }}</span>
      </div>
    </div>
  </div>
</div>
