.page-container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  padding: 20px 20px 140px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.header {
  position: relative;
}

.header-title {
  font-size: 13pt;
  color: #1d77ff;
  padding: 8px 18px;
  background: rgba(29, 119, 255, 0.1);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  margin-top: 25px;
  width: 100%;
  background: rgba(43, 63, 108, 0.05);
  border-radius: 16px;
  background: var(--bg-secondary-color);
}

.banner-title-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.banner-title {
  font-weight: 600;
  //font-size: 12pt;
  color: var(--text-color);
}

.banner-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px 8px;
  gap: 10px;
  color: white;
  font-weight: 600;
  font-size: 10pt;
  background: linear-gradient(259.77deg, #be86f5 -3.62%, #a76af5 43.19%, #a497f5 103.12%);
  border-radius: 100px;
}

.banner-description {
  font-weight: 300;
  font-size: 10pt;
  color: #808080;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 12px;
  margin-top: 20px;
}

.grid-item {
  text-align: center;
  font-size: 30px;
  width: 100%;
  height: 150px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.grid-item:hover > .grid-image {
  filter: brightness(0.88);
}

.grid-image {
  width: 100%;
  height: 105px;
  border-radius: 16px;
  background: var(--bg-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.2s ease-in-out;
  overflow: hidden;
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item-content {
  display: flex;
  flex-direction: column;
}

.item-title {
  font-weight: 400;
  font-size: 10pt;
  color: var(--text-color);
  text-align: left;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-author {
  font-weight: 400;
  font-size: 10pt;
  font-style: italic;
  color: var(--subtitle-color);
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
