.message-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 100px;
}

.section-divider {
  width: 100%;
  height: 8px;
  background: var(--bg-secondary-color);
  margin-top: 5px;
}

.message-padding {
  padding: 0 16px;
}

.v-gap {
  gap: 4px;
}

.sort-container {
  margin-left: 25px;
  width: 170px;
}

.reply-container {
  width: calc(100% - 40px);
  height: 80px;
  background-color: var(--bg-secondary-color);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  padding: 6px 20px;
  //font-size: 14pt;
  margin: 10px auto -10px;
}

.reply-username {
  display: flex;
  align-items: center;
  gap: 5px;
}

.reply-text {
  color: rgb(110, 110, 110);
}

.more-button {
  padding-left: 20px;
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.loading-indicator {
  width: 30px;
  height: 30px;
}

.loading-message-list {
  padding-bottom: 55px;
}

@media only screen and (max-width: 768px) {
  .message-list {
    padding-bottom: 20px;
  }
}
