<div class="message-list" [class.loading-message-list]="loading">
  <comment-input
    [loadingComment]="loadingCommentCreation"
    class="mt-3 message-padding"
    (byCommentCreated)="createComment($event)"
  ></comment-input>
  <div *ngIf="!emptyComments" class="section-divider"></div>
  <div *ngIf="showCommentSorting" class="sort-container">
    <simple-dropdown
      inputBgColor="transparent"
      [items]="sortItems"
      [initialValue]="sortSelected"
      textSize="14px"
      inputHeight="35px"
      [showOpen]="true"
      inputPadding="0 0 0 10px"
    ></simple-dropdown>
  </div>

  <div (scroll)="loadMoreItems()" *ngFor="let comment of comments" class="message-padding">
    <post-comment
      [commentMode]="postCommentMode"
      [comment]="comment"
      (byReply)="replyToComment = $event"
      (byCommentCreated)="createComment($event)"
    ></post-comment>
  </div>
</div>

<div *ngIf="loading" class="loading-container">
  <img class="loading-indicator" src="assets/icons/loading.gif" />
</div>

<br />
