.modal-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  max-width: 500px;
  max-height: 450px;
  margin: 0 auto;
  background-color: var(--bg-color);
  border-radius: 12px;
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 24px;
  padding-bottom: 0px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 18pt;
  color: var(--text-color);
}

.form-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.bottom-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 24px;
}

.created-modal-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
  background-color: var(--bg-color);
  border-radius: 12px;
  padding: 24px;
}

.created-modal-container > .bottom-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 24px;
  padding-right: 15px;
  padding-bottom: 0px;
}

.content-section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.success-creation-message {
  font-size: 15px;
  font-weight: 400;
  color: var(--subtitle-color);
}
