<modal-wrapper [isOpen]="isOpen" (click)="onCloseOutside($event)">
  <div click.stop content [class]="!reportSent ? 'modal-container' : 'created-modal-container'">
    <ng-container *ngIf="!reportSent">
      <div class="scrollable-container">
        <div class="top-section">
          <span class="modal-title">report</span>
          <picnic-icon-button
            (byClick)="close()"
            name="close"
            padding="2px"
            bgColor="transparent"
            [rounded]="true"
            iconColor="var(--text-secondary-color)"
            [iconSize]="22"
          ></picnic-icon-button>
        </div>
        <div class="form-section" [formGroup]="form" *ngIf="form">
          <simple-dropdown
            [items]="reasonOptions"
            [initialValue]="reasonSelected"
            hint="pick a group"
            textSize="14px"
            inputHeight="52px"
            [maxHeight]="180"
            [showOpen]="true"
            [lightHintColor]="true"
            inputBorder="none"
            (bySelect)="onTapSelectReason($event)"
          ></simple-dropdown>
          <text-input
            formControlName="comment"
            [textArea]="true"
            hint="express your report here"
            [textAreaRows]="6"
            border="none"
          ></text-input>
        </div>
      </div>
      <div class="bottom-section">
        <picnic-button
          (byClick)="close()"
          label="cancel"
          textSize="14px"
          border="1px solid rgba(43, 63, 108, 0.2)"
          color="transparent"
          textColor="var(--text-color)"
          width="90px"
          height="38px"
        ></picnic-button>
        <picnic-button
          *ngIf="!loading"
          (byClick)="onTapReport()"
          label="report"
          textSize="14px"
          width="90px"
          height="38px"
        ></picnic-button>
        <img *ngIf="loading" width="30px" height="30px" src="assets/icons/loading.gif" />
      </div>
    </ng-container>

    <ng-container *ngIf="reportSent">
      <div class="top-section">
        <span class="modal-title">thank you!</span>
        <picnic-icon-button
          (byClick)="close()"
          name="close"
          padding="2px"
          bgColor="transparent"
          [rounded]="true"
          iconColor="var(--text-secondary-color)"
          [iconSize]="22"
        ></picnic-icon-button>
      </div>
      <div class="content-section">
        <span class="success-creation-message"
          >you have successfully submitted your report, our agents will take action as soon as possible.
        </span>
      </div>

      <div class="bottom-section">
        <picnic-button (byClick)="close()" label="awesome" textSize="14px" width="125px" height="38px"></picnic-button>
      </div>
    </ng-container>
  </div>
</modal-wrapper>
