<! --TODO: add a rich text editor once mobile and web can display rich text-->
<div class="row">
  <div class="col-12">
    <text-input [(ngModel)]="text" hint="what's on your mind? 🤔" [textArea]="true" [textAreaRows]="8"></text-input>
  </div>
</div>
<br />
<div class="content-container">
  <picnic-button [disabled]="!enablePost" label="post" padding="8px 25px" (byClick)="createPost()">
    <picnic-icon name="plane-outline" [size]="20" icon></picnic-icon>
  </picnic-button>
</div>
