/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "bootstrap/scss/bootstrap";
@import "theme/fonts.scss";

// Theme customization
@import "theme/theme";

@import "@ctrl/ngx-emoji-mart/picker";
/* latin-ext */
@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/figtree/v4/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_d_QG5XyEAk4A.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/figtree/v4/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_d_QG5ZyEA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  font-family: "Figtree", sans-serif !important;
}
a {
  font-weight: 400;
  font-size: 16pt;
  line-height: 24px;
  color: #0065d1;
  text-decoration: none;
}

body {
  overscroll-behavior: none;
  height: 100vh;
  min-height: 100vh;
}

// Responsive design: rough initial block
@media only screen and (max-width: 600px) {
  /* Styles for mobile devices */
  /* Reset default styles */
  body {
  }
  /* Set the font size and line height */
  body,
  p,
  a {
  }
  /* Set the width and height of the images */
  img {
  }
  /* Adjust the layout of the header */
  header {
  }
  /* Adjust the layout of the navigation */
  nav {
  }
  /* Add a menu icon */
  .menu-icon {
  }
  /* Show the navigation when the menu icon is clicked */
  .menu-icon:checked ~ nav {
  }
  /* Adjust the layout of the main content */
  main {
  }
  /* Adjust the layout of the footer */
  footer {
  }
}

body::-webkit-scrollbar {
  background-color: var(--text-color);
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: var(--text-color);
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

.tooltip-container {
  position: absolute;
  background-color: #007bff;
  color: var(--text-color);
  border-radius: 10px;
  font-size: 10pt;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
}

.tooltip-animate {
  opacity: 0;
  position: absolute;
  padding: 0;
  transition: opacity 80ms ease-in-out, padding 50ms ease-in-out;
}

.tooltip-show.tooltip-animate {
  opacity: 1;
  padding: 5px 12px;
}

.emoji-mart-scroll {
  height: 200px;
}

.emoji-mart-category-label span {
  background: var(--bg-color);
  //font-size: 14pt;
  font-weight: 400;
}

.emoji-mart-category .emoji-mart-emoji span {
  cursor: pointer;
}

$theme-colors: (
  light: (
    bg: #fff,
    text: #000,
    bg-secondary: #f8f9fa,
    stroke: #e9e9e9,
    input: #f9f9f9,
    text-secondary: #2b3f6c,
    link-bg: rgba(0, 0, 0, 0.07),
    link-secondary: #39487c,
    subtitle: #808080,
    caption: #333333,
    accent: #cce4ff,
    bg-me-message: #007bff,
    text-me-message: #fff,
    bg-message: #eff1f6,
    text-message: #4b5466,
  ),
  dark: (
    bg: #131820,
    text: #fff,
    bg-secondary: #1d222d,
    stroke: #323842,
    input: #2a2f36,
    text-secondary: #f3f3f4,
    link-bg: rgba(255, 255, 255, 0.1),
    link-secondary: #ffffff,
    subtitle: #b3b3b3,
    caption: #f9f9f9,
    accent: #4b5466,
    bg-me-message: #007bff,
    text-me-message: #fff,
    bg-message: #1d222d,
    text-message: #dedede,
  ),
);

[data-theme="light"] {
  .dark-mode {
    display: none;
  }
  .light-mode {
    display: block;
  }
  picni-logo {
    img {
      padding: 4px;
    }
  }
  @each $name, $color in map-get($theme-colors, light) {
    --#{$name}-color: #{$color};
  }
}

[data-theme="dark"] {
  .dark-mode {
    display: block;
  }
  .light-mode {
    display: none;
  }
  picnic-logo {
    background: #fff;
    border-radius: 50%;
    img {
      padding: 4px;
    }
  }
  @each $name, $color in map-get($theme-colors, dark) {
    --#{$name}-color: #{$color};
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.grecaptcha-badge {
  visibility: hidden;
}
