.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 39, 64, 0.6);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.modal-show {
  display: flex;
}

.content {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-height: 80%;
  max-width: 500px;
  margin-left: 35px;
  margin-right: 35px;
  overflow-y: auto;
  padding: 25px;
}

.title-label {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.description-label {
  font-weight: 400;
  //font-size: 14pt;
  text-align: center;
  color: #808080;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 16px;
}
