.apps-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.app-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
}

.app-image {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  object-fit: cover;
}

.app-content {
  display: flex;
  flex-direction: column;
}

.app-name {
  font-size: 11pt;
  font-weight: 600;
  color: var(--text-color);
}

.app-description {
  font-size: 10.5pt;
  font-weight: 500;
  color: var(--text-color);
}
