<in-app-notification
  routerLink="/notifications"
  routerLinkActive="active"
  [ngStyle]="{ cursor: 'pointer' }"
></in-app-notification>

<chat-sidebar></chat-sidebar>

<div class="feed-sidebar" [style.width.px]="isVisbleFeedSidebar ? 300 : 0">
  <feed-sidebar></feed-sidebar>
</div>

<div class="main-wrapper" (touchstart)="onTouchStartFeed()">
  <div class="top-section">
    <picnic-banner (byClose)="onBannerClose()" *ngIf="!this.bannerClosed"></picnic-banner>
    <tab-navbar class="tab-navbar" title="picnic"></tab-navbar>
  </div>

  <div class="content-section container-lg px-0" [style.margin-left.px]="isVisbleFeedSidebar ? 300 : 0">
    <div class="left-sidebar-container col-4 col-md-3" *ngIf="isShowingSidebar">
      <left-sidebar></left-sidebar>
    </div>
    <div class="content-wrapper col">
      <router-outlet></router-outlet>
    </div>
  </div>
  <bottom-bar class="bottom-bar" [style.margin-left.px]="isVisbleFeedSidebar ? 300 : 0"></bottom-bar>
</div>

<div class="floating-bubble-chats" [style.right.px]="isVisbleFeedSidebar ? -300 : 20">
  <bubble-chats></bubble-chats>
</div>

<div class="floating-modal-chats" [style.right.px]="isVisbleFeedSidebar ? -300 : 20">
  <modal-chats></modal-chats>
</div>
