.main-wrapper {
  width: 100%;
  height: calc(100% - 68px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.feed-sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bg-secondary-color);
  overflow-x: hidden;
  transition: width 0.3s;
}

.content-wrapper {
  width: 100%;
  height: 100%;
}

.top-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.left-sidebar-container {
  height: 100%;
  background: var(--bg-color);
}

.floating-bubble-chats {
  position: fixed;
  bottom: 80px;
  z-index: 999;
  transition: right 0.3s;
}

.floating-modal-chats {
  position: fixed;
  bottom: 0;
  right: 110px;
  z-index: 999;
  transition: 0.3s;
}

.bottom-bar {
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .left-sidebar-container {
    display: none;
  }

  .tab-navbar {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .bottom-bar {
    display: none;
  }

  .main-wrapper {
    height: 100%;
  }

  .floating-bubble-chats {
    bottom: 24px;
    right: 32px;
  }
}
