<nav class="breadcrumb">
  <ng-container *ngFor="let item of items; let last = last">
    <a
      [ngClass]="{ 'no-pointer': !item.selectable }"
      class="breadcrumb-item"
      *ngIf="!last; else lastTemplate"
      [routerLink]="item.selectable ? item.path : null"
    >
      {{ item.label }}
    </a>

    <ng-template #lastTemplate>
      <span class="breadcrumb-item last no-pointer">{{ item.label }}</span>
    </ng-template>
    <picnic-icon *ngIf="!last" name="breadcrumb-icon" [size]="20" class="separator"></picnic-icon>
  </ng-container>
</nav>
