.breadcrumb {
  display: inline-flex;
  align-items: center;
  padding: 10px 18px;
  border-radius: 100px;
  background-color: #f9f9f9;
}

.separator {
  margin: 0 10px 2px 10px;
}
.breadcrumb-item {
  font-weight: 400;
  //font-size: 14pt;
  color: #333333;
  transition: 0.2s ease;

  &:hover {
    color: var(--text-color);
    text-decoration: underline;
  }
}

.last {
  color: var(--subtitle-color);
}

.no-pointer {
  pointer-events: none;
}
