<div class="page-content-layout" #feedContainer>
  <div class="content-row">
    <div class="content-column justify-content-center col-xs-12 col-md-12 col-lg-12" #feedScroll>
      <div class="main-content col-8">
        <div *ngIf="!isForYouPage" class="circle-info-container is-desktop">
          <div class="circle-sorting">
            <picnic-button
              *ngFor="let sortingOption of postSortingOptions"
              (byClick)="onTapSelectSorting(sortingOption)"
              [label]="valueToDisplay(sortingOption)"
              [backgroundTransition]="false"
              [textWeight]="postSorting === sortingOption ? 600 : 400"
              [textColor]="postSorting === sortingOption ? 'var(--link-secondary-color)' : '#858585'"
              [color]="postSorting === sortingOption ? 'var(--bg-secondary-color)' : 'transparent'"
              padding="8px 12px"
            >
            </picnic-button>
          </div>
        </div>
        <div class="post-list">
          <post-wrapper *ngFor="let post of posts" [post]="post" [showComments]="false"></post-wrapper>
          <div #anchor></div>
          <br />
          <br />
        </div>

        <div *ngIf="emptyPostsCheck && !loading" class="empty-template-container">
          <span class="empty-icon">🙂</span>
          <span class="empty-label">no posts found</span>
        </div>
        <div class="d-flex justify-content-center align-items-center" *ngIf="!loading && hasNextPage">
          <div class="empty-template-container">
            <span class="empty-icon">🍉</span>
            <span class="empty-label">loading</span>
          </div>
        </div>
      </div>
      <div *ngIf="!isForYouPage && circle" class="right-sidebar-container sticky-top is-desktop col-4">
        <right-sidebar
          [showCircleSummary]="true"
          [circle]="circle"
          [showElections]="false"
          [showRules]="false"
        ></right-sidebar>
      </div>
    </div>
  </div>
  <ng-container *ngIf="loading">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="empty-template-container">
        <span class="empty-icon">🍉</span>
        <span class="empty-label">loading</span>
      </div>
    </div>
  </ng-container>
</div>
