.page-content-layout {
  height: calc(100% - 81px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-width: 100%;
  overflow-x: hidden;
}

.page-content-layout::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.see-more-button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.empty-template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 50px;
  gap: 4px;
}

.empty-icon {
  width: 100px;
  height: 100px;
  font-size: 50px;
  background-color: var(--bg-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-label {
  font-size: 20pt;
  color: var(--text-color);
}

.circle-image-header {
  width: 100%;
  height: 220px;
  min-height: 200px;
  max-height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-row {
  width: 100%;
  height: 100%;
}

.content-column {
  display: flex;
  flex-direction: row;
  position: relative;
}

.circle-info-container {
  width: 100%;
  border-left: 1px solid var(--stroke-color);
  border-right: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
  background-color: var(--bg-color);
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.circle-name {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
  padding: 0 16px;
}

.circle-sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.right-sidebar-container {
  display: flex;
  flex-direction: column;
  // width: 100%;
  // max-width: 250px;
  right: 0;
  min-height: 420px;
  height: 100%;
  z-index: 998;
  background-color: var(--bg-color);
  // box-shadow: -1px 0px 0px var(--stroke-color);
}

// .main-content {
//   width: calc(100% - 250px);
// }

.page-layout {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
}

.circle-image-header {
  width: 100%;
  height: 178px;
  min-height: 178px;
  max-height: 178px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-list {
  display: flex;
  flex-direction: column;
}

.floating-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -45px;
  left: 0;
}

.floating-row-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.floating-avatar-container {
  display: flex;
  justify-content: center;
}

.floating-separator {
  width: 48px;
}

@media only screen and (max-width: 1024px) {
  .see-more-button {
    display: flex;
    justify-content: center;
    margin-top: 36px;
  }

  .is-desktop {
    display: none;
  }

  .main-content {
    width: calc(100%);
  }
}
