.page-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 22px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 26px;
  margin-top: 16px;
  height: 100%;
  width: 100%;
  max-width: 945px;
  margin: auto;
  overflow: auto;
  margin-top: 40px;
  padding-bottom: 130px;
  gap: 25px;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.avatar {
  align-self: center;
}

.edit-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.button {
  align-self: flex-end;
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-avatar {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.loading-avatar > img {
  width: 100%;
  height: 100%;
}

.change-avatar-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.emoji-section {
  position: relative;
  overflow: visible;
}

.change-avatar-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.emoji-picker {
  background: #f9f9f9;
  border-radius: 16px;
  overflow: hidden;
  position: absolute;
  left: -155px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
}

.loading-button {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.emoji-picker-container {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .list-container {
    padding-bottom: 30px;
  }
}
