<div class="page-container">
  <page-header title="notifications"></page-header>

  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="mt-3 col-lg-12 col-md-8 col-xs-8">
      <notification-list-item
        (byClickAvatar)="onTapProfile(item.node.fromInfo.id)"
        (byClickFollow)="onTapToggleFollow(item)"
        *ngFor="let item of notifications"
        [notification]="item.node"
      ></notification-list-item>
    </div>
    <div class="col-md-2 col-xs-2"></div>
    <loading-spinner [loading]="loading" class="mt-3"></loading-spinner>
    <br />
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 d-flex justify-content-center">
        <picnic-button *ngIf="hasNext" label="more" (byClick)="loadMore()"></picnic-button>
      </div>
    </div>

    <br />
  </div>
</div>
