<div class="page-container">
  <page-header title="followers"></page-header>

  <search-input (byInput)="onSearch($event)" class="mt-4" width="100%"></search-input>
  <loading-spinner [loading]="loading" class="mt-3"></loading-spinner>
  <div class="scrollable-wrapper">
    <div class="list-container" infinite-scroll (scrolled)="loadMoreItems()">
      <user-list-item
        (byClickAvatar)="onTapProfile(follower)"
        *ngFor="let follower of followers"
        [data]="follower"
        [avatarImage]="follower.node.profileImage"
        [username]="follower.node.username"
      >
        <picnic-button
          *ngIf="follower.node.id !== state.profile?.id && credentialsService.isAuthenticated()"
          [label]="follower.relations!.following ? 'following' : 'follow'"
          [textColor]="follower.relations!.following ? '#FF5D7B' : 'white'"
          [borderColor]="follower.relations!.following ? '#FF5D7B' : ''"
          [border]="follower.relations!.following ? '2px solid' : ''"
          [color]="follower.relations!.following ? 'white' : '#007BFF'"
          (byClick)="onTapFollow(follower)"
          suffix
        ></picnic-button>
      </user-list-item>
    </div>
  </div>
</div>
