<div class="sidebar">
  <div *ngIf="showCircleSummary" class="content-row">
    <div class="circle-info-container">
      <div *ngIf="coverImage" [style.background]="coverImage" class="circle-image-header"></div>
      <div *ngIf="!coverImage" class="circle-image-header">
        <div class="placeholder-container">
          <picnic-icon class="placeholder-icon" name="image-duotone" [size]="75"></picnic-icon>
        </div>
      </div>

      <div class="floating-avatar-container">
        <div class="floating-separator"></div>
        <picnic-avatar
          [src]="circle?.imageFile === '' ? circle?.image ?? '' : circle?.imageFile ?? ''"
          [emojiMode]="circle?.imageFile === ''"
          [showFollows]="false"
          emojiSize="50"
          [size]="78"
          bgColor="#F9F9F9"
        >
        </picnic-avatar>
      </div>
      <br />
    </div>
  </div>

  <br />

  <span title="{{ circle?.name }}">
    <div class="section" content>
      <span *ngIf="currentPage === 'p'" class="circle-name">{{ circle?.name }}</span>
      <span class="section-text">{{ circle?.description }}</span>
      <div class="stats-container">
        <div role="button" class="stats-button">
          <div class="stats-label">posts</div>
          <span class="stats-count">{{ circle?.postsCount ?? 0 | shorthand }}</span>
        </div>

        <div role="button" class="stats-button">
          <div class="stats-label">views</div>
          <span class="stats-count">{{ circle?.viewsCount ?? 0 | shorthand }}</span>
        </div>

        <div (click)="goToMembers()" role="button" class="stats-button">
          <div class="stats-label">members</div>
          <span class="stats-count">{{ circle?.membersCount ?? 0 | shorthand }}</span>
        </div>
      </div>
    </div>
  </span>

  <accordion-item *ngIf="showRules" title="rules">
    <div (click)="goToRules()" role="button" class="section" content>
      <markdown class="section-text" [data]="rulesText ? rulesText : 'be kind and do not disturb others'"></markdown>
    </div>
  </accordion-item>

  <accordion-item title="mods">
    <div class="section" content>
      <span class="mods-list">
        <list-item
          [image]="director?.user?.profileImage"
          (click)="goToProfile(director?.user?.username)"
          [imageSize]="36"
        >
          <ng-template>
            <div class="mod-content">
              <span class="mod-name">{{ director?.user?.username }}</span>
              <span class="mod-role">director</span>
            </div>
          </ng-template>
        </list-item>

        <list-item
          *ngFor="let mod of moderators"
          [image]="mod?.user?.profileImage"
          (click)="goToProfile(mod?.user?.username)"
          [imageSize]="36"
        >
          <ng-template>
            <div class="mod-content">
              <span class="mod-name">{{ mod?.user?.username }}</span>
              <span class="mod-role">mod</span>
            </div>
          </ng-template>
        </list-item>
      </span>
    </div>
  </accordion-item>

  <accordion-item *ngIf="showElections" title="seeds">
    <div class="section" content>
      <div class="seeds-count">
        {{ '🌰 you have ' + seedsCount + ' seeds in this circle' }}
      </div>
    </div>
  </accordion-item>
</div>
