.sidebar {
  width: 100%;
  // height: 100%;
  min-height: 200px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
  position: relative;
}
.circle-image-header {
  width: 100%;
  height: 50%;
  min-height: 200px;
  max-height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.floating-avatar-container {
  position: absolute;
  transform: translate(16px, -50%);
  z-index: 1; /* to make sure the avatar container is on top */
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 16px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  border-bottom: 1px solid var(--stroke-color);
  padding-bottom: 16px;
}

.section-title {
  font-style: normal;
  font-size: 16pt;
  color: var(--text-color);
}

.section-text {
  color: var(--subtitle-color);
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.stats-count {
  font-weight: 600;
  font-size: 14pt;
  color: var(--text-color);
}

.stats-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.stats-label {
  font-weight: 400;
  font-size: 10pt;
  text-align: start;
  color: var(--subtitle-color);
}

.mods-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 5px;
}

.mod-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
}

.mod-name {
  font-style: normal;
  font-weight: 500;
  //font-size: 12pt;
  color: var(--text-color);
  line-height: 15px;
}

.mod-role {
  font-style: normal;
  //font-size: 12pt;
  color: #a771ff;
}

.seeds-count {
  padding: 12px 16px;
  background: var(--bg-secondary-color);
  border-radius: 12px;
  //font-size: 12pt;
  width: 100%;
  margin-bottom: 5px;
}

.placeholder-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--input-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-icon {
  opacity: 0.3;
}

.circle-name {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
  padding: 10px 5px 16px 0px;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    padding-bottom: 30px;
  }
}
