<div class="card-desktop-container">
  <div *ngIf="coverImage" [style.background-image]="coverImage" class="image-header"></div>
  <div *ngIf="!coverImage" class="empty-image-header">
    <picnic-icon class="placeholder-icon" name="image-duotone" [size]="70"></picnic-icon>
  </div>
  <div class="content-container">
    <picnic-avatar
      [src]="circle?.imageFile === '' ? circle?.image ?? '' : circle?.imageFile ?? ''"
      [emojiMode]="circle?.imageFile === ''"
      [showFollows]="false"
      emojiSize="35"
      [size]="60"
      bgColor="#F9F9F9"
      class="floating-avatar"
    >
    </picnic-avatar>

    <span class="circle-name">{{ circle?.name ?? '' | truncate : 25 : false }}</span>
    <span class="circle-description">{{ circle?.description ?? '' | truncate : 60 : false }}</span>
    <div class="stats-container">
      <div role="button" class="stats-button">
        <div class="stats-label">posts</div>
        <span class="stats-count">{{ circle?.postsCount ?? 0 | shorthand }}</span>
      </div>

      <div role="button" class="stats-button">
        <div class="stats-label">views</div>
        <span class="stats-count">{{ circle?.viewsCount ?? 0 | shorthand }}</span>
      </div>

      <div role="button" class="stats-button">
        <div class="stats-label">members</div>
        <span class="stats-count">{{ circle?.membersCount ?? 0 | shorthand }}</span>
      </div>
    </div>
  </div>
</div>

<div class="card-mobile-container">
  <picnic-avatar
    [src]="circle?.imageFile === '' ? circle?.image ?? '' : circle?.imageFile ?? ''"
    [emojiMode]="circle?.imageFile === ''"
    [showFollows]="false"
    emojiSize="36"
    [size]="65"
    bgColor="#F9F9F9"
  >
  </picnic-avatar>
  <span class="circle-name">{{ circle?.name ?? '' | truncate : 25 : false }}</span>
</div>
