.card-desktop-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--stroke-color);
  align-items: flex-start;
  background: var(--bg-color);
  border-radius: 16px;
  overflow: hidden;
}

.image-header {
  width: 100%;
  height: 45%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.empty-image-header {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: var(--bg-secondary-color);
}

.placeholder-icon {
  opacity: 0.3;
  padding-bottom: 15px;
}

.content-container {
  position: relative;
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 18px 18px 18px;
}

.floating-avatar {
  position: absolute;
  top: -30px;
}

.circle-name {
  //font-size: 14pt;
  font-weight: 600;
  color: var(--text-color);
}

.circle-description {
  //font-size: 12pt;
  font-weight: 400;
  color: var(--subtitle-color);
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.stats-count {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
}

.stats-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.stats-label {
  font-weight: 400;
  font-size: 10pt;
  text-align: start;
  color: var(--subtitle-color);
}

.card-mobile-container {
  width: 170px;
  height: 90%;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  gap: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 900px) {
  .card-desktop-container {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .card-mobile-container {
    display: none;
  }
}
