.page-container {
  height: 100%;
  width: 100%;
  padding: 0 0 0x 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 26px;
  margin-top: 16px;
  height: 100%;
  width: 100%;
  max-width: 985px;
  margin: auto;
  overflow: auto;
  margin-top: 16px;
  padding-bottom: 130px;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 18px 32px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 10px 32px 0 26px;
  }

  .list-container {
    padding-bottom: 30px;
  }
}

.item {
  transition: 0.2s background-color ease-in-out;
  padding: 12px 20px;
  border-radius: 14px;
}

.item:hover {
  background-color: var(--bg-secondary-color);
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  //font-size: 14pt;
  line-height: 18px;
  font-weight: 400;
  width: 100%;
  max-width: 400px;
  gap: 4px;
}

.title-label {
  color: var(--text-color);
  font-size: 16pt;
  font-weight: bold;
  user-select: none;
}

.subtitle-label {
  font-weight: 400;
  //font-size: 14pt;
  color: var(--text-color);
  user-select: none;
}

.button {
  align-self: flex-end;
  margin-top: 25px;
}
