.page-container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.chat-header {
  width: 100%;
  height: 70px;
  min-height: 70px;
  padding: 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  gap: 8px;
}

.chat-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.chat-name-label {
  font-size: 11pt;
  line-height: 10px;
}

.chat-info-label {
  font-size: 9pt;
  line-height: 15px;
  font-weight: 300;
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.message-list {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 0 8px;
}

.chat-footer {
  width: 100%;
  padding: 0px 20px 24px 20px;
}
