<div class="page-container">
  <div class="chat-header">
    <picnic-icon-button
      (byClick)="onTapGoBack()"
      name="arrow-left"
      bgColor="transparent"
      iconColor="var(--text-color)"
      [size]="55"
      padding="0"
    ></picnic-icon-button>

    <div class="chat-details-container">
      <picnic-avatar
        (byAvatarClick)="this.isSingleChat ? onTapProfile(chat?.name) : onTapCircle()"
        *ngIf="avatar"
        [src]="avatar"
        [size]="40"
        [emojiMode]="emojiMode"
        emojiSize="40"
        [showFollows]="false"
      ></picnic-avatar>
      <div class="chat-details-content">
        <span (click)="this.isSingleChat ? onTapProfile(chat?.name) : onTapCircle()" class="chat-name-label"
          >{{ chat?.name }}
        </span>

        <div *ngIf="!isSingleChat && !initialLoading" class="chat-info-label">
          <picnic-icon name="people-chat" color="#808080" [size]="15"></picnic-icon>
          <span>{{ infoLabelChat }} members</span>
        </div>
      </div>
    </div>

    <picnic-icon-button
      (byClick)="onTapGoBack()"
      name="more"
      bgColor="transparent"
      iconColor="var(--text-color)"
      [size]="55"
      [iconSize]="30"
      padding="0"
    ></picnic-icon-button>
  </div>

  <loading-spinner [loading]="initialLoading"></loading-spinner>

  <div *ngIf="chat" class="message-list">
    <chat-message-list [chat]="chat" (byReplyTo)="onTapReply($event)"></chat-message-list>
  </div>

  <div *ngIf="chat" class="chat-footer">
    <chat-bottom-bar
      [replyTo]="replyTo"
      [files]="files"
      (byCancelReply)="onTapCancelReply()"
      (byDeleteAttachment)="onTapDeleteAttachment($event)"
      (byUploadAttachment)="onTapUploadAttachment()"
      (bySendMessage)="onTapSendMessage($event, true)"
    ></chat-bottom-bar>
  </div>
</div>
