.post-image {
  height: 70vh;
  width: 100%;
  max-height: 45vh;
  object-fit: contain;
  border-radius: 12px;
  object-position: center;
}

.post-bg {
  background-color: var(--bg-secondary-color);
  border-radius: 12px;
}

@media only screen and (max-width: 600px) {
  .post-image {
    height: auto;
    // max-height: 350px;
    border-radius: 0;
  }
}
