<div class="wrapper-container" [ngSwitch]="postLayout" #postContainer>
  <post-horizontal-layout *ngSwitchCase="layoutEnum.Horizontal" [post]="post" [showComments]="showComments">
    <ng-template>
      <post-content content [post]="post"></post-content>
    </ng-template>
  </post-horizontal-layout>

  <post-vertical-layout *ngSwitchCase="layoutEnum.Vertical" [post]="post">
    <ng-template>
      <post-content content [post]="post"></post-content>
    </ng-template>
  </post-vertical-layout>
</div>
